jaxb2/host-interfaces/src/main/resources/host-interfaces-infrastructure-v1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" version="1.0" targetNamespace="http://www.vd.ch/fiscalite/host-interfaces/infrastructure-v1" xmlns:ns1="http://www.vd.ch/fiscalite/host-interfaces/common-v1" xmlns:tns="http://www.vd.ch/fiscalite/host-interfaces/infrastructure-v1" xmlns:xsd="http:www.w3.org2001XMLSchema" xmlns:inf="http://www.vd.ch/fiscalite/host-interfaces/infrastructure-v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://www.vd.ch/fiscalite/host-interfaces/common-v1" schemaLocation="host-interfaces-common-v1.xsd"/>

  <xs:element name="collectiviteAdministrative" type="tns:collectiviteAdministrativeType"/>

  <xs:element name="commune" type="tns:communeType"/>

  <xs:element name="listeCantons" type="tns:listeCantonsType"/>

  <xs:element name="listeCollectiviteAdministrative" type="tns:listeCollectiviteAdministrativeType"/>

  <xs:element name="listeCommunes" type="tns:listeCommunesType"/>

  <xs:element name="listeLocalites" type="tns:listeLocalitesType"/>

  <xs:element name="listePays" type="tns:listePaysType"/>

  <xs:element name="listeRues" type="tns:listeRuesType"/>

  <xs:element name="listeTypesCollectivite" type="tns:listeTypesCollectiviteType"/>

  <xs:element name="listeTypesCommunicationPourTier" type="tns:listeTypesCommunicationPourTierType"/>

  <xs:element name="localite" type="tns:localiteType"/>

  <xs:element name="rue" type="tns:rueType"/>

  <xs:complexType name="communeType">
    <xs:complexContent>
      <xs:extension base="tns:entiteOFSType">
        <xs:sequence>
          <xs:element name="collectivites" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="collectivites" type="tns:collectiviteAdministrativeType" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="dateDebutValidite" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateFinValidite" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="fraction" type="xs:boolean"/>
          <xs:element name="fractions" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="commune" type="tns:communeType" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="noACI" type="xs:string" minOccurs="0"/>
          <xs:element name="noCantonal" type="xs:string" minOccurs="0"/>
          <xs:element name="noTechnique" type="xs:int"/>
          <xs:element name="nomAbrege" type="xs:string" minOccurs="0"/>
          <xs:element name="numTechMere" type="xs:int"/>
          <xs:element name="principale" type="xs:boolean"/>
          <xs:element name="sigleCanton" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="entiteOFSType" abstract="true">
    <xs:sequence>
      <xs:element name="noOFS" type="xs:int"/>
      <xs:element name="nomMajuscule" type="xs:string" minOccurs="0"/>
      <xs:element name="nomMinuscule" type="xs:string" minOccurs="0"/>
      <xs:element name="sigleOFS" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="collectiviteAdministrativeType" final="extension restriction">
    <xs:sequence>
      <xs:element name="ACI" type="xs:boolean"/>
      <xs:element name="adresse" type="ns1:adresseImpl" minOccurs="0"/>
      <xs:element name="adresseEmail" type="xs:string" minOccurs="0"/>
      <xs:element name="adressesEmail">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"/>
                  <xs:element name="value" minOccurs="0" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="codeActivite" type="xs:string" minOccurs="0"/>
      <xs:element name="codeSupportEchangeTAO" type="xs:string" minOccurs="0"/>
      <xs:element name="communes" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="dateFinValidite" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="noCCP" type="xs:string" minOccurs="0"/>
      <xs:element name="noColAdm" type="xs:int"/>
      <xs:element name="noFax" type="xs:string" minOccurs="0"/>
      <xs:element name="noTelephone" type="xs:string" minOccurs="0"/>
      <xs:element name="nomComplet1" type="xs:string" minOccurs="0"/>
      <xs:element name="nomComplet2" type="xs:string" minOccurs="0"/>
      <xs:element name="nomComplet3" type="xs:string" minOccurs="0"/>
      <xs:element name="nomCourt" type="xs:string" minOccurs="0"/>
      <xs:element name="nouvelOID" type="xs:int" minOccurs="0"/>
      <xs:element name="OID" type="xs:boolean"/>
      <xs:element name="regionRattachement" type="tns:regionType" minOccurs="0"/>
      <xs:element name="sigle" type="xs:string" minOccurs="0"/>
      <xs:element name="sigleCanton" type="xs:string" minOccurs="0"/>
      <xs:element name="tiersTAO" type="xs:boolean"/>
      <xs:element name="type" type="tns:typeCollectiviteType" minOccurs="0"/>
      <xs:element name="typeCommunicationPourTier" type="tns:typeCommunicationPourTierType" minOccurs="0"/>
      <xs:element name="valide" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="communeSimpleType">
    <xs:complexContent>
      <xs:extension base="tns:entiteOFSType">
        <xs:sequence>
          <xs:element name="dateDebutValidite" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="dateFinValidite" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="fraction" type="xs:boolean"/>
          <xs:element name="noACI" type="xs:string" minOccurs="0"/>
          <xs:element name="noCantonal" type="xs:string" minOccurs="0"/>
          <xs:element name="noTechnique" type="xs:int"/>
          <xs:element name="nomAbrege" type="xs:string" minOccurs="0"/>
          <xs:element name="numTechMere" type="xs:int"/>
          <xs:element name="principale" type="xs:boolean"/>
          <xs:element name="sigleCanton" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="paysType">
    <xs:complexContent>
      <xs:extension base="tns:entiteOFSType">
        <xs:sequence>
          <xs:element name="codePays" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="regionType" final="extension restriction">
    <xs:sequence>
      <xs:element name="idDirectionRegionale" type="xs:int"/>
      <xs:element name="idTechnique" type="xs:int"/>
      <xs:element name="nomRegion" type="xs:string" minOccurs="0"/>
      <xs:element name="sigle" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="typeCollectiviteType">
    <xs:sequence>
      <xs:element name="codeTypeCollectivite" type="xs:string" minOccurs="0"/>
      <xs:element name="designation" type="xs:string" minOccurs="0"/>
      <xs:element name="noTechnique" type="xs:int" minOccurs="0"/>
      <xs:element name="profilTiersTAOPersonnePhysique" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="typeCommunicationPourTierType">
    <xs:sequence>
      <xs:element name="libelle" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cantonType">
    <xs:complexContent>
      <xs:extension base="tns:entiteOFSType">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="listeCantonsType">
    <xs:sequence>
      <xs:element name="canton" type="tns:cantonType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listeCollectiviteAdministrativeType">
    <xs:sequence>
      <xs:element name="collectiviteAdministrative" type="tns:collectiviteAdministrativeType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listeCommunesType">
    <xs:sequence>
      <xs:element name="commune" type="tns:communeType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listeLocalitesType">
    <xs:sequence>
      <xs:element name="localite" type="tns:localiteType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="localiteType">
    <xs:sequence>
      <xs:element name="chiffreComplementaire" type="xs:int" minOccurs="0"/>
      <xs:element name="communeLocalite" type="tns:communeSimpleType" minOccurs="0"/>
      <xs:element name="complementNPA" type="xs:int" minOccurs="0"/>
      <xs:element name="dateFinValidite" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="NPA" type="xs:int" minOccurs="0"/>
      <xs:element name="noCommune" type="xs:int" minOccurs="0"/>
      <xs:element name="noOrdre" type="xs:int" minOccurs="0"/>
      <xs:element name="nomAbregeMajuscule" type="xs:string" minOccurs="0"/>
      <xs:element name="nomAbregeMinuscule" type="xs:string" minOccurs="0"/>
      <xs:element name="nomCompletMajuscule" type="xs:string" minOccurs="0"/>
      <xs:element name="nomCompletMinuscule" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listePaysType">
    <xs:sequence>
      <xs:element name="pays" type="tns:paysType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listeRuesType">
    <xs:sequence>
      <xs:element name="rue" type="tns:rueType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rueType">
    <xs:sequence>
      <xs:element name="designationCourrier" type="xs:string" minOccurs="0"/>
      <xs:element name="noLocalite" type="xs:int" minOccurs="0"/>
      <xs:element name="noRue" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listeTypesCollectiviteType">
    <xs:sequence>
      <xs:element name="typeCollectivite" type="tns:typeCollectiviteType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listeTypesCommunicationPourTierType">
    <xs:sequence>
      <xs:element name="typeCommunicationPourTier" type="tns:typeCommunicationPourTierType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

