unireg-jaxb2-rcpers/src/main/resources/eVD-0001-3-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Gabrielle Déal (DIRECTION DES SYSTEMS D'INFORMATION) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:eVD-0001="http://evd.vd.ch/xmlns/eVD-0001/3"
		   xmlns:eVD-0009="http://evd.vd.ch/xmlns/eVD-0009/1"
		   xmlns:eCH-0006="http://www.ech.ch/xmlns/eCH-0006/2"
		   xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007/4"
		   xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/4"
		   xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011/5"
		   xmlns:eCH-0021="http://www.ech.ch/xmlns/eCH-0021/4"
		   xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/2"
		   xmlns:eCH-0084="http://www.ech.ch/xmlns/eCH-0084/1"
		   targetNamespace="http://evd.vd.ch/xmlns/eVD-0001/3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xs:annotation>
		<xs:documentation xml:lang="fr">
			Version initiale. Types et éléments servants à la recherche de personnes dans RCPers.
		</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0006/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0006/2/eCH-0006-2-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0007/4/eCH-0007-4-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0010/4/eCH-0010-4-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0011/5" schemaLocation="http://www.ech.ch/xmlns/eCH-0011/5/eCH-0011-5-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0021/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0021/4/eCH-0021-4-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0044/2/eCH-0044-2-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0084/1" schemaLocation="http://www.ech.ch/xmlns/eCH-0084/1/eCH-0084-commons-1-0.xsd"/>
	<xs:import namespace="http://evd.vd.ch/xmlns/eVD-0009/1" schemaLocation="http://evd.vd.ch/xmlns/eVD-0009/1/eVD-0009-1-0.xsd"/>
	<xs:simpleType name="residenceMunicipalityTypeType">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfRelationshipType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>1 = Est conjoint(e)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>2 = Est partenaire enregistré</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>3 = Est mère</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>4 = Est père</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="101">
				<xs:annotation>
					<xs:documentation>101 = Est fille</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="102">
				<xs:annotation>
					<xs:documentation>102 = Est fils</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="personIdentificationType">
		<xs:sequence>
			<xs:element name="localPersonId" type="eCH-0044:namedPersonIdType">
				<xs:annotation>
					<xs:documentation>Caractère 1.2 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherPersonId" type="eCH-0044:namedPersonIdType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Caractère 1.3 du catalogue officiel des caractères vaudois, en fonction des droits de l'utilisateur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="officialName" type="eCH-0044:baseNameType">
				<xs:annotation>
					<xs:documentation>Caractère 2.1.1 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstNames" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 2.2.1 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfBirth" type="eCH-0044:datePartiallyKnownType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 2.3 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sex" type="eCH-0044:sexType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 2.7 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="identityType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eVD-0001:personIdentificationType"/>
			<xs:element name="originalName" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 2.1.2 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alliancePartnershipName" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 2.1.3 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nameOnPassport" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 2.1.4 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="aliasName" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 2.1.5 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherName" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 2.1.6 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callName" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 2.2.2 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="placeOfBirth" type="eCH-0011:birthplaceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 2.4 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parent" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 2.5 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="mothersName" type="eCH-0084:fullName_Type" minOccurs="0"/>
						<xs:element name="fathersName" type="eCH-0084:fullName_Type" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="origin" type="eCH-0011:placeOfOriginType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Caractère 2.6 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="upiPersonType">
		<xs:sequence>
			<xs:element name="vn" type="eCH-0044:vnType"/>
			<xs:element name="valuesStoredUnderAhvvn" type="eCH-0084:valuesStoredUnderAhvvn_Type">
				<xs:annotation>
					<xs:documentation xml:lang="fr">Caractères 142 à 1415 du Catalogue officiel des caractères  </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="residencePermitType">
		<xs:sequence>
			<xs:element name="residencePermit" type="eCH-0006:residencePermitType">
				<xs:annotation>
					<xs:documentation>Caractère 521 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="residencePermitValidFrom" type="xs:date" minOccurs="0"/>
			<xs:element name="residencePermitTill" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 522 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="residenceMunicipalityType">
		<xs:sequence>
			<xs:element name="typeOfReportingRelationship" type="eVD-0009:typeOfReportingRelationshipCodeType">
				<xs:annotation>
					<xs:documentation>Caractère 72 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="residenceMunicipality" type="eCH-0007:swissMunicipalityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="residenceType">
		<xs:sequence>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Caractères 7.3, 7.7 et 7.8 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
				<xs:element name="mainResidence">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="secondaryResidence" type="eCH-0007:swissMunicipalityType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="secondaryResidence">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="mainResidence" type="eCH-0007:swissMunicipalityType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="otherResidence">
					<xs:complexType/>
				</xs:element>
			</xs:choice>
			<xs:element name="reportingMunicipality" type="eCH-0007:swissMunicipalityType">
				<xs:annotation>
					<xs:documentation>Caractère 7.1 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="residenceMunicipality" type="eCH-0007:swissMunicipalityType">
				<xs:annotation>
					<xs:documentation>Caractère 7.2 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="arrivalDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 7.4.1 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comesFrom" type="eCH-0011:destinationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractères 7.4.2 et 7.4.3 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwellingAddress" type="eVD-0001:dwellingAddressType"/>
			<xs:element name="departureDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 7.5.1 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="goesTo" type="eCH-0011:destinationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractères 7.5.2 et 7.5.3 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dwellingAddressType">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:element name="EGID" type="eCH-0011:EGIDType">
						<xs:annotation>
							<xs:documentation>Caractère 8.1 du catalogue officiel des caractères vaudois </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice minOccurs="0">
						<xs:element name="EWID" type="eCH-0011:EWIDType">
							<xs:annotation>
								<xs:documentation>Caractère 8.2 du catalogue officiel des caractères vaudois </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="householdID" type="xs:token" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Caractère 8.4 du catalogue officiel des caractères vaudois </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
				<xs:element name="withoutEGID">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="householdID" type="xs:token">
								<xs:annotation>
									<xs:documentation>Caractère 84 du catalogue officiel des caractères vaudois </xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="address" type="eCH-0010:swissAddressInformationType">
				<xs:annotation>
					<xs:documentation>Caractère 3.1 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typeOfHousehold" type="eCH-0011:typeOfHouseholdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 8.3 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="movingDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 7.6 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="householdCompositionType">
		<xs:sequence>
			<xs:element name="parent" type="eVD-0001:personIdentificationType" minOccurs="0" maxOccurs="2"/>
			<xs:element name="child" type="eVD-0001:personIdentificationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="foundPersonType">
		<xs:sequence>
			<xs:element name="person" type="eVD-0001:personIdentificationType"/>
			<xs:element name="nationality" type="eCH-0011:nationalityType">
				<xs:annotation>
					<xs:documentation>Caractères 5.1.1 et 5.1.2 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="residencePermit" type="eVD-0001:residencePermitType" minOccurs="0"/>
			<xs:element name="residenceMunicipality" type="eVD-0001:residenceMunicipalityType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="mailAddress" type="eCH-0010:addressInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 3.2 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="historyContactType">
		<xs:sequence>
			<xs:element name="contactValidTill" type="xs:date" minOccurs="0"/>
			<xs:element name="contactValidFrom" type="xs:date" minOccurs="0"/>
			<xs:element name="contact" type="eCH-0010:mailAddressType">
				<xs:annotation>
					<xs:documentation>Caractère 32 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="personType">
		<xs:sequence>
			<xs:element name="identity" type="eVD-0001:identityType"/>
			<xs:element name="upiPerson" type="eVD-0001:upiPersonType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractères 1.1 et 1.4 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="currentResidence" type="eVD-0001:residenceType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Caractère 3.1 du catalogue des caractères vaudois. Élément contenant les adresses courantes de la personne qui peuvent être multiples en cas de résidence secondaire. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="residenceHistory" type="eVD-0001:residenceType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Caractère 3.1 du catalogue des caractères vaudois. Élément retourné via l'utilisation du paramètre "history" du service "persons" : il contient toutes les adresses de résidence connues dans RCPers pour la personne, toute relation d'annonce confondue (principal, secondaire, autre)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice minOccurs="0">
				<xs:element name="currentContact" type="eCH-0010:mailAddressType">
					<xs:annotation>
						<xs:documentation>Caractère 3.2 du catalogue officiel des caractères vaudois. Élément contenant le contact courant de la personne. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="contactHistory" type="eVD-0001:historyContactType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Caractère 3.2 du catalogue officiel des caractères vaudois. Élément retourné via l'utilisation du paramètre "history" du service "persons" : il contient toutes les adresses de contact connues dans RCPers pour la personne. </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice>
				<xs:element name="currentMaritalStatus" type="eCH-0011:maritalDataType">
					<xs:annotation>
						<xs:documentation>Caractère 3.2 du catalogue officiel des caractères vaudois. Élément contenant l'état civil courant de la personne.  </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="maritalStatusHistory" type="eCH-0011:maritalDataType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Caractère 3.2 du catalogue officiel des caractères vaudois. Élément retourné via l'utilisation du paramètre "history" du service persons : il contient tous les états civils connus dans RCPers pour la personne. </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="religion" type="eVD-0009:religionCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 9.1 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nationality" type="eCH-0011:nationalityType">
				<xs:annotation>
					<xs:documentation>Caractère 5.1 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="residencePermit" type="eVD-0001:residencePermitType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 5.2 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfDeath" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 4.5 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataLock" type="eCH-0021:dataLockType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 9.2 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="relationshipType">
		<xs:sequence>
			<xs:element name="typeOfRelationship" type="eVD-0001:typeOfRelationshipType">
				<xs:annotation>
					<xs:documentation>Caractère 10.1 du catalogue officiel des caractères vaudois :
• 1 = Est conjoint(e),
• 2 = Est partenaire
• 3 = Est mère,
• 4 = Est père,
• 101 =  Est fille,
• 102 = Est fils.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="personLink" type="xs:string">
				<xs:annotation>
					<xs:documentation>URL vers la ressource persons correspondant à cette relation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="localPersonId" type="eCH-0044:namedPersonIdType">
				<xs:annotation>
					<xs:documentation>Caractère 10.2 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="relationValidFrom" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 10.3 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="relationValidTill" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 10.4 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="relationsType">
		<xs:choice minOccurs="0">
			<xs:element name="currentRelationship" type="eVD-0001:relationshipType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Caractère 10 du catalogue des caractères vaudois. Élément contenant les relations courantes de la personne. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="relationshipHistory" type="eVD-0001:relationshipType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Caractère 10 du catalogue officiel des caractères vaudois. Élément retourné via l'utilisation du paramètre "history" du service persons : il contient toutes les relations connues dans RCPers pour la personne</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:element name="listOfFoundPersons">
		<xs:annotation>
			<xs:documentation>Liste de personnes trouvées</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="numberOfResults" type="xs:integer"/>
				<xs:element name="listOfResults">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="foundPerson" type="eVD-0001:foundPersonType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="nextResults" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="listOfPersons">
		<xs:annotation>
			<xs:documentation>Liste de personnes</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="numberOfResults" type="xs:integer"/>
				<xs:element name="listOfResults">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="person" type="eVD-0001:personType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="nextResults" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="household">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="householdComposition" type="eVD-0001:householdCompositionType">
					<xs:annotation>
						<xs:documentation>Caractère 6 du catalogue officiel des caractères vaudois</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="relations">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="relationship" type="eVD-0001:relationsType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
