unireg-jaxb2-rcpers/src/main/resources/eVD-0001-2-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by GDL (Etat de Vaud) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eVD-0001="http://evd.vd.ch/xmlns/eVD-0001/2" xmlns:eVD-0009="http://evd.vd.ch/xmlns/eVD-0009/1" xmlns:eCH-0006="http://www.ech.ch/xmlns/eCH-0006/2" xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007/4" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/4" xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011/5" xmlns:eCH-0021="http://www.ech.ch/xmlns/eCH-0021/2" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/2" xmlns:eCH-0084="http://www.ech.ch/xmlns/eCH-0084/1" targetNamespace="http://evd.vd.ch/xmlns/eVD-0001/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xs:annotation>
		<xs:documentation xml:lang="fr">
			Version initiale. Types et éléments servants à la recherche de personnes dans RCPers.
		</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0006/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0006/2/eCH-0006-2-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0007/4/eCH-0007-4-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0010/4/eCH-0010-4-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0011/5" schemaLocation="http://www.ech.ch/xmlns/eCH-0011/5/eCH-0011-5-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0044/2/eCH-0044-2-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0084/1" schemaLocation="http://www.ech.ch/xmlns/eCH-0084/1/eCH-0084-commons-1-0.xsd"/>
	<xs:import namespace="http://evd.vd.ch/xmlns/eVD-0009/1" schemaLocation="http://evd.vd.ch/xmlns/eVD-0009/1/eVD-0009-1-0.xsd"/>
	<xs:simpleType name="residenceMunicipalityTypeType">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="personIdentificationType">
		<xs:sequence>
			<xs:element name="localPersonId" type="eCH-0044:namedPersonIdType">
				<xs:annotation>
					<xs:documentation>Identifiant local du système ayant appelé la ressource</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherPersonId" type="eCH-0044:namedPersonIdType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Caractères 11, 12 et 13 du catalogue officiel des caractères vaudois, en fonction des droits de l'utilisateur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="officialName" type="eCH-0044:baseNameType">
				<xs:annotation>
					<xs:documentation>Caractère 211 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstNames" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 221 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfBirth" type="eCH-0044:datePartiallyKnownType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 23 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sex" type="eCH-0044:sexType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 27 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="identityType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eVD-0001:personIdentificationType"/>
			<xs:element name="originalName" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 212 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alliancePartnershipName" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 213 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nameOnPassport" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 214 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="aliasName" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 215 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherName" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 216 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callName" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 222 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="placeOfBirth" type="eCH-0011:birthplaceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 24 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parent" type="eVD-0001:personIdentificationType" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Caractère 25 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="origin" type="eCH-0011:placeOfOriginType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Caractère 26 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="upiPersonType">
		<xs:sequence>
			<xs:element name="vn" type="eCH-0044:vnType"/>
			<xs:element name="valuesStoredUnderAhvvn" type="eCH-0084:valuesStoredUnderAhvvn_Type">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
					Cet élément contient les valeurs actuelles (telles qu'elles sont connues
					de l'UPI à l'instant mentionné dans l'élément lastUpdateTimestamp) des attributs de la personne
					ayant le NAVS13 contenue dans l'élément vn.
				</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="residencePermitType">
		<xs:sequence>
			<xs:element name="residencePermit" type="eCH-0006:residencePermitType">
				<xs:annotation>
					<xs:documentation>Caractère 521 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="residencePermitTill" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 522 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="residenceMunicipalityType">
		<xs:sequence>
			<xs:element name="typeOfReportingRelationship" type="eVD-0009:typeOfReportingRelationshipCodeType">
				<xs:annotation>
					<xs:documentation>Caractère 72 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="residenceMunicipality" type="eCH-0007:swissMunicipalityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="residenceType">
		<xs:sequence>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Caractères 53, 76 et 77 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
				<xs:element name="mainResidence">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="secondaryResidences" type="eCH-0007:swissMunicipalityType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="secondaryResidence">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="mainResidence" type="eCH-0007:swissMunicipalityType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="otherResidence">
					<xs:complexType/>
				</xs:element>
			</xs:choice>
			<xs:element name="reportingMunicipality" type="eCH-0007:swissMunicipalityType">
				<xs:annotation>
					<xs:documentation>Caractère 711 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="residenceMunicipality" type="eCH-0007:swissMunicipalityType">
				<xs:annotation>
					<xs:documentation>Caractère 712 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="arrivalDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Caractère 731 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comesFrom" type="eCH-0011:destinationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractères 732 et 733 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwellingAddress" type="eVD-0001:dwellingAddressType"/>
			<xs:element name="departureDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 741 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="goesTo" type="eCH-0011:destinationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractères 742 et 743 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dwellingAddressType">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:element name="EGID" type="eCH-0011:EGIDType">
						<xs:annotation>
							<xs:documentation>Caractère 81 du catalogue officiel des caractères vaudois </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice minOccurs="0">
						<xs:element name="EWID" type="eCH-0011:EWIDType">
							<xs:annotation>
								<xs:documentation>Caractère 82 du catalogue officiel des caractères vaudois </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="householdID" type="xs:token" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Caractère 84 du catalogue officiel des caractères vaudois </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
				<xs:element name="withoutEGID">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="householdID" type="xs:token">
								<xs:annotation>
									<xs:documentation>Caractère 84 du catalogue officiel des caractères vaudois </xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="address" type="eCH-0010:swissAddressInformationType">
				<xs:annotation>
					<xs:documentation>Caractère 31 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typeOfHousehold" type="eCH-0011:typeOfHouseholdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 83 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="movingDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 75 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="householdCompositionType">
		<xs:sequence>
			<xs:element name="parent" type="eVD-0001:personIdentificationType" minOccurs="0" maxOccurs="2"/>
			<xs:element name="child" type="eVD-0001:personIdentificationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="foundPersonType">
		<xs:sequence>
			<xs:element name="person" type="eVD-0001:personIdentificationType"/>
			<xs:element name="nationality" type="eCH-0011:nationalityType">
				<xs:annotation>
					<xs:documentation>Caractères 511 et 512 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="residencePermit" type="eVD-0001:residencePermitType" minOccurs="0"/>
			<xs:element name="residenceMunicipality" type="eVD-0001:residenceMunicipalityType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="mailAddress" type="eCH-0010:addressInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 32 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="personType">
		<xs:sequence>
			<xs:element name="identity" type="eVD-0001:identityType"/>
			<xs:element name="upiPerson" type="eVD-0001:upiPersonType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 14 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="residence" type="eVD-0001:residenceType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="contact" type="eCH-0010:mailAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 31 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maritalStatus" type="eCH-0011:maritalDataType">
				<xs:annotation>
					<xs:documentation>Caractère 4 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="religion" type="eVD-0009:religionCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 91 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nationality" type="eCH-0011:nationalityType">
				<xs:annotation>
					<xs:documentation>Caractère 51 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="residencePermit" type="eVD-0001:residencePermitType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 52 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfDeath" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 45 du catalogue officiel des caractères vaudois </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="listOfFoundPersons">
		<xs:annotation>
			<xs:documentation>Liste de personnes trouvées</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="numberOfResults" type="xs:integer"/>
				<xs:element name="listOfResults">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="foundPerson" type="eVD-0001:foundPersonType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="nextResults" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="listOfPersons">
		<xs:annotation>
			<xs:documentation>Liste de personnes</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="numberOfResults" type="xs:integer"/>
				<xs:element name="listOfResults">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="person" type="eVD-0001:personType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="nextResults" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="household">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="householdComposition" type="eVD-0001:householdCompositionType">
					<xs:annotation>
						<xs:documentation>Caractère 6 du catalogue officiel des caractères vaudois</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
