unireg-ws-v6/src/main/resources/party/unireg-party-taxpayer-4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- v3.0 : version initiale dépendante de common/2 -->
<xs:schema targetNamespace="http://www.vd.ch/fiscalite/unireg/party/taxpayer/4" elementFormDefault="qualified"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:taxpayer="http://www.vd.ch/fiscalite/unireg/party/taxpayer/4"
		   xmlns:common="http://www.vd.ch/fiscalite/unireg/common/2" xmlns:party="http://www.vd.ch/fiscalite/unireg/party/party/4"
		   xmlns:taxresidence="http://www.vd.ch/fiscalite/unireg/party/taxresidence/3" xmlns:immo="http://www.vd.ch/fiscalite/unireg/party/immovableproperty/2"
		   xmlns:ebilling="http://www.vd.ch/fiscalite/unireg/party/ebilling/1"
		   xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">

	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/common/2" schemaLocation="../unireg-common-2.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/party/4" schemaLocation="unireg-party-4.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/taxresidence/3" schemaLocation="unireg-party-taxresidence-3.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/immovableproperty/2" schemaLocation="unireg-party-immovableproperty-2.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/ebilling/1" schemaLocation="unireg-party-ebilling-1.xsd" />

	<xs:complexType abstract="true" name="taxpayerType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Classe de base pour les contribuables. Les collections sont renseignées en fonction des parts demandées lors de l'appel au service.
					</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="party:partyType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="familyStatuses" type="taxpayer:familyStatusType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'historique complet des situations de famille du contribuable.
										Attention ! Cette collection n'est renseignée qui si la part FAMILY_STATUSES est demandée.
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="taxLiabilities" type="taxresidence:taxLiabilityType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'historique complet des assujettissements du contribuable (en cas de conflit entre l'assujettissement source et ordinaire, l'assujettissement
										ordinaire est privilégié).
										Attention ! Cette collection n'est renseignée qui si la part TAX_LIABILITIES est demandée.
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="simplifiedTaxLiabilityVD" type="taxresidence:simplifiedTaxLiabilityType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La liste des périodes d'assujettissement au niveau cantonal (LIC) du contribuable. Cette liste peut être vide si le tiers n'est pas assujetti.
										Attention ! Cette collection n'est renseignée qui si la part SIMPLIFIED_TAX_LIABILITIES est demandée.
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="simplifiedTaxLiabilityCH" type="taxresidence:simplifiedTaxLiabilityType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La liste des périodes d'assujettissement au niveau fédéral (LIFD) du contribuable. Cette liste peut être vide si le tiers n'est pas assujetti.
										Attention ! Cette collection n'est renseignée qui si la part SIMPLIFIED_TAX_LIABILITIES est demandée.
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="taxationPeriods" type="taxresidence:taxationPeriodType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La liste des périodes d'imposition. Cette liste peut être vide si le tiers n'est pas assujetti.
										Attention ! Cette collection n'est renseignée qui si la part TAXATION_PERIODS est demandée.
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="immovableProperties" type="immo:immovablePropertyType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La liste des immeubles. Cette liste peut être vide si le tiers ne possède pas d'immeuble.
										Attention ! Cette collection n'est renseignée qui si la part IMMOVABLE_PROPERTIES est demandée.
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="ebillingStatuses" type="ebilling:ebillingStatusType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La liste des états d'inscription e-Facture. Cette liste peut être vide si le tiers n'a jamais été lié à la fonctionnalité e-Facture.
										Attention ! Cette collection n'est renseignée qui si la part EBILLING_STATUSES est demandée.
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="familyStatusType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Contient la situation familliale d'un contribuable d'un point de vue fiscal.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateFrom" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de début de la situation.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="dateTo" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de fin de la situation. Si elle est toujours active, cette date n'est pas renseignée.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="cancellationDate" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Date à laquelle la situation de famille a été annulée, ou non-renseigné si elle n'est pas annulée.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="numberOfChildren" type="xs:int">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le nombre d'enfants à charge du contribuable, ou non-renseigné si cette information n'est pas connue ou inapplicable.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="applicableTariff" type="taxpayer:withholdingTaxTariffType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Tarif impôt source applicable.
								Attention ! Ce champ est renseigné uniquement dans le cas où le contribuable associé est:
								- un ménage commun
								- composé uniquement de sourciers
								Il est null dans tous les autres cas.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="mainTaxpayerNumber" type="common:partyNumberType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Numéro du contribuable principal d'un couple sourcier.
								Attention ! Ce champ est renseigné uniquement dans le cas où le contribuable associé est:
								- un ménage commun
								- composé uniquement de sourciers
								Il est null dans tous les autres cas.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="maritalStatus" type="taxpayer:maritalStatusType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Etat civil admis par l’ACI et imprimé sur la déclaration d’impôt, qui peut différer de celui connu par le contrôle des habitants.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="maritalStatusType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass>
					<jxb:javadoc>L'état-civil d'une personne physique.</jxb:javadoc>
				</jxb:typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SINGLE">
				<xs:annotation>
					<xs:documentation>Célibataire.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MARRIED">
				<xs:annotation>
					<xs:documentation>Marié.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WIDOWED">
				<xs:annotation>
					<xs:documentation>Veuf.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REGISTERED_PARTNER">
				<xs:annotation>
					<xs:documentation>Lié par partenariat enregistré.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NOT_MARRIED">
				<xs:annotation>
					<xs:documentation>Non marié.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTNERSHIP_ABOLISHED_BY_LAW">
				<xs:annotation>
					<xs:documentation>Partenariat dissous judiciairement.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DIVORCED">
				<xs:annotation>
					<xs:documentation>Divorcé.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SEPARATED">
				<xs:annotation>
					<xs:documentation>Séparé.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTNERSHIP_ABOLISHED_BY_DEATH">
				<xs:annotation>
					<xs:documentation>Partenariat dissous pour cause de décès.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTNERSHIP_SEPARATED">
				<xs:annotation>
					<xs:documentation>Partenariat séparé.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="withholdingTaxTariffType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass>
					<jxb:javadoc>Le tarif impôt-source d'un sourcier.</jxb:javadoc>
				</jxb:typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NORMAL">
				<xs:annotation>
					<xs:documentation>Normal.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DOUBLE_REVENUE">
				<xs:annotation>
					<xs:documentation>Double-gain.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="shortLegalFormType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass>
					<jxb:javadoc>La forme courte (= 2 positions) de la forme juridique d'une entreprise (d'après eCH-0097-2)</jxb:javadoc>
				</jxb:typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="LF01">
				<xs:annotation>
					<xs:documentation>Forme juridique de droit privé, utilisée au registre du commerce.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LF02">
				<xs:annotation>
					<xs:documentation>Forme juridique de droit public, non-utilisée au registre du commerce.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LF03">
				<xs:annotation>
					<xs:documentation>Autre forme juridique non utilisée au registre du commerce.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LF04">
				<xs:annotation>
					<xs:documentation>Entreprise étrangère.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="fullLegalFormType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass>
					<jxb:javadoc>La forme longue (= 4 positions) de la forme juridique d'une entreprise (d'après eCH-0097-2)</jxb:javadoc>
				</jxb:typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SOLE_PROPRIETORSHIP">
				<xs:annotation>
					<xs:documentation>Entreprise individuelle / EI (0101).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GENERAL_PARTNERSHIP">
				<xs:annotation>
					<xs:documentation>Société en nom collectif / SNC (0102).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LIMITED_PARTNERSHIP">
				<xs:annotation>
					<xs:documentation>Société en commandite / SC (0104).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LIMITED_JOINT_STOCK_PARTNERSHIP">
				<xs:annotation>
					<xs:documentation>Société en commandite par actions / SCA (0105).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LIMITED_COMPANY">
				<xs:annotation>
					<xs:documentation>Société anonyme / SA (0106).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LIMITED_LIABILITY_COMPANY">
				<xs:annotation>
					<xs:documentation>Société à responsabilité limitée / SARL (0107).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COOPERATIVE_SOCIETY">
				<xs:annotation>
					<xs:documentation>Société coopérative (0108).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASSOCIATION">
				<xs:annotation>
					<xs:documentation>Association (0109).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FOUNDATION">
				<xs:annotation>
					<xs:documentation>Fondation (0110).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REGISTERED_BRANCH_OF_FOREIGN_BASED_COMPANY">
				<xs:annotation>
					<xs:documentation>Filiale étrangère inscrite au registre du commerce (0111).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHER">
				<xs:annotation>
					<xs:documentation>Forme juridique qui ne peut figurer sous aucune autre catégorie (0113).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LIMITED_PARTNERSHIP_FOR_COLLECTIVE_INVESTMENTS">
				<xs:annotation>
					<xs:documentation>Société en commandite pour les placements collectifs de capitaux / fonds de placement (0114).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OPEN_ENDED_INVESTMENT_TRUST">
				<xs:annotation>
					<xs:documentation>Société d'investissement à capital variable / SICAV (0115).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CLOSED_END_INVESTMENT_TRUST">
				<xs:annotation>
					<xs:documentation>Société d'investissement à capital fixe / SICAF (0116).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STATUTORY_INSTITUTE">
				<xs:annotation>
					<xs:documentation>Institut de droit public (0117).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NON_COMMERCIAL_PROXY">
				<xs:annotation>
					<xs:documentation>Procuration non-commerciale (0118).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="JOINT_POSSESSION">
				<xs:annotation>
					<xs:documentation>Indivision (0119).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BRANCH_OF_SWISS_COMPANY">
				<xs:annotation>
					<xs:documentation>Succursale suisse inscrite au registre du commerce (0151).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FEDERAL_ADMINISTRATION">
				<xs:annotation>
					<xs:documentation>Administration de la confédération (0220).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CANTONAL_ADMINISTRATION">
				<xs:annotation>
					<xs:documentation>Administration cantonale (0221).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DISTRICT_ADMINISTRATION">
				<xs:annotation>
					<xs:documentation>Administration de district (0222).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MUNICIPALITY_ADMINISTRATION">
				<xs:annotation>
					<xs:documentation>Administration communale (0223).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STATUTORY_ADMINISTRATION">
				<xs:annotation>
					<xs:documentation>Corporation de droit public / administration (0224).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FEDERAL_CORPORATION">
				<xs:annotation>
					<xs:documentation>Entreprise de la confédération (0230).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CANTONAL_CORPORATION">
				<xs:annotation>
					<xs:documentation>Entreprise cantonale (0231).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DISTRICT_CORPORATION">
				<xs:annotation>
					<xs:documentation>Entreprise de district (0232).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MUNICIPALITY_CORPORATION">
				<xs:annotation>
					<xs:documentation>Entreprise communale (0233).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STATUTORY_CORPORATION">
				<xs:annotation>
					<xs:documentation>Corporation de droit public / entreprise (0234).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SIMPLE_COMPANY">
				<xs:annotation>
					<xs:documentation>Société simple (0302).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UNREGISTERED_BRANCH_OF_FOREIGN_BASED_COMPANY">
				<xs:annotation>
					<xs:documentation>Filiale étrangère non-inscrite au registre du commerce (0312).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FOREIGN_STATUTORY_CORPORATION">
				<xs:annotation>
					<xs:documentation>Entreprise publique étrangère (0327).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FOREIGN_STATUTORY_ADMINISTRATION">
				<xs:annotation>
					<xs:documentation>Administration publique étrangère (0328).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INTERNATIONAL_ORGANIZATION">
				<xs:annotation>
					<xs:documentation>Organisation internationale (0329).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FOREIGN_CORPORATION">
				<xs:annotation>
					<xs:documentation>Entreprise étrangère (0441).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
