jaxb2/party/src/main/resources/party/unireg-party-corporation-5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 5.0 : version initiale -->
<xs:schema targetNamespace="http://www.vd.ch/fiscalite/unireg/party/corporation/5" elementFormDefault="qualified"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:corporation="http://www.vd.ch/fiscalite/unireg/party/corporation/5"
		   xmlns:common="http://www.vd.ch/fiscalite/unireg/common/2" xmlns:taxpayer="http://www.vd.ch/fiscalite/unireg/party/taxpayer/5"
		   xmlns:land="http://www.vd.ch/fiscalite/unireg/party/landregistry/1" xmlns:ldl="http://www.vd.ch/fiscalite/unireg/party/landtaxlightening/1" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">

	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/common/2" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/unireg-common-2.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/party/5" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/party/unireg-party-5.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/taxpayer/5" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/party/unireg-party-taxpayer-5.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/landregistry/1" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/party/unireg-party-landregistry-1.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/landtaxlightening/1" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/party/unireg-party-landtaxlightening-1.xsd" />

	<xs:complexType name="corporationType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Classe concrète qui contient toutes les informations d'un contribuable de type personne morale.
						Les collections sont renseignées en fonction des parts demandées lors de l'appel au service.
					</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxpayer:taxpayerType">
				<xs:sequence>
					<xs:element name="name" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Raison sociale.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="legalSeats" type="corporation:legalSeatType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'historique des sièges, uniquement rempli si la part LEGAL_SEATS est demandée.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="legalForms" type="corporation:legalFormType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'historique des formes juridiques, uniquement rempli si la part LEGAL_FORMS est demandée.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="capitals" type="corporation:capitalType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'historique des capitaux, uniquement rempli si la part CAPITALS est demandée.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="taxSystemsVD" type="corporation:taxSystemType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'historique des régimes fiscaux ICC (Impôt Canton-Commune), uniquement rempli si la part TAX_SYSTEMS est demandée.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="taxSystemsCH" type="corporation:taxSystemType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'historique des régimes fiscaux IFD (Impôt Fédéral Direct), uniquement rempli si la part TAX_SYSTEMS est demandée.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="taxLightenings" type="corporation:taxLighteningType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'historique des allègements fiscaux, uniquement rempli si la part TAX_LIGHTENINGS est demandée.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="corporationStatuses" type="corporation:corporationStatusType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'historique des états de la personne morale, uniquement rempli si la part CORPORATION_STATUSES est demandée.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="businessYears" type="corporation:businessYearType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'historique des exercices commerciaux de la personne morale, uniquement rempli si la part BUSINESS_YEARS est demandée.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="corporationFlags" type="corporation:corporationFlagType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'historique des 'flags' de la personne morale, uniquement rempli si la part CORPORATION_FLAGS est demandée.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="padding" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="landRights" minOccurs="0" maxOccurs="unbounded" type="land:landRightType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'historique des droits sur des immeubles de la personne morale, uniquement rempli si la part LAND_RIGHTS est demandée.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="padding2" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="ifoncExemptions" minOccurs="0" maxOccurs="unbounded" type="ldl:ifoncExemptionType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'historique des exonérations IFONC, uniquement rempli si la part LAND_TAX_LIGHTENINGS est demandée.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="iciAbatements" minOccurs="0" maxOccurs="unbounded" type="ldl:iciAbatementType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'historique des dégrèvements ICI, uniquement rempli si la part LAND_TAX_LIGHTENINGS est demandée.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="padding3" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="legalSeatType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Contient les informations du siège d'une personne morale.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateFrom" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de début de validité du siège de la PM.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="dateTo" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de fin de validité du siège de la PM. Si le siège est toujours actif, cette date n'est pas renseignée.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="corporation:legalSeatTypeType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Cet enum permet d'interpréter le numéro OFS contenu dans noOfsSiege.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="fsoId" type="xs:int">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Numéro OFS étendu de la commune suisse ou du pays de siège.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="legalFormType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Informations sur la forme juridique d'une personne morale.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="dateTo" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de fin de validité de la forme juridique; ou non-renseigné si elle est toujours valide.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:sequence minOccurs="0">
				<xs:element name="type" type="taxpayer:legalFormType">
					<xs:annotation>
						<xs:appinfo>
							<jxb:property>
								<jxb:javadoc>Forme juridique de l'entreprise.</jxb:javadoc>
							</jxb:property>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="label" type="xs:token">
					<xs:annotation>
						<xs:appinfo>
							<jxb:property>
								<jxb:javadoc>Libellé de la forme juridique de l'entreprise.</jxb:javadoc>
							</jxb:property>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="legalFormCategory" type="taxpayer:legalFormCategoryType">
					<xs:annotation>
						<xs:appinfo>
							<jxb:property>
								<jxb:javadoc>Catégorie d'entreprise.</jxb:javadoc>
							</jxb:property>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:element name="dateFrom" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de début de validité de la forme juridique.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="legalSeatTypeType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass>
					<jxb:javadoc>Les localisations possibles pour un siège d'une personne morale.</jxb:javadoc>
				</jxb:typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SWISS_MUNICIPALITY">
				<xs:annotation>
					<xs:documentation>Une commune suisse.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FOREIGN_COUNTRY">
				<xs:annotation>
					<xs:documentation>Un pays hors-Suisse.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="currencyNameType">
		<xs:annotation>
			<xs:documentation>Une monnaie (code ISO sur trois lettres).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="monetaryAmountType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Montant monétaire</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="amount" type="xs:long">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Montant en chiffres.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="currency" type="corporation:currencyNameType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Monnaie associée au montant.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="capitalType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Informations sur le capital à disposition d'une personne morale.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateFrom" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de début de validité du régime fiscal.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="dateTo" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de fin de validité du régime fiscal; ou null s'il est toujours valide.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="paidInCapital" type="corporation:monetaryAmountType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La valeur du capital libéré de la PM.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="taxSystemScopeType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass>
					<jxb:javadoc>La portée d'un régime fiscal.</jxb:javadoc>
				</jxb:typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CH">
				<xs:annotation>
					<xs:documentation>Confédération (IFD).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VD">
				<xs:annotation>
					<xs:documentation>Cantonal (ICC).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="taxSystemTypeType">
		<xs:annotation>
			<xs:documentation>Le code du régime fiscal (voir FiDoR pour sa signification).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="taxSystemType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Informations sur un régime fiscal d'une personne morale.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateFrom" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de début de validité du régime fiscal.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="dateTo" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de fin de validité du régime fiscal; ou non-renseigné s'il est toujours valide.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="corporation:taxSystemTypeType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le type du régime fiscal.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="scope" type="corporation:taxSystemScopeType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La portée du régime fiscal (CH/VD).</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="taxLighteningType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Informations sur un allègement fiscal accordé à une personne morale.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateFrom" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de début de validité du régime fiscal.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="dateTo" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de fin de validité du régime fiscal; ou non-renseigné s'il est toujours valide.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxType" type="corporation:taxTypeType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le type d'impôt concerné (Bénéfice / Capital).</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="targetCollectivity" type="corporation:lighteningTargetType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La collectivité concernée par l'allègement (confédération, canton (VD), commune(s)).</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="lighteningPercentage" type="corporation:percentage">
					<xs:annotation>
						<xs:appinfo>
							<jxb:property>
								<jxb:javadoc>Le pourcentage d'allègement accordé (0 -> 100). Mutuellement exclusif avec le cas 'montant'.</jxb:javadoc>
							</jxb:property>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="amountBased">
					<xs:annotation>
						<xs:appinfo>
							<jxb:property>
								<jxb:javadoc>Pour signaler un allègement 'forfaitaire' en montant. Mutuellement exclusif avec le cas 'pourcentage'.</jxb:javadoc>
							</jxb:property>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType/>
				</xs:element>
			</xs:choice>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="percentage">
		<xs:annotation>
			<xs:appinfo>
				<xs:appinfo>
					<jxb:class>
						<jxb:javadoc>Valeur comprise entre 0 et 100, avec deux chiffres potentiels après la virgule.</jxb:javadoc>
					</jxb:class>
				</xs:appinfo>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="taxTypeType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass>
					<jxb:javadoc>Le type d'impôt associé, par exemple, à un allègement fiscal.</jxb:javadoc>
				</jxb:typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CAPITAL">
				<xs:annotation>
					<xs:documentation>Capital.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PROFIT">
				<xs:annotation>
					<xs:documentation>Bénéfice.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="lighteningTargetType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Collectivité concernée par un allègement fiscal accordé à une personne morale.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:element name="swissConfederation">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La confédération (= impôt fédéral).</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType/>
			</xs:element>
			<xs:element name="canton">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le canton de vaud (= impôt cantonal).</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType/>
			</xs:element>
			<xs:element name="municipality" type="corporation:municipalityLighteningTargetType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Une commune spécifique ou toutes les communes vaudoises (= impôt communal).</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="municipalityLighteningTargetType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Collectivité concernée par un allègement fiscal accordé à une personne morale.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:attribute use="optional" name="municipalityFSOId" type="xs:int">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property>
						<jxb:javadoc>Numéro OFS de la commune spécifique, si présent.</jxb:javadoc>
					</jxb:property>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="corporationStatusType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Information sur un état fiscal d'une personne morale.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateFrom" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date d'obtention de l'état.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="statusType" type="corporation:corporationStatusTypeType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le type d'état lui-même.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="label" type="xs:token">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Un libellé en français du type d'état.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="corporationStatusTypeType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass>
					<jxb:javadoc>Les types d'état d'une personne morale.</jxb:javadoc>
				</jxb:typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ABSORBED">
				<xs:annotation>
					<xs:documentation>Absorbée.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DISSOLVED">
				<xs:annotation>
					<xs:documentation>Dissoute.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BANKRUPT">
				<xs:annotation>
					<xs:documentation>En faillite.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IN_LIQUIDATION">
				<xs:annotation>
					<xs:documentation>En liquidation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FOUNDED">
				<xs:annotation>
					<xs:documentation>Fondée.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RECORDED_IN_COMMERCIAL_REGISTER">
				<xs:annotation>
					<xs:documentation>Inscrite au registre du commerce.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REMOVED_FROM_COMMERCIAL_REGISTER">
				<xs:annotation>
					<xs:documentation>Radiée du registre du commerce.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="businessYearType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Informations sur un exercice commercial d'une personne morale.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateFrom" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de début de validité de l'exercice commercial.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateTo" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de fin l'exercice commercial.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="corporationFlagType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Informations sur un 'flag' d'une personne morale.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateFrom" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de début de validité du 'flag'.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateTo" type="common:dateType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de fin de validité du 'flag'.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="corporation:corporationFlagTypeType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Typologie du 'flag'.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="corporationFlagTypeType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass>
					<jxb:javadoc>Les types de 'flag' d'une personne morale.</jxb:javadoc>
				</jxb:typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PUBLIC_INTEREST">
				<xs:annotation>
					<xs:documentation>Utilité publique (LIASF).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REAL_ESTATE_COMPANY">
				<xs:annotation>
					<xs:documentation>Société immobilière ordinaire.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SUBSIDIZED_REAL_ESTATE_COMPANY">
				<xs:annotation>
					<xs:documentation>Société immobilière subventionnée.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SOCIAL_REAL_ESTATE_COMPANY">
				<xs:annotation>
					<xs:documentation>Société immobilière à caractère social.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TENANT_SHAREHOLDERS_REAL_ESTATE_COMPANY">
				<xs:annotation>
					<xs:documentation>Société immobilière d'actionnaires-locataires.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASSOCIATION_FOUNDATION_REAL_ESTATE_COMPANY">
				<xs:annotation>
					<xs:documentation>APM Société immobilière subventionnée.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SERVICE_COMPANY">
				<xs:annotation>
					<xs:documentation>Société de service.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AUDIT">
				<xs:annotation>
					<xs:documentation>Audit.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXPERTISE">
				<xs:annotation>
					<xs:documentation>Expertise.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MINIMAL_TAX">
				<xs:annotation>
					<xs:documentation>Impôt minimum (IMIN).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>