jaxb2/party/src/main/resources/party/unireg-party-relation-4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 5.0 : version initiale -->
<xs:schema targetNamespace="http://www.vd.ch/fiscalite/unireg/party/relation/4" elementFormDefault="qualified"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:relation="http://www.vd.ch/fiscalite/unireg/party/relation/4"
		   xmlns:common="http://www.vd.ch/fiscalite/unireg/common/2" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">

	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/common/2" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/unireg-common-2.xsd" />

	<xs:complexType name="relationBetweenPartiesType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Permet de caractériser un rapport (par exemple: tutelle, appartenance ménage, ...) entre deux tiers.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateFrom" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de début de validité du rapport.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="dateTo" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de fin de validité du rapport. Si le rapport est toujours actif, cette date n'est pas renseignée.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="cancellationDate" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Date à laquelle le rapport a été annulé, ou null s'il n'est pas annulé.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherPartyNumber" type="common:partyNumberType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Numéro de tiers pointé par cette relation.
								En fonction du type de rapport-entre-tiers, les tiers participants sont de types suivants:
								- Tutelle : Personne physique -> Personne physique ou Collectivité administrative
								- Curatelle : Personne physique -> Personne physique ou Collectivité administrative
								- Conseil légal : Personne physique -> Personne physique ou Collectivité administrative
								- Prestations imposables : Personne physique -> Débiteur prestation imposable
								- Appartenance ménage : Personne physique -> Ménage
								- Représentation : Personne physique -> Tiers
								- Contact impôt source : Débiteur prestation imposable -> Contribuable
								- Annule et remplace : Tiers -> Tiers
								- Enfants : Personne physique -> Personne physique
								- Parents : Personne physique -> Personne physique
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="guardianType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Rapport de tutelle (du pupille vers le tuteur).</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="welfareAdvocateType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Rapport de curatelle (du pupille vers le curateur).</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="legalAdviserType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Rapport de conseil légal (du pupille vers le conseiller).</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="taxableRevenueType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Rapport de prestation imposable (= rapport de travail), entre un débiteur de prestations imposables et un contribuable.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:element minOccurs="0" name="endDateOfLastTaxableItem" type="common:dateType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Date de dernier élément de taxation.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="padding" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="householdMemberType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Rapport d'appartenance ménage (entre une personne physique et un ménage commun).</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="representativeType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Rapport de représentation conventionnelle (du représenté vers le représentant).</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:element minOccurs="0" name="extensionToForcedExecution" type="xs:boolean">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Vrai si la représentation conventionnelle s'étend à l'exécution forcée; faux autrement.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="padding" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="withholdingTaxContactType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Rapport de contact impôt source (entre un débiteur IS et le contribuable associé).</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="replacedByType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Rapport entre un tiers et celui qui le remplace (gestion des doublons, depuis l'annulé vers le remplaçant).</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="replacedType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Rapport entre un tiers et celui qui le remplace (gestion des doublons, depuis le remplaçant vers celui qu'il remplace).</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="childType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Rapport de filiation (du parent vers l'enfant). Uniquement présent si la part CHILDREN est demandée.</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="parentType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Rapport de filiation (de l'enfant vers le parent). Uniquement présent si la part PARENTS est demandée.</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="economicActivityType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Rapport d'activité économique (entre un contribuable - en général une entreprise - et un établissement).</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:element name="principal" type="xs:boolean">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Booléen qui indique s'il s'agit d'un lien vers/depuis un établissement principal ou pas.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="absorbedType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Rapport de fusion d'entreprises (depuis l'entreprise absorbante vers l'entreprise absorbée).</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="absorbingType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Rapport de fusion d'entreprises (depuis l'entreprise absorbée vers l'entreprise absorbante).</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="beforeSplitType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Rapport de scission d'entreprise (depuis l'entreprise scindée vers l'entreprise avant scission).</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="afterSplitType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Rapport de scission d'entreprise (depuis l'entreprise avant scission vers l'entreprise résultante (= morceau plus petit...)).</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="wealthTransferOriginatorType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Rapport de transfert de patrimoine (depuis l'entreprise réceptrice vers l'entreprise donnatrice).</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="wealthTransferRecipientType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Rapport de transfert de patrimoine (depuis l'entreprise donnatrice vers l'entreprise réceptrice).</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="administrationType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Rapport d'administration d'entreprise.</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:element name="chairman" type="xs:boolean">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Booléen qui indique si l'administrateur est également président du conseil d'administration de l'entreprise.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="managementCompanyType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Rapport de société de direction (depuis le fonds de placement vers la société de direction).</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="taxLiabilitySubstitute">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Rapport de substitution d'assujettissement (depuis le substitué vers le substituant).</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="taxLiabilitySubstituteFor">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Rapport de substitution d'assujettissement (depuis le substituant vers le substitué).</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="relation:relationBetweenPartiesType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="relationBetweenPartiesTypeType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass>
					<jxb:javadoc>Les différents types de rapports-entre-tiers (ils ne servent pas directement dans les XML, mais seulement dans les expositions JSON).</jxb:javadoc>
				</jxb:typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="GUARDIAN">
				<xs:annotation>
					<xs:documentation>Tutelle.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WELFARE_ADVOCATE">
				<xs:annotation>
					<xs:documentation>Curatelle.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LEGAL_ADVISER">
				<xs:annotation>
					<xs:documentation>Conseil légal.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAXABLE_REVENUE">
				<xs:annotation>
					<xs:documentation>Prestation imposable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HOUSEHOLD_MEMBER">
				<xs:annotation>
					<xs:documentation>Appartenance ménage.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REPRESENTATIVE">
				<xs:annotation>
					<xs:documentation>Représentation conventionnelle.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WITHHOLDING_TAX_CONTACT">
				<xs:annotation>
					<xs:documentation>Rapport qui existe entre un débiteur et son contribuable lié.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REPLACED_BY">
				<xs:annotation>
					<xs:documentation>Lien où l'autre tiers est un tiers qui remplace le tiers courant (correction de doublons)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REPLACED">
				<xs:annotation>
					<xs:documentation>Lien où l'autre tiers est un tiers remplacé par le tiers courant (correction de doublons)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CHILD">
				<xs:annotation>
					<xs:documentation>Lien de filiation où l'autre tiers est l'enfant du tiers courant. Les rapports de ce type ne sont renseignés que si la part CHILDREN est demandée.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARENT">
				<xs:annotation>
					<xs:documentation>Lien de filiation où l'autre tiers est le parent du tiers courant. Les rapports de ce type ne sont renseignés que si la part PARENTS est demandée.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ECONOMIC_ACTIVITY">
				<xs:annotation>
					<xs:documentation>Lien qui existe entre un contribuable et les établissements stables qui représentent une activité économique.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ABSORBED">
				<xs:annotation>
					<xs:documentation>Lien où l'autre tiers est une entreprise absorbée par l'entreprise courante au cours d'une fusion (= celle(s) qui existai(en)t avant la fusion).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ABSORBING">
				<xs:annotation>
					<xs:documentation>Lien où l'autre tiers est une entreprise qui a absorbé l'entreprise courante au cours d'une fusion (= celle qui existe après la fusion).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BEFORE_SPLIT">
				<xs:annotation>
					<xs:documentation>Lien où l'autre tiers est l'entreprise dont l'entreprise courante est issue suite à une scission (= celle qui existait avant la scission).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AFTER_SPLIT">
				<xs:annotation>
					<xs:documentation>Lien où l'autre tiers est une entreprise résultante de la scission de l'entreprise courante (= celle(s) qui existe(nt) après la scission).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WEALTH_TRANSFER_ORIGINATOR">
				<xs:annotation>
					<xs:documentation>Lien où l'autre tiers est l'entreprise source d'un transfert de patrimoine dont l'entreprise courante a été bénéficiaire.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WEALTH_TRANSFER_RECIPIENT">
				<xs:annotation>
					<xs:documentation>Lien où l'autre tiers est une entreprise bénéficiaire d'un transfert de patrimoine dont l'entreprise courante est la source.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ADMINISTRATION">
				<xs:annotation>
					<xs:documentation>Lien qui existe entre une entreprise et une personne physique pour indiquer un lien d'administration de l'entreprise.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MANAGEMENT_COMPANY">
				<xs:annotation>
					<xs:documentation>Lien où l'autre tiers est la société de direction du tiers courant (= qui est un fonds de placement).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_LIABILITY_SUBSTITUTE">
				<xs:annotation>
					<xs:documentation>Lien où l'autre tiers est celui qui se substitue au tiers courant pour son assujettissement.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_LIABILITY_SUBSTITUTE_FOR">
				<xs:annotation>
					<xs:documentation>Lien où l'autre tiers est celui pour lequel le tiers courant assume un assujettissement.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
