jaxb2/events/src/main/resources/event/fiscal/evt-fiscal-5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- v5 : événements sur les données du registre foncier -->
<xs:schema targetNamespace="http://www.vd.ch/fiscalite/unireg/event/fiscal/5" elementFormDefault="qualified" attributeFormDefault="unqualified"
           xmlns="http://www.vd.ch/fiscalite/unireg/event/fiscal/5"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:common="http://www.vd.ch/fiscalite/unireg/common/2"
           xmlns:taxresidence="http://www.vd.ch/fiscalite/unireg/party/taxresidence/4"
           xmlns:corporation="http://www.vd.ch/fiscalite/unireg/party/corporation/5"
           xmlns:land="http://www.vd.ch/fiscalite/unireg/party/landregistry/1"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">

	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/common/2" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/unireg-common-2.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/taxresidence/4" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/party/unireg-party-taxresidence-4.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/corporation/5" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/party/unireg-party-corporation-5.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/landregistry/1" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/party/unireg-party-landregistry-1.xsd" />

	<!-- L'élément racine -->
	<xs:element name="fiscalEvent" type="fiscalEventType" />

	<!-- Le type abstrait de l'élément racine -->
	<xs:complexType name="fiscalEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé par Unireg aux applications du SI fiscal.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
	</xs:complexType>

	<!-- Evénement fiscal qui concerne un tiers Unireg -->
	<xs:complexType name="partyEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui concerne un tiers Unireg.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fiscalEventType">
				<xs:sequence>
					<xs:element name="partyKind" type="partyKindType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La catégorie du tiers pour lequel l'événement fiscal est émis.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="partyNumber" type="common:partyNumberType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le numéro du tiers pour lequel l'événement fiscal est émis.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="date" type="common:dateType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La date de valeur de l'événement fiscal.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="partyKindType">
		<xs:annotation>
			<xs:documentation>La catégorie de tiers : PP, PM ou IS.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="NATURAL_PERSON">
				<xs:annotation>
					<xs:documentation>Contribuable soumis à l'imposition des personnes physiques.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ORGANISATION">
				<xs:annotation>
					<xs:documentation>Contribuable soumis à l'imposition des personnes morales.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEBTOR">
				<xs:annotation>
					<xs:documentation>Débiteur IS.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<!-- -->
	<!-- Les événements fiscaux 'simples' -->
	<!-- -->

	<xs:complexType name="familyStatusEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé en cas de changement dans la situation de famille d'un contribuable PP.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="partyEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- -->
	<!-- Evénement fiscal d'Impression de fourre neutre -->
	<!-- -->

	<xs:complexType name="neutralJacketPrintEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors de l'impression d'une fourre neutre.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="partyEventType">
				<xs:sequence>
					<xs:element name="period" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Periode sélectionnée pour l'impression de la fourre.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- -->
	<!-- Evénement fiscal d'envoi d'une lettre de bienvenue -->
	<!-- -->

	<xs:complexType name="welcomeLetterSendingEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé parallèlement à une lettre de bienvenue.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="partyEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- -->
	<!-- Les événements fiscaux autour des régimes fiscaux -->
	<!-- -->

	<xs:complexType name="taxSystemEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Base des événements fiscaux envoyés en cas de changement de régime fiscal d'une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="partyEventType">
				<xs:sequence>
					<xs:element name="scope" type="corporation:taxSystemScopeType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Portée (VD, CH) du régime fiscal concerné par l'événement fiscal.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="taxSystemStartEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé à l'ouverture d'un nouveau régime fiscal sur une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxSystemEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="taxSystemEndEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé à la fermeture (= introduction d'une date de fin de validité) d'un régime fiscal sur une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxSystemEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="taxSystemCancellationEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé à l'annulation d'un régime fiscal sur une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxSystemEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- -->
	<!-- Les événements fiscaux autour des allègements fiscaux -->
	<!-- -->

	<xs:complexType name="taxLighteningEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Base des événements fiscaux envoyés en cas de changement dans un allègement fiscal d'une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="partyEventType">
				<xs:sequence>
					<xs:element name="taxType" type="corporation:taxTypeType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le type d'impôt concerné (Bénéfice / Capital).</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="target" type="corporation:lighteningTargetType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La collectivité concernée par l'allègement (confédération, canton (VD), commune(s)).</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="taxLighteningStartEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé en cas d'ouverture d'un nouvel allègement fiscal sur une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxLighteningEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="taxLighteningEndEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé en cas à la fermeture (= introduction d'une date de fin de validité) d'un allègement fiscal sur une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxLighteningEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="taxLighteningCancellationEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé à l'annulation d'un allègement fiscal sur une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxLighteningEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- -->
	<!-- Les événements fiscaux autour des flags entreprises -->
	<!-- -->

	<xs:complexType name="organisationFlagEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Base des événements fiscaux envoyés en cas de changement dans les flags des entreprises.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="partyEventType">
				<xs:sequence>
					<xs:element name="typeFlag" type="corporation:corporationFlagTypeType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le type de flag concerné.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="organisationFlagStartEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé en cas d'ouverture d'un nouveau flag sur une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="organisationFlagEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="organisationFlagEndEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé en cas à la fermeture (= introduction d'une date de fin de validité) d'un flag sur une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="organisationFlagEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="organisationFlagCancellationEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé à l'annulation d'un flag sur une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="organisationFlagEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- -->
	<!-- Les événements fiscaux autour des fors fiscaux -->
	<!-- -->

	<xs:complexType name="taxResidenceEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Base des événements fiscaux qui concernent les fors fiscaux.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="partyEventType">
				<xs:sequence>
					<xs:element name="mainTaxResidence" type="xs:boolean">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Indique si le for fiscal est principal ou non.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="typeAuthority" type="taxresidence:taxationAuthorityTypeType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Localisation du for fiscal.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="taxResidenceStartEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors de l'ouverture d'un for fiscal.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxResidenceEventType">
				<xs:sequence>
					<xs:element name="startReason" type="taxresidence:liabilityChangeReasonType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Motif d'ouverture du for fiscal (optionnel, car tous les fors n'ont pas nécessairement de motifs d'ouverture).</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="padding" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="taxResidenceMethodUpdateEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors d'un changement de mode d'imposition.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxResidenceEventType">
				<xs:sequence>
					<xs:element name="taxationMethod" type="taxresidence:taxationMethodType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Nouveau mode d'imposition introduit.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="taxResidenceEndEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors de la fermeture d'un for fiscal.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxResidenceEventType">
				<xs:sequence>
					<xs:element name="endReason" type="taxresidence:liabilityChangeReasonType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Motif de fermeture du for fiscal (optionnel, car tous les types de for n'ont pas nécessairement un motif de fermeture).</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="padding" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="taxResidenceCancellationEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors de l'annulation d'un for fiscal.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxResidenceEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- -->
	<!-- Les événements fiscaux autour des relations de parenté -->
	<!-- -->

	<xs:complexType name="parentalAuthorityEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Base des événements fiscaux qui concernent les relations de parenté.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="partyEventType">
				<xs:sequence>
					<xs:element name="childNumber" type="common:partyNumberType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Numéro du contribuable enfant.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="birthEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors de la naissance d'un enfant.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="parentalAuthorityEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="parentalAuthorityEndEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors la fin de l'autorité parentale (= l'enfant a atteint sa majorité).</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="parentalAuthorityEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- -->
	<!-- Les événements fiscaux autour des déclarations -->
	<!-- -->

	<xs:complexType name="taxDeclarationEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Base des événements fiscaux qui concernent les déclarations (DI, LR, QSNC).</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="partyEventType">
				<xs:sequence>
					<xs:element name="dateFrom" type="common:dateType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Premier jour de la période de déclaration.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="dateTo" type="common:dateType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Dernier jour de la période de déclaration.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="summonableTaxDeclarationEventTypeType">
		<xs:annotation>
			<xs:documentation>Le type d'un événement fiscal sur une déclaration.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="SENDING">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis à l'envoi (ou à la dés-annulation) du formulaire de déclaration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CANCELLING">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis à l'annulation d'un formulaire de déclaration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SUMMONING">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la sommation d'un formulaire de déclaration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXPIRING">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis à l'échéance après sommation d'un formulaire de déclaration, ouvrant la porte à une éventuelle taxation d'office.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ACKNOWLEDGING">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis au quittancement du retour d'un formulaire de déclaration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="remindableTaxDeclarationEventTypeType">
		<xs:annotation>
			<xs:documentation>Le type d'un événement fiscal sur une déclaration.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="SENDING">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis à l'envoi (ou à la dés-annulation) du formulaire de déclaration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CANCELLING">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis à l'annulation d'un formulaire de déclaration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REMINDING">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors du rappel d'un formulaire de déclaration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ACKNOWLEDGING">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis au quittancement du retour d'un formulaire de déclaration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="summonableTaxDeclarationEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Base des événements fiscaux envoyés pour les opérations sur des déclarations sur lesquelles on envoie des sommations (DI, LR, ...)</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDeclarationEventType">
				<xs:sequence>
					<xs:element name="type" type="summonableTaxDeclarationEventTypeType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Type d'événement fiscal de déclaration.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="remindableTaxDeclarationEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Base des événements fiscaux envoyés pour les opérations sur des déclarations sur lesquelles on envoie des rappels (QSNC, ...)</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDeclarationEventType">
				<xs:sequence>
					<xs:element name="type" type="remindableTaxDeclarationEventTypeType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Type d'événement fiscal de déclaration.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ordinaryTaxDeclarationEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors d'une action sur une déclaration d'impôt ordinaire (DI).</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="summonableTaxDeclarationEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="withholdingTaxDeclarationEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors d'une action sur une liste récapitulative (LR).</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="summonableTaxDeclarationEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="partnershipFormEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors d'une action sur un questionnaire SNC.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="remindableTaxDeclarationEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- -->
	<!-- Les événements fiscaux concernant des informations complémentaires sur les entreprises (= passe-plats) -->
	<!-- -->

	<xs:complexType name="additionalOrgInfoEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui annonce des informations complémentaires sur les entreprises et en provenance des registres civils.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="partyEventType">
				<xs:sequence>
					<xs:element name="type" type="additionalOrgInfoEventTypeType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Type de l'annonce reçue du registre civil.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="additionalOrgInfoEventTypeType">
		<xs:annotation>
			<xs:documentation>Le type d'un événement fiscal émis à la réception d'une annonce civile autour d'une faillite ou d'un concordat sans impact sur l'assujettissement de l'entreprise.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="LEGAL_FORM_UPDATE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors du changement de forme juridique d'une entreprise conservant la même catégorie.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STATUS_UPDATE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors d'une modification des statuts d'une entreprise.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GOAL_UPDATE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors d'une modification du but d'une entreprise.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CAPITAL_UPDATE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors d'une modification du capital d'une entreprise.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MERGER">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors d'une fusion d'entreprises.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SPLIT">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors d'une scission d'entreprise.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WEALTH_TRANSFER">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors d'un transfert de patrimoine entre entreprises.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LIQUIDATION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la liquidation d'une entreprise.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NOTICE_BEFORE_BANKRUPTCY_PROCEEDINGS">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'avis préalable à l'ouverture d'une faillite.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COLLOCATION_STATE_INVENTORY_IN_BANKRUPTCY">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'état de collocation et inventaire dans la faillite.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FORCED_SALE_OF_IMMOVABLE_PROPERTIES_IN_BANKRUPTCY">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la vente aux enchères forcée d'immeubles dans la faillite.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PROVISIONAL_DEBT_RESTRUCTURING_MORATORIUM">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'octroi d'un sursis concordataire provisoire.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEBT_RESTRUCTURING_MORATORIUM">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'octroi d'un sursis concordataire.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CALL_TO_CREDITORS_IN_CONCORDAT">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'appel aux créanciers dans un concordat.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HEARING_FOR_ASSETS_ASSIGNMENT">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'audience de liquidation par abandon d'actif.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEBT_RESTRUCTURING_MORATORIUM_EXTENSION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la prolongation d'un sursis concordataire.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEBT_RESTRUCTURING_MORATORIUM_CANCELLATION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'annulation d'un sursis concordataire.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CONCORDAT_APPROVAL">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'homologation d'un concordat.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COLLOCATION_STATE_IN_ASSETS_ASSIGNMENT_CONCORDAT">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'état de collocation dans un concordat par abandon d'actif.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FINAL_SETTLEMENT_IN_ASSETS_ASSIGNMENT_CONCORDAT">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'établissement du tableau de distribution et du décompte final dans un concordat par abandon d'actif.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BANK_SAVINGS_AND_LOAN_CONCORDAT">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la constitution d'un concordat de banque et de caisse d'épargne.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FORCED_SALE_OF_IMMOVABLE_PROPERTIES_IN_PROSECUTION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la vente aux enchères forcée d'immeubles dans la poursuite.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CALL_TO_CREDITORS_IN_BANKRUPTCY">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la publication d'une faillite et de l'appel aux créanciers.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BANKRUPTCY_SUSPENSION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la suspension d'une faillite.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BANKRUPTCY_CLOSING">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la clôture d'une faillite.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BANKRUPTCY_REVOCATION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la révocation d'une faillite.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CALL_TO_CREDITORS_IN_TRANSFER_ABROAD">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'appel aux créanciers suite à un transfert à l'étranger.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MERGER_CANCELLATION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'annulation d'une fusion d'entreprises.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SPLIT_CANCELLATION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'annulation d'une scission d'entreprise.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WEALTH_TRANSFER_CANCELLATION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'annulation d'un transfert de patrimoine entre entreprises.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BANKRUPTCY_CANCELLATION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'annulation d'une faillite.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<!-- Evénement fiscal qui concerne des données du registre foncier -->
	<xs:complexType name="landRegistryEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui concerne des données du Registre Foncier.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fiscalEventType">
				<xs:sequence>
					<xs:element name="date" type="common:dateType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La date de valeur de l'événement fiscal. Il s'agit d'une date métier, et dans certains cas cette date est inconnue : dans ce cas, elle n'est pas renseignée.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="immovablePropertyEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui concerne un immeuble du Registre Foncier.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="landRegistryEventType">
				<xs:sequence>
					<xs:element name="immovablePropertyId" type="xs:long">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le numéro technique Unireg de l'immeuble concerné.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="immovablePropertyStartEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui indique la création d'un nouvel immeuble du Registre Foncier.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="immovablePropertyEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="immovablePropertyEndEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui indique la radiation d'un immeuble du Registre Foncier.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="immovablePropertyEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="immovablePropertyRestartEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui indique la réactivation d'un immeuble anciennement radié.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="immovablePropertyEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="immoSituationUpdateEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui indique la mise-à-jour de la situation d'un immeuble du Registre Foncier.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="immovablePropertyEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="immoShareUpdateEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui indique la mise-à-jour de la quote-part d'un immeuble du Registre Foncier.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="immovablePropertyEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="immoTotalAreaUpdateEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui indique la mise-à-jour de la surface totale d'un immeuble du Registre Foncier.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="immovablePropertyEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="immoGroundAreaUpdateEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui indique la mise-à-jour d'une ou plusieurs surfaces au sol d'un immeuble du Registre Foncier.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="immovablePropertyEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="immoTaxEstimateEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal sur l'estimation fiscale d'un immeuble du Registre Foncier.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="immovablePropertyEventType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="immoTaxEstimateStartEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui correspond à l'ouverture d'une estimation fiscale sur un immeuble du Registre Foncier.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="immoTaxEstimateEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="immoTaxEstimateInReviewUpdateEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui correspond au changement de l'état 'en revision' d'une estimation fiscale.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="immoTaxEstimateEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="immoTaxEstimateEndEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui correspond à la fermeture d'une estimation fiscale d'un immeuble du Registre Foncier.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="immoTaxEstimateEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="immoTaxEstimateCancellationEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui correspond à l'annulation d'une estimation fiscale d'un immeuble du Registre Foncier.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="immoTaxEstimateEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="buildingEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui concerne un bâtiment du Registre Foncier.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="landRegistryEventType">
				<xs:sequence>
					<xs:element name="buildingId" type="xs:long">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le numéro technique Unireg du bâtiment.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="buildingStartEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui indique la création d'un nouveau bâtiment du Registre Foncier.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="buildingEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="buildingEndEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui indique la radiation d'un nouveau bâtiment du Registre Foncier.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="buildingEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="buildingDescriptionUpdateEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui indique la modification de la description d'un bâtiment du Registre Foncier.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="buildingEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="buildingSettingEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui concerne l'implantation d'un bâtiment sur un immeuble du Registre Foncier.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="landRegistryEventType">
				<xs:sequence>
					<xs:element name="immovablePropertyId" type="xs:long">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le numéro technique Unireg de l'immeuble sur lequel est implanté le bâtiment.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="buildingId" type="xs:long">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le numéro technique Unireg du bâtiment.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="buildingSettingStartEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui indique l'ouverture d'une implantation d'un bâtiment sur un immeuble.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="buildingSettingEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="buildingSettingEndEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui indique la fermeture d'une implantation d'un bâtiment sur un immeuble.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="buildingSettingEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="landRightEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui concerne un droit de propriété ou une servitude.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="landRegistryEventType">
				<xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="landOwnershipRightEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui concerne un droit de propriété entre un propriétaire et un immeuble.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="landRightEventType">
				<xs:sequence>
					<xs:element name="rightHolder" type="land:rightHolderType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'ayant-droit qui possède le droit.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="immovablePropertyId" type="xs:long">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'id technique Unireg de l'immeuble servant (c'est-à-dire l'immeuble sur lequel s'exerce le droit).</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="communityId" type="xs:long" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'id technique de la communauté de propriétaires. Renseigné si l'ayant-droit fait partie d'une communauté de propriétaires.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="landOwnershipRightStartEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui concerne l'ouverture d'un droit de propriété entre un propriétaire et un immeuble.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="landOwnershipRightEventType">
				<xs:sequence>
					<xs:element name="padding" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="landOwnershipRightUpdateEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui concerne la modification d'un droit de propriété entre un propriétaire et un immeuble.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="landOwnershipRightEventType">
				<xs:sequence>
					<xs:element name="padding" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="landOwnershipRightEndEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui concerne la fermeture d'un droit de propriété entre un propriétaire et un immeuble.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="landOwnershipRightEventType">
				<xs:sequence>
					<xs:element name="padding" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="easementRightEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui concerne une servitude entre un ou plusieurs bénéficiaires et un ou plusieurs immeubles.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="landRightEventType">
				<xs:sequence>
					<xs:element name="rightHolders" type="land:rightHolderType" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le ou les bénéficaires qui bénéficient de la servitude.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="immovablePropertyIds" type="xs:long" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le ou les ids techniques Unireg des immeubles servants (c'est-à-dire les simmeuble sur lesquels s'exercent la servitude).</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="easementType" type="easementTypeType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le type de servitude.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="easementTypeType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass>
					<jxb:javadoc>Le type de servitude.</jxb:javadoc>
				</jxb:typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="HOUSING">
				<xs:annotation>
					<xs:documentation>Droit d'habitation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="USUFRUCT">
				<xs:annotation>
					<xs:documentation>Usufruit.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="easementRightStartEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui concerne l'ouverture d'une servitude entre un ou plusieurs bénéficiaires et un ou plusieurs immeubles.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="easementRightEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="easementRightUpdateEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui concerne la modification d'une servitude entre un ou plusieurs bénéficiaires et un ou plusieurs immeubles.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="easementRightEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="easementRightEndEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui concerne la fermeture d'une servitude entre un ou plusieurs bénéficiaires et un ou plusieurs immeubles.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="easementRightEventType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="landRegistryReconciliationEventType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui concerne un rapprochement entre un tiers Unireg et un tiers RF.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fiscalEventType">
				<xs:sequence>
					<xs:element name="partyKind" type="partyKindType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La catégorie du tiers pour lequel l'événement fiscal est émis.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="partyNumber" type="common:partyNumberType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le numéro du tiers pour lequel l'événement fiscal est émis.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="date" type="common:dateType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La date de valeur de l'événement fiscal (cette date est nulle dans la plupart des ouvertures de rapprochements :
										elle n'est renseignée que lorsqu'un nouveau rapprochement est ouvert sur un tiers qui en possédait déjà un. Elle est
										bien renseignée dans le cas des fermetures et des annulations de rapprochements, par contre).</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="landRegistryReconciliationStartEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui concerne l'ouverture d'un rapprochement entre un tiers Unireg et un tiers RF.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="landRegistryReconciliationEventType">
				<xs:sequence>
					<xs:element name="padding" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="landRegistryReconciliationEndEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui concerne la fermeture d'un rapprochement entre un tiers Unireg et un tiers RF.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="landRegistryReconciliationEventType">
				<xs:sequence>
					<xs:element name="padding" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="landRegistryReconciliationCancellationEventType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal qui concerne l'annulation d'un rapprochement entre un tiers Unireg et un tiers RF.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="landRegistryReconciliationEventType">
				<xs:sequence>
					<xs:element name="padding" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
