jaxb2/events/src/main/resources/event/fiscal/evt-fiscal-5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- v4 : événements fiscaux avec prise en compte de la fourre neutre -->
<xs:schema targetNamespace="http://www.vd.ch/fiscalite/unireg/event/fiscal/5" elementFormDefault="qualified" attributeFormDefault="unqualified"
           xmlns="http://www.vd.ch/fiscalite/unireg/event/fiscal/5"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:common="http://www.vd.ch/fiscalite/unireg/common/2"
           xmlns:taxresidence="http://www.vd.ch/fiscalite/unireg/party/taxresidence/4"
           xmlns:corporation="http://www.vd.ch/fiscalite/unireg/party/corporation/5"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">

	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/common/2" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/unireg-common-2.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/taxresidence/4" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/party/unireg-party-taxresidence-4.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/corporation/5" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/party/unireg-party-corporation-5.xsd" />

	<!-- L'élément racine -->
	<xs:element name="evenementFiscal" type="evenementFiscalType"/>

	<!-- Le type abstrait de l'élément racine -->
	<xs:complexType name="evenementFiscalType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé par Unireg aux applications du SI fiscal.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="categorieTiers" type="categorieTiersType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La catégorie du tiers pour lequel l'événement fiscal est émis.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="numeroTiers" type="common:partyNumberType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le numéro du tiers pour lequel l'événement fiscal est émis.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="date" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de valeur de l'événement fiscal.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="categorieTiersType">
		<xs:annotation>
			<xs:documentation>La catégorie de tiers : PP, PM ou IS.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="PP">
				<xs:annotation>
					<xs:documentation>Contribuable soumis à l'imposition des personnes physiques.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PM">
				<xs:annotation>
					<xs:documentation>Contribuable soumis à l'imposition des personnes morales.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IS">
				<xs:annotation>
					<xs:documentation>Débiteur IS.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<!-- -->
	<!-- Les événements fiscaux 'simples' -->
	<!-- -->

	<xs:complexType name="changementSituationFamilleType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé en cas de changement dans la situation de famille d'un contribuable PP.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- -->
	<!-- Evénement fiscal d'Impression de fourre neutre -->
	<!-- -->

	<xs:complexType name="ImpressionFourreNeutreType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors de l'impression d'une fourre neutre.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalType">
				<xs:sequence>
					<xs:element name="periodeFiscale" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Periode sélectionnée pour l'impression de la fourre.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- -->
	<!-- Evénement fiscal d'envoi d'une lettre de bienvenue -->
	<!-- -->

	<xs:complexType name="envoiLettreBienvenueType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé parallèlement à une lettre de bienvenue.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- -->
	<!-- Les événements fiscaux autour des régimes fiscaux -->
	<!-- -->

	<xs:complexType name="evenementFiscalRegimeFiscalType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Base des événements fiscaux envoyés en cas de changement de régime fiscal d'une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalType">
				<xs:sequence>
					<xs:element name="scope" type="corporation:taxSystemScopeType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Portée (VD, CH) du régime fiscal concerné par l'événement fiscal.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ouvertureRegimeFiscalType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé à l'ouverture d'un nouveau régime fiscal sur une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalRegimeFiscalType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="fermetureRegimeFiscalType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé à la fermeture (= introduction d'une date de fin de validité) d'un régime fiscal sur une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalRegimeFiscalType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="annulationRegimeFiscalType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé à l'annulation d'un régime fiscal sur une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalRegimeFiscalType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- -->
	<!-- Les événements fiscaux autour des allègements fiscaux -->
	<!-- -->

	<xs:complexType name="evenementFiscalAllegementFiscalType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Base des événements fiscaux envoyés en cas de changement dans un allègement fiscal d'une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalType">
				<xs:sequence>
					<xs:element name="genreImpot" type="corporation:taxTypeType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le type d'impôt concerné (Bénéfice / Capital).</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="typeCollectivite" type="corporation:lighteningTargetType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La collectivité concernée par l'allègement (confédération, canton (VD), commune(s)).</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ouvertureAllegementFiscalType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé en cas d'ouverture d'un nouvel allègement fiscal sur une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalAllegementFiscalType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="fermetureAllegementFiscalType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé en cas à la fermeture (= introduction d'une date de fin de validité) d'un allègement fiscal sur une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalAllegementFiscalType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="annulationAllegementFiscalType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé à l'annulation d'un allègement fiscal sur une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalAllegementFiscalType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- -->
	<!-- Les événements fiscaux autour des flags entreprises -->
	<!-- -->

	<xs:complexType name="evenementFiscalFlagEntrepriseType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Base des événements fiscaux envoyés en cas de changement dans les flags des entreprises.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalType">
				<xs:sequence>
					<xs:element name="typeFlag" type="corporation:corporationFlagTypeType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le type de flag concerné.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ouvertureFlagEntrepriseType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé en cas d'ouverture d'un nouveau flag sur une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalFlagEntrepriseType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="fermetureFlagEntrepriseType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé en cas à la fermeture (= introduction d'une date de fin de validité) d'un flag sur une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalFlagEntrepriseType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="annulationFlagEntrepriseType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé à l'annulation d'un flag sur une entreprise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalFlagEntrepriseType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- -->
	<!-- Les événements fiscaux autour des fors fiscaux -->
	<!-- -->

	<xs:complexType name="evenementFiscalForType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Base des événements fiscaux qui concernent les fors fiscaux.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalType">
				<xs:sequence>
					<xs:element name="forPrincipal" type="xs:boolean">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Indique si le for fiscal est principal ou non.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="localisationFor" type="taxresidence:taxationAuthorityTypeType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Localisation du for fiscal.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ouvertureForType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors de l'ouverture d'un for fiscal.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalForType">
				<xs:sequence>
					<xs:element name="motifOuverture" type="taxresidence:liabilityChangeReasonType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Motif d'ouverture du for fiscal (optionnel, car tous les fors n'ont pas nécessairement de motifs d'ouverture).</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="padding" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="changementModeImpositionType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors d'un changement de mode d'imposition.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalForType">
				<xs:sequence>
					<xs:element name="modeImposition" type="taxresidence:taxationMethodType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Nouveau mode d'imposition introduit.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="fermetureForType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors de la fermeture d'un for fiscal.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalForType">
				<xs:sequence>
					<xs:element name="motifFermeture" type="taxresidence:liabilityChangeReasonType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Motif de fermeture du for fiscal (optionnel, car tous les types de for n'ont pas nécessairement un motif de fermeture).</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="padding" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="annulationForType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors de l'annulation d'un for fiscal.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalForType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- -->
	<!-- Les événements fiscaux autour des relations de parenté -->
	<!-- -->

	<xs:complexType name="evenementFiscalParenteType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Base des événements fiscaux qui concernent les relations de parenté.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalType">
				<xs:sequence>
					<xs:element name="noContribuableEnfant" type="common:partyNumberType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Numéro du contribuable enfant.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="naissanceType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors de la naissance d'un enfant.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalParenteType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="finAutoriteParentaleType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors la fin de l'autorité parentale (= l'enfant a atteint sa majorité).</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalParenteType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- -->
	<!-- Les événements fiscaux autour des déclarations -->
	<!-- -->

	<xs:complexType name="evenementFiscalDeclarationType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Base des événements fiscaux qui concernent les déclarations (DI, LR, QSNC).</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalType">
				<xs:sequence>
					<xs:element name="dateFrom" type="common:dateType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Premier jour de la période de déclaration.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="dateTo" type="common:dateType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Dernier jour de la période de déclaration.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="typeEvenementFiscalDeclarationSommableType">
		<xs:annotation>
			<xs:documentation>Le type d'un événement fiscal sur une déclaration.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="EMISSION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis à l'envoi (ou à la dés-annulation) du formulaire de déclaration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ANNULATION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis à l'annulation d'un formulaire de déclaration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SOMMATION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la sommation d'un formulaire de déclaration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ECHEANCE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis à l'échéance après sommation d'un formulaire de déclaration, ouvrant la porte à une éventuelle taxation d'office.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="QUITTANCEMENT">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis au quittancement du retour d'un formulaire de déclaration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeEvenementFiscalDeclarationRappelableType">
		<xs:annotation>
			<xs:documentation>Le type d'un événement fiscal sur une déclaration.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="EMISSION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis à l'envoi (ou à la dés-annulation) du formulaire de déclaration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ANNULATION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis à l'annulation d'un formulaire de déclaration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RAPPEL">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors du rappel d'un formulaire de déclaration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="QUITTANCEMENT">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis au quittancement du retour d'un formulaire de déclaration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="evenementFiscalDeclarationSommableType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Base des événements fiscaux envoyés pour les opérations sur des déclarations sommables (DI, LR)</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalDeclarationType">
				<xs:sequence>
					<xs:element name="type" type="typeEvenementFiscalDeclarationSommableType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Type d'événement fiscal de déclaration.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="evenementFiscalDeclarationRappelableType" abstract="true">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Base des événements fiscaux envoyés pour les opérations sur des déclarations rappelables (QSNC)</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalDeclarationType">
				<xs:sequence>
					<xs:element name="type" type="typeEvenementFiscalDeclarationRappelableType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Type d'événement fiscal de déclaration.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="declarationImpotType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors d'une action sur une déclaration d'impôt.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalDeclarationSommableType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="listeRecapitulativeType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors d'une action sur une liste récapitulative.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalDeclarationSommableType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="questionnaireSNCType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Evénement fiscal envoyé lors d'une action sur un questionnaire SNC.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalDeclarationRappelableType">
				<xs:sequence>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- -->
	<!-- Les événements fiscaux concernant des informations complémentaires sur les entreprises (= passe-plats) -->
	<!-- -->

	<xs:complexType name="informationComplementaireType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Base des événements fiscaux qui annoncent des informations complémentaires en provenance des registres civils.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evenementFiscalType">
				<xs:sequence>
					<xs:element name="type" type="typeInformationComplementaireType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Type de l'annonce reçue du registre civil.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="typeInformationComplementaireType">
		<xs:annotation>
			<xs:documentation>Le type d'un événement fiscal émis à la réception d'une annonce civile autour d'une faillite ou d'un concordat sans impact sur l'assujettissement de l'entreprise.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="CHANGEMENT_FORME_JURIDIQUE_MEME_CATEGORIE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors du changement de forme juridique d'une entreprise conservant la même catégorie.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MODIFICATION_STATUTS">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors d'une modification des statuts d'une entreprise.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MODIFICATION_BUT">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors d'une modification du but d'une entreprise.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MODIFICATION_CAPITAL">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors d'une modification du capital d'une entreprise.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FUSION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors d'une fusion d'entreprises.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SCISSION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors d'une scission d'entreprise.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRANSFERT_PATRIMOINE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors d'un transfert de patrimoine entre entreprises.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LIQUIDATION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la liquidation d'une entreprise.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>

			<xs:enumeration value="AVIS_PREALABLE_OUVERTURE_FAILLITE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'avis préalable à l'ouverture d'une faillite.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ETAT_COLLOCATION_INVENTAIRE_FAILLITE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'état de collocation et inventaire dans la faillite.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VENTE_ENCHERES_FORCEE_IMMEUBLES_FAILLITE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la vente aux enchères forcée d'immeubles dans la faillite.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SURSIS_CONCORDATAIRE_PROVISOIRE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'octroi d'un sursis concordataire provisoire.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SURSIS_CONCORDATAIRE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'octroi d'un sursis concordataire.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="APPEL_CREANCIERS_CONCORDAT">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'appel aux créanciers dans un concordat.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AUDIENCE_LIQUIDATION_ABANDON_ACTIF">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'audience de liquidation par abandon d'actif.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PROLONGATION_SURSIS_CONCORDATAIRE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la prolongation d'un sursis concordataire.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ANNULATION_SURSIS_CONCORDATAIRE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'annulation d'un sursis concordataire.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HOMOLOGATION_CONCORDAT">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'homologation d'un concordat.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ETAT_COLLOCATION_CONCORDAT_ABANDON_ACTIF">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'état de collocation dans un concordat par abandon d'actif.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TABLEAU_DISTRIBUTION_DECOMPTE_FINAL_CONCORDAT">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'établissement du tableau de distribution et du décompte final dans un concordat par abandon d'actif.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CONCORDAT_BANQUE_CAISSE_EPARGNE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la constitution d'un concordat de banque et de caisse d'épargne.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VENTE_ENCHERES_FORCEE_IMMEUBLES_POURSUITE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la vente aux enchères forcée d'immeubles dans la poursuite.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>

			<xs:enumeration value="PUBLICATION_FAILLITE_APPEL_CREANCIERS">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la publication d'une faillite et de l'appel aux créanciers.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SUSPENSION_FAILLITE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la suspension d'une faillite.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CLOTURE_FAILLITE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la clôture d'une faillite.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REVOCATION_FAILLITE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de la révocation d'une faillite.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="APPEL_CREANCIERS_TRANSFERT_HS">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'appel aux créanciers suite à un transfert à l'étranger.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>

			<xs:enumeration value="ANNULATION_FUSION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'annulation d'une fusion d'entreprises.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ANNULATION_SCISSION">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'annulation d'une scission d'entreprise.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ANNULATION_TRANSFERT_PATRIMOINE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'annulation d'un transfert de patrimoine entre entreprises.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ANNULATION_FAILLITE">
				<xs:annotation>
					<xs:documentation>Type de l'événement fiscal émis lors de l'annulation d'une faillite.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>

		</xs:restriction>
	</xs:simpleType>

</xs:schema>
