jaxb2/fidor/src/main/resources/data/fidor-regimefiscal-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) by ETAT DE VAUD (Direction des systèmes d`information) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:regime-fiscal="http://www.vd.ch/fiscalite/fidor/regimefiscal/2" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" targetNamespace="http://www.vd.ch/fiscalite/fidor/regimefiscal/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" jxb:version="2.0">
	<xs:simpleType name="periodeFiscaleType">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1899"/>
			<xs:maxInclusive value="2100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="etatType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CREE"/>
			<xs:enumeration value="VALIDE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="modeExonerationType">
		<xs:annotation>
			<xs:documentation>Les différents mode d'exonération possible.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="EXONERATION_TOTALE">
				<xs:annotation>
					<xs:documentation>Exonération totale signifie qu'il n'y a pas de DT émise</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXONERATION_DE_FAIT">
				<xs:annotation>
					<xs:documentation>Exonération de fait signifie qu'il y a une DT émise avec valeurs à zéro</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="genreImpotType">
		<xs:annotation>
			<xs:documentation>Les informations relatives à un genre d'impôt.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="xs:string">
				<xs:annotation>
					<xs:documentation>Code du genre d'impôt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="designationCourte" type="xs:string">
				<xs:annotation>
					<xs:documentation>Désignation courte du genre d'impôt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="designationLongue" type="xs:string">
				<xs:annotation>
					<xs:documentation>Désignation longue du genre d'impôt</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="exonerationType">
		<xs:annotation>
			<xs:documentation>Les données d'exoneration pour un régime fiscal.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="periodeFiscaleFinValidite" type="regime-fiscal:periodeFiscaleType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Période incluse de fin de validité de l'exoneration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="periodeFiscaleDebutValidite" type="regime-fiscal:periodeFiscaleType">
				<xs:annotation>
					<xs:documentation>Période incluse de début de validité de l'exoneration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="genreImpot" type="regime-fiscal:genreImpotType">
				<xs:annotation>
					<xs:documentation>Genre d'impôt lié à l'exonération</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mode" type="regime-fiscal:modeExonerationType">
				<xs:annotation>
					<xs:documentation>Mode d'exonération</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="imputationType">
		<xs:annotation>
			<xs:documentation>Les données d'imputation pour un régime fiscal.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="periodeFiscaleFinValidite" type="regime-fiscal:periodeFiscaleType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Période incluse de fin de validité de l'imputation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="periodeFiscaleDebutValidite" type="regime-fiscal:periodeFiscaleType">
				<xs:annotation>
					<xs:documentation>Période incluse de début de validité de l'imputation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="impotCapitalMinimumType">
		<xs:annotation>
			<xs:documentation>Les données d'impôt capital minimum pour un régime fiscal.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="periodeFiscaleFinValidite" type="regime-fiscal:periodeFiscaleType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Période incluse de fin de validité de l'ICM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="periodeFiscaleDebutValidite" type="regime-fiscal:periodeFiscaleType">
				<xs:annotation>
					<xs:documentation>Période incluse de début de validité de l'ICM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="baremeImpotType">
		<xs:annotation>
			<xs:documentation>Les informations du bareme d'impot.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="xs:string">
				<xs:annotation>
					<xs:documentation>Code du barème d'impot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="designation" type="xs:string">
				<xs:annotation>
					<xs:documentation>Désignation du barème</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unite" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>unité de représentation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tauxType">
		<xs:annotation>
			<xs:documentation>Les valeurs du taux d'imposition selon le barème d'impot.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="periode" type="regime-fiscal:periodeFiscaleType">
				<xs:annotation>
					<xs:documentation>Période de validité du taux</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="baremeImpot" type="regime-fiscal:baremeImpotType">
				<xs:annotation>
					<xs:documentation>type de barème d'impôt lié au taux</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="valeur">
				<xs:annotation>
					<xs:documentation>Valeur du taux </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="5"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="etat" type="regime-fiscal:etatType">
				<xs:annotation>
					<xs:documentation>Etat du taux</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="categorieEntrepriseType">
		<xs:annotation>
			<xs:documentation>Les informations relatives à une catégorie d'entreprise.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="xs:string">
				<xs:annotation>
					<xs:documentation>Code de la catégorie d'entreprise</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="designation" type="xs:string">
				<xs:annotation>
					<xs:documentation>Désignation de la catégorie d'entreprise</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="regimeFiscalType">
		<xs:annotation>
			<xs:documentation>Les informations d'un régime fiscal.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="xs:string">
				<xs:annotation>
					<xs:documentation>Code unique d'identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="libelle" type="xs:string">
				<xs:annotation>
					<xs:documentation>Nom complet du régime</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cantonal" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>indique si le régime est de type cantonal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="federal" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>indique si le régime est de type fédéral</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="categorieEntreprise" type="regime-fiscal:categorieEntrepriseType">
				<xs:annotation>
					<xs:documentation>La catégorie d'entreprise à laquelle est destiné ce régime fiscal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exoneration" type="regime-fiscal:exonerationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Liste des exonérations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="imputation" type="regime-fiscal:imputationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Liste des imputations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="impotCapitalMinimum" type="regime-fiscal:impotCapitalMinimumType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Liste des ICM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taux" type="regime-fiscal:tauxType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Liste des taux enregistrés pour ce régime fiscal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="periodeFiscaleFinValidite" type="regime-fiscal:periodeFiscaleType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Période incluse de fin de validité du régime fiscal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="periodeFiscaleDebutValidite" type="regime-fiscal:periodeFiscaleType">
				<xs:annotation>
					<xs:documentation>Période incluse de début de validité du régime fiscal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
