unireg-ws-party3/src/main/resources/messages/party3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.vd.ch/fiscalite/unireg/webservices/party3" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:common="http://www.vd.ch/fiscalite/unireg/common/1"
           xmlns:corporation="http://www.vd.ch/fiscalite/unireg/party/corporation/1"
           xmlns:debtor="http://www.vd.ch/fiscalite/unireg/party/debtor/1"
           xmlns:exception="http://www.vd.ch/fiscalite/unireg/exception/1"
           xmlns:tax="http://www.vd.ch/fiscalite/unireg/party/taxdeclaration/1"
           xmlns:party="http://www.vd.ch/fiscalite/unireg/party/party/1"
           xmlns:ws="http://www.vd.ch/fiscalite/unireg/webservices/party3"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">

	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/common/1" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/unireg-common-1.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/exception/1" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/unireg-exception-1.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/party/1" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/party/unireg-party-1.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/debtor/1" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/party/unireg-party-debtor-1.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/taxdeclaration/1" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/party/unireg-party-taxdeclaration-1.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/corporation/1" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/party/unireg-party-corporation-1.xsd" />

	<xs:complexType abstract="true" name="requestType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Données de base communes à toutes les requêtes au web-service Tiers d'Unireg.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="login" type="common:userLoginType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Information de login de l'utilisateur qui a initié la requête.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="partyPartType">
		<xs:annotation>
			<xs:appinfo>
				<typesafeEnumClass>
					<jxb:javadoc>Les différents collections (= parties) qui peuvent être renseignées sur un tiers.</jxb:javadoc>
				</typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDRESSES">
				<xs:annotation>
					<xs:documentation>Les adresses du tiers</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_RESIDENCES">
				<xs:annotation>
					<xs:documentation>Les fors fiscaux du tiers.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VIRTUAL_TAX_RESIDENCES">
				<xs:annotation>
					<xs:documentation>Les fors fiscaux virtuels du tiers (les fors fiscaux non-virtuels sont aussi retournés).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MANAGING_TAX_RESIDENCES">
				<xs:annotation>
					<xs:documentation>Les fors de gestion du tiers</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HOUSEHOLD_MEMBERS">
				<xs:annotation>
					<xs:documentation>Les composants du ménage.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_LIABILITIES">
				<xs:annotation>
					<xs:documentation>L'assujettissement complet du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SIMPLIFIED_TAX_LIABILITIES">
				<xs:annotation>
					<xs:documentation>Une vue simplifiée de l'assujettissement du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAXATION_PERIODS">
				<xs:annotation>
					<xs:documentation>Les périodes d'imposition du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RELATIONS_BETWEEN_PARTIES">
				<xs:annotation>
					<xs:documentation>Les rapports-entre-tiers du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FAMILY_STATUSES">
				<xs:annotation>
					<xs:documentation>Les situations de famille du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_DECLARATIONS">
				<xs:annotation>
					<xs:documentation>Les déclarations du tiers.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_DECLARATIONS_STATUSES">
				<xs:annotation>
					<xs:documentation>Renseigne les états des déclarations. Attention ! L'utilisation de cette part est fortement déconseillée car elle dégrade très fortement les performances (=
						implique une requête supplémentaire dans la base de données pour chaque déclaration de chaque tiers).
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_DECLARATIONS_DEADLINES">
				<xs:annotation>
					<xs:documentation>Renseigne les délais des déclarations. Attention ! L'utilisation de cette part est fortement déconseillée car elle dégrade très fortement les performances (=
						implique une requête supplémentaire dans la base de données pour chaque déclaration de chaque tiers).
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BANK_ACCOUNTS">
				<xs:annotation>
					<xs:documentation>Les comptes bancaire du tiers.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LEGAL_SEATS">
				<xs:annotation>
					<xs:documentation>Les sièges de la personne morale.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LEGAL_FORMS">
				<xs:annotation>
					<xs:documentation>Les formes juridiques de la personne morale.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CAPITALS">
				<xs:annotation>
					<xs:documentation>Les capitaux de la personne morale.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_SYSTEMS">
				<xs:annotation>
					<xs:documentation>Les régimes fiscaux de la personne morale.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CORPORATION_STATUSES">
				<xs:annotation>
					<xs:documentation>Les états de la personne morale.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEBTOR_PERIODICITIES">
				<xs:annotation>
					<xs:documentation>Les périodicités du débiteur.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IMMOVABLE_PROPERTIES">
				<xs:annotation>
					<xs:documentation>Les immeubles du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CHILDREN">
				<xs:annotation>
					<xs:documentation>Les enfants (naturels et adoptés) du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARENTS">
				<xs:annotation>
					<xs:documentation>Les parents (naturels et par adoption) du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="partyNumberListType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Une liste de numéros de tiers.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" nillable="true" type="common:partyNumberType" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="acknowledgeTaxDeclarationsRequestType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Requête qui demande de quittancer une ou plusieurs déclarations.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ws:requestType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="requests" type="ws:acknowledgeTaxDeclarationRequestType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Les demandes de quittancement à traiter.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="acknowledgeTaxDeclarationRequestType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Demande de quittancement (= douchage au CEDI) d'une déclaration d'impôt ordinaire.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="key" type="ws:ordinaryTaxDeclarationKeyType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La clé qui permet d'identification la déclaration.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="acknowledgeDate" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de retour (= date de quittancement) de la déclaration.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="source" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La source du quittancement (= nom de l'application à la source du quittancement : CEDI, ADDI, ...).</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ordinaryTaxDeclarationKeyType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Contient les données qui permettent d'identifier de manière unique une déclaration d'impôt ordinaire.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="taxpayerNumber" type="common:partyNumberType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le numéro de contribuable auquel appartient la déclaration.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxPeriod" type="xs:int">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La période fiscale complète (ex. 2010) pour laquelle la déclaration a été émise.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sequenceNumber" type="xs:int">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le numéro de séquence de la déclaration (pour le contribuable et la période fiscale considérée)..</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="acknowledgeTaxDeclarationResponseType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Contient les informations de réponse d'une demande de quittancement d'une déclaration d'impôt ordinaire.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="key" type="ws:ordinaryTaxDeclarationKeyType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La clé qui permet d'identifier la déclaration concernée</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="code" type="ws:taxDeclarationAcknowledgeCodeType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le code de retour du quittancement.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="exceptionInfo" type="exception:serviceExceptionInfoType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le type et le message de l'erreur ou de l'exception levée si code != OK</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="taxDeclarationAcknowledgeCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK">
				<xs:annotation>
					<xs:documentation>La déclaration a bien été quittancée.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR_UNKNOWN_TAXPAYER">
				<xs:annotation>
					<xs:documentation>Le contribuable spécifié est inconnu.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR_TAX_LIABILITY">
				<xs:annotation>
					<xs:documentation>Une erreur en relation avec l'assujettissement du contribuable a été détectée (pas de for fiscal principal, ...).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR_INACTIVE_DEBTOR">
				<xs:annotation>
					<xs:documentation>Le contribuable est un débiteur inactif.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR_UNKNOWN_TAX_DECLARATION">
				<xs:annotation>
					<xs:documentation>La déclaration spécifiée n'existe pas.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR_CANCELLED_TAX_DECLARATION">
				<xs:annotation>
					<xs:documentation>La déclaration d'impôt est annnulée.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR_INVALID_ACKNOWLEDGE_DATE">
				<xs:annotation>
					<xs:documentation>La date de quittance est invalide.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXCEPTION">
				<xs:annotation>
					<xs:documentation>La déclaration n'a pas pu être quittancée pour une raison inconnue. Voir le message d'exception pour plus de détails.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType final="#all" name="acknowledgeTaxDeclarationsResponseType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="responses" nillable="true" type="ws:acknowledgeTaxDeclarationResponseType" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="extendDeadlineRequestType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Requête qui permet d'ajouter un délai sur une déclaration d'impôt.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ws:requestType">
				<xs:sequence>
					<xs:element name="key" type="tax:taxDeclarationKeyType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La clé qui permet d'identification la déclaration.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="applicationDate" type="common:dateType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La date de demande.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="newDeadline" type="common:dateType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le nouveau délai accordé.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="extendDeadlineResponseType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Réponse d'une demande d'ajout de délai sur une déclaration d'impôt ordinaire.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="key" type="tax:taxDeclarationKeyType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La clé qui permet d'identifier la déclaration concernée</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="code" type="ws:extendDeadlineCodeType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le code de retour du quittancement.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="exceptionInfo" type="exception:serviceExceptionInfoType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le type et le message de l'erreur ou de l'exception levée si code != OK</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="extendDeadlineCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK">
				<xs:annotation>
					<xs:documentation>Le délai a bien été ajouté.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR_UNKNOWN_TAXPAYER">
				<xs:annotation>
					<xs:documentation>Le contribuable spécifié est inconnu.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR_UNKNOWN_TAX_DECLARATION">
				<xs:annotation>
					<xs:documentation>La déclaration spécifiée n'existe pas.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR_CANCELLED_TAX_DECLARATION">
				<xs:annotation>
					<xs:documentation>La déclaration d'impôt est annnulée.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR_BAD_TAX_DECLARATION_STATUS">
				<xs:annotation>
					<xs:documentation>La déclaration d'impôt n'est plus dans l'état 'émise'. Il n'est pas possible d'ajouter un délai sur une déclaration qui a été sommée, par exemple.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR_INVALID_DEADLINE">
				<xs:annotation>
					<xs:documentation>La date de délai spécifiée est invalide.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR_INVALID_APPLICATION_DATE">
				<xs:annotation>
					<xs:documentation>La date de demande est invalide.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXCEPTION">
				<xs:annotation>
					<xs:documentation>La déclaration n'a pas pu être quittancée pour une raison inconnue. Voir le message d'exception pour plus de détails.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="getBatchPartyRequestType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Requête qui demande les informations de plusieurs tiers d'un seul coup.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ws:requestType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="partyNumbers" type="common:partyNumberType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Les ids des tiers à retourner</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parts" type="ws:partyPartType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Les parties à renseigner sur les tiers retournés.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="batchPartyType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="entries" type="ws:batchPartyEntryType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="batchPartyEntryType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Les données trouvées pour un tiers demandé à travers la méthode 'getBatchParty'.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="number" type="common:partyNumberType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le numéro de tiers demandé.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="party" type="party:partyType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le tiers demandé, ou non-renseigné si le tiers n'a pas été trouvé.
								S'il le tiers est non-renseigné, il y a deux possibilités :
								- si 'exceptionInfo' est non-renseigné : le tiers n'existe pas.
								- si 'exceptionInfo' est renseigné : le tiers existe mais le web-service n'a pu pas le retourner. Dans ce cas, la raison est stockée dans 'exceptionInfo'.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="exceptionInfo" type="exception:serviceExceptionInfoType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La raison de l'exception si le tiers n'a pas pu être retourné à cause d'une exception, non renseigné si le tiers a été retourné ou qu'il n'existe simplement
								pas.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getDebtorInfoRequestType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Requête qui demande des informations spécifiques sur un débiteur de prestations imposables pour une période fiscale donnée.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ws:requestType">
				<xs:sequence>
					<xs:element name="debtorNumber" type="common:partyNumberType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le numéro de tiers du débiteur de prestations imposables.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="taxPeriod" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La période fiscale considérée (1er janvier au 31 décembre).</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="getModifiedTaxpayersRequestType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Requête qui demande la liste des contribuables modifiés dans Unireg dans une période (pas forcément fiscale) donnée.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ws:requestType">
				<xs:sequence>
					<xs:element name="searchBeginDate" type="xs:dateTime">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Critère sur la date de début de recherche.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="searchEndDate" type="xs:dateTime">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Critère sur la date de fin de recherche.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="getPartyRequestType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Requête qui demande tout ou partie des informations historiques d'un tiers.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ws:requestType">
				<xs:sequence>
					<xs:element name="partyNumber" type="common:partyNumberType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'id du tiers dont on veut obtenir les informations.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parts" type="ws:partyPartType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Les parties à renseigner sur le tiers retourné.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="getPartyTypeRequestType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Requête qui demande le type d'un tiers à partir de son numéro.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ws:requestType">
				<xs:sequence>
					<xs:element name="partyNumber" type="common:partyNumberType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'id du tiers dont on veut obtenir les informations.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="getTaxOfficesRequestType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Requête qui demande les offices d'impôt de district et de région pour une commune vaudoise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ws:requestType">
				<xs:sequence>
					<xs:element name="municipalityFSOId" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le numéro Ofs d'une commune vaudoise.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="date" type="common:dateType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La date de validité de la commune considérée (ou null pour la date du jour).</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="getTaxOfficesResponseType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Réponse de la demande d'obtention des offices d'impôt de district et de région pour une commune vaudoise.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="districtTaxOfficePartyNumber" type="common:partyNumberType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le numéro de tiers de l'office d'impôt de district.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="regionTaxOfficePartyNumber" type="common:partyNumberType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le numéro de tiers de l'office d'impôt de région.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="searchCorporationEventsRequestType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Requête de recherche d'événements des personnes morales en fonction de divers critères.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ws:requestType">
				<xs:sequence>
					<xs:element minOccurs="0" name="corporationNumber" type="common:partyNumberType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Critère sur le numéro de personne morale des événements à retourner.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="eventCode" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Critère sur le code des événement à retourner.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="startDate" type="common:dateType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Critère sur la date minimale des événements à retourner.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="endDate" type="common:dateType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Critère sur la date maximale des événements à retourner.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType final="#all" name="searchCorporationEventsResponseType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="events" nillable="true" type="corporation:corporationEventType" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="searchPartyRequestType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Requête de recherche de tiers en fonction de divers critères.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ws:requestType">
				<xs:sequence>
					<xs:element minOccurs="0" name="number" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Un ou plusieurs numéro de contribuable séparés par des '+'. Si ce champ est renseigné, tous les autres champs sont ignorés.
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="contactName" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Nom des tiers à rechercher. Attention ! Le 'nom' est à prendre au sens large du terme : il inclut les prénoms et noms des personnes physiques (y
										compris
										les éventuels noms de naissance) et les raisons sociales des personnes morales et débiteurs (y compris les éventuels compléments et personnes de contact), ...
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="townOrCountry" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Critère sur la localité (ou le pays pour les tiers hors-Suisse) de l'adresse courrier du tiers</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="dateOfBirth" type="common:dateType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Critère de recherche sur la date de naissance du tiers. Les ménages communs composés de personnes physiques qui correspondent au critère sont aussi
										retournés.
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="socialInsuranceNumber" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Critère sur le numéro AVS (11 ou 13).</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="taxResidenceFSOId" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Critère sur le numéro Ofs des for fiscaux du tiers. Tous les types de fors fiscaux (principaux, secondaires, débiteurs, autres, ...) sont pris en
										compte
										par défaut. Voir le critère 'forPrincipalActif' pour changer ce comportement.
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="activeMainTaxResidence" type="xs:boolean">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Si vrai, restreint le critère 'noOfsFor' sur les fors principaux actifs.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="searchMode" type="ws:searchModeType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le type de recherche sur le nomCourrier.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="partyTypes" type="party:partyTypeType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Si renseigné, restreint la recherche sur un type de tiers. Si plusieurs types sont spécifiés, l'union des résultats des recherches type par type est
										retourné (SIFISC-112).
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="debtorCategory" type="debtor:debtorCategoryType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La catégorie de débiteur (uniquement valable sur les débiteurs).</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="activeParty" type="xs:boolean">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Si renseigné, restreint la recherche sur les tiers actifs (= un for fiscal principal ouvert) ou inactifs (= pas de for fiscal principal ouvert).
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="oldWithholdingNumber" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Critère de recherche sur l'ancien numéro de sourcier.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="searchModeType">
		<xs:annotation>
			<xs:appinfo>
				<typesafeEnumClass>
					<jxb:javadoc>Comportement de la recherche sur le nom du tiers (voir la documentation du champ 'searchPartyRequestType#contactName' pour la signification du 'nom').</jxb:javadoc>
				</typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="IS_EXACTLY">
				<xs:annotation>
					<xs:documentation>Ne retourne que les tiers dont les mots du nom correspondent exactement aux mots spécifiés (par exemple: 'Dujardin' dans 'Jean Dujardin').
						A noter que l'ordre des mots et la présence éventuelle de mots supplémentaires n'ont aucune importance. Traitement plutôt rapide.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CONTAINS">
				<xs:annotation>
					<xs:documentation>Retourne les tiers dont le nom contient la valeur spécifiée (par exemple: 'jardin' dans 'Jean Dujardin'). Traitement moyennement rapide.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PHONETIC">
				<xs:annotation>
					<xs:documentation>Retourne les tiers dont le nom est assez proche de la valeur spécifiée (par exemple: 'xardin' dans 'Jean Dujardin'). Traitement le moins rapide.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType final="#all" name="searchPartyResponseType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="party:partyInfoType" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="setAutomaticReimbursementBlockingRequestType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Requête qui demande de changer le bloquage du remboursement automatique sur un tiers donné.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ws:requestType">
				<xs:sequence>
					<xs:element name="partyNumber" type="common:partyNumberType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'id du tiers concerné par le changement.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="blocked" type="xs:boolean">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Vrai si le blocage doit être activé, ou faux s'il doit être désactivé.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>