jaxb2/rcent/src/main/resources/eVD-0022-1-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) by ACV (DIRECTION DES SYSTEMS D'INFORMATION) -->
<!--																																											-->
<!-- Evolution sur version 1-1 : 																																	-->
<!--      Modification de typeOfNotice : ajout des enum 50 à 54																						-->
<!--      Nouveau type : dataLockType																															-->
<!--      Modification de personType : ajout de l'attribut dataLock 																					-->
<!--      Nouveau type : personDataSourceType																												-->
<!--      Modification de personType : ajout de l'attribut RCPersData (booleen) permettant d'indiquer si les données				-->
<!--												 diffusées sur les personnes proviennent de RCPers ou de RCEnt								-->
<!--      Nouveau type typeOfNoticeRequestType																											-->
<!--      nouveau type : noticeRequestType																													-->
<!--      nouveau type : noticeRequestHeaderType						 																					-->
<!--      nouveau type : noticeRequestBodyType																											-->
<!--      Nouveau type branchTextType																															-->
<!--      Nouveau type personShortType																														-->
<!--      CommercialRegisterDataType : fusion des 2 adresses (cantonale et fédérale en une seule, nommée legalAdress	-->
<!--      uidRegisterDataType : fusion des 2 adresses (main et additional en une seule, nommée effectiveAdress				-->
<!--	   organisationLocationType : ajout de l'établissement de remplacement (attribut replacement)									-->
<!--	   organisationLocationType : ajout des établissements remplacés (attribut replaced)												-->
<!--	   organisationType : ajout des entreprises remplacées (attribut replaced)																-->
<!--	   uidRegisterDataType : status devient obligatoire																								-->
<!--      headerType : senderIdentification renommé en senderName, format changé en senderNameType (nouveau type)	-->
<!--      headerType : correction du type senderReferenceData de token à string																-->
<!--	   changement sur partyType : suppression du choice person/organisation remplacé par person uniquement				-->
<!--	   correction sur noticeOrganisationType : element organisationIdentifiaction corrigé à organisationIdentification			-->
<!--																																											-->
<!-- Correction apportée sur la version 1-1 le 12/05/2015																								-->
<!--      noticeRequestStatusDate : type passe de date à dateTime																				-->
<!--	   personType : l'attribut origin devient multi-valué (mise en conformité avec RCPers)												-->
<xs:schema xmlns="http://evd.vd.ch/xmlns/eVD-0022/1" xmlns:eVD-0021="http://evd.vd.ch/xmlns/eVD-0021/1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://evd.vd.ch/xmlns/eVD-0022/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:import namespace="http://evd.vd.ch/xmlns/eVD-0021/1" schemaLocation="http://evd.vd.ch/xmlns/eVD-0021/1/eVD-0021-1-1.xsd"/>
	<xs:simpleType name="noticeIdType">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="typeOfNoticeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="38"/>
			<xs:enumeration value="39"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="47"/>
			<xs:enumeration value="48"/>
			<xs:enumeration value="49"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53"/>
			<xs:enumeration value="54"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfNoticeRequestType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="liquidationReasonType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfCapitalChangeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfFusionType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfLiquidationType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="personDataSourceType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfCapitalReductionType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfTransferType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="municipalityIdType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="9999"/>
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="municipalityNameType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cantonAbbreviationType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="2"/>
			<xs:enumeration value="ZH"/>
			<xs:enumeration value="BE"/>
			<xs:enumeration value="LU"/>
			<xs:enumeration value="UR"/>
			<xs:enumeration value="SZ"/>
			<xs:enumeration value="OW"/>
			<xs:enumeration value="NW"/>
			<xs:enumeration value="GL"/>
			<xs:enumeration value="ZG"/>
			<xs:enumeration value="FR"/>
			<xs:enumeration value="SO"/>
			<xs:enumeration value="BS"/>
			<xs:enumeration value="BL"/>
			<xs:enumeration value="SH"/>
			<xs:enumeration value="AR"/>
			<xs:enumeration value="AI"/>
			<xs:enumeration value="SG"/>
			<xs:enumeration value="GR"/>
			<xs:enumeration value="AG"/>
			<xs:enumeration value="TG"/>
			<xs:enumeration value="TI"/>
			<xs:enumeration value="VD"/>
			<xs:enumeration value="VS"/>
			<xs:enumeration value="NE"/>
			<xs:enumeration value="GE"/>
			<xs:enumeration value="JU"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="historyMunicipalityId">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="10001"/>
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="kindOfLocationType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="commercialRegisterStatusType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="commercialRegisterEntryStatusType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="diaryKindOfEntryType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfTopicType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="000"/>
			<xs:enumeration value="120"/>
			<xs:enumeration value="122"/>
			<xs:enumeration value="123"/>
			<xs:enumeration value="124"/>
			<xs:enumeration value="125"/>
			<xs:enumeration value="126"/>
			<xs:enumeration value="127"/>
			<xs:enumeration value="128"/>
			<xs:enumeration value="131"/>
			<xs:enumeration value="132"/>
			<xs:enumeration value="133"/>
			<xs:enumeration value="134"/>
			<xs:enumeration value="163"/>
			<xs:enumeration value="180"/>
			<xs:enumeration value="181"/>
			<xs:enumeration value="182"/>
			<xs:enumeration value="185"/>
			<xs:enumeration value="186"/>
			<xs:enumeration value="187"/>
			<xs:enumeration value="190"/>
			<xs:enumeration value="191"/>
			<xs:enumeration value="257"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfCapitalType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="authorisationType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uidRegisterStatusType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uidRegisterTypeOfOrganisationType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uidRegisterPublicStatusType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uidRegisterLiquidationReasonType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="vatRegisterStatusType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="vatRegisterEntryStatusType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="personNameType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sexType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="vnType">
		<xs:restriction base="xs:unsignedLong">
			<xs:minInclusive value="7560000000001"/>
			<xs:maxInclusive value="7569999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dataLockType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cantonalIdType">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="nameType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="branchTextType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="legalFormType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="00"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="0101"/>
			<xs:enumeration value="0103"/>
			<xs:enumeration value="0104"/>
			<xs:enumeration value="0105"/>
			<xs:enumeration value="0106"/>
			<xs:enumeration value="0107"/>
			<xs:enumeration value="0108"/>
			<xs:enumeration value="0109"/>
			<xs:enumeration value="0110"/>
			<xs:enumeration value="0111"/>
			<xs:enumeration value="0113"/>
			<xs:enumeration value="0114"/>
			<xs:enumeration value="0115"/>
			<xs:enumeration value="0116"/>
			<xs:enumeration value="0117"/>
			<xs:enumeration value="0118"/>
			<xs:enumeration value="0119"/>
			<xs:enumeration value="0151"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="0220"/>
			<xs:enumeration value="0221"/>
			<xs:enumeration value="0222"/>
			<xs:enumeration value="0223"/>
			<xs:enumeration value="0224"/>
			<xs:enumeration value="0230"/>
			<xs:enumeration value="0231"/>
			<xs:enumeration value="0232"/>
			<xs:enumeration value="0233"/>
			<xs:enumeration value="0234"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="0302"/>
			<xs:enumeration value="0312"/>
			<xs:enumeration value="0327"/>
			<xs:enumeration value="0328"/>
			<xs:enumeration value="0329"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="0441"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currencyType">
		<xs:restriction base="xs:token">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="noticeRequestStatusCodeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="noticeRequestStatusType">
		<xs:sequence>
			<xs:element name="noticeRequestStatusCode" type="noticeRequestStatusCodeType"/>
			<xs:element name="noticeRequestStatusDate" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="noticeRequestType">
		<xs:sequence>
			<xs:element name="noticeRequestHeader" type="noticeRequestHeaderType"/>
			<xs:element name="noticeRequestBody" type="noticeRequestBodyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="noticeRequestHeaderType">
		<xs:sequence>
			<xs:element name="noticeRequestId" type="noticeIdType"/>
			<xs:element name="typeOfNoticeRequest" type="typeOfNoticeRequestType"/>
			<xs:element name="noticeRequestDateTime" type="xs:dateTime"/>
			<xs:element name="scheduledDate" type="xs:date" minOccurs="0"/>
			<xs:element name="organisationLocationCantonalId" type="cantonalIdType" minOccurs="0"/>
			<xs:element name="IDESource" type="identifierType" minOccurs="0"/>
			<xs:element name="userId" type="xs:string" minOccurs="0"/>
			<xs:element name="userPhoneNumber" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="noticeRequestBodyType">
		<xs:sequence>
			<xs:element name="organisationLocationName" type="nameType" minOccurs="0"/>
			<xs:element name="organisationLocationAdditionalName" type="nameType" minOccurs="0"/>
			<xs:element name="organisationLocationReplacementCantonalId" type="cantonalIdType" minOccurs="0"/>
			<xs:element name="organisationLocationAddress" type="eVD-0021:noticeRequestAddressType" minOccurs="0"/>
			<xs:element name="kindOfLocation" type="kindOfLocationType" minOccurs="0"/>
			<xs:element name="organisationCantonalId" type="cantonalIdType" minOccurs="0"/>
			<xs:element name="organisationLocationLegalForm" type="legalFormType" minOccurs="0"/>
			<xs:element name="branchText" type="xs:string" minOccurs="0"/>
			<xs:element name="organisationLocationLiquidationReason" type="liquidationReasonType" minOccurs="0"/>
			<xs:element name="person" type="personSummaryType" minOccurs="0"/>
			<xs:element name="comment" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="identifierType">
		<xs:sequence>
			<xs:element name="identifierCategory" type="xs:string"/>
			<xs:element name="identifierValue" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="identificationType">
		<xs:sequence>
			<xs:element name="cantonalId" type="cantonalIdType"/>
			<xs:element name="identifier" type="identifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="otherName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organisationLocationIdentificationType">
		<xs:sequence>
			<xs:element name="organisationCantonalId" type="cantonalIdType"/>
			<xs:element name="organisationLocationIdentification" type="identificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="errorType">
		<xs:sequence>
			<xs:element name="errorId" type="xs:token"/>
			<xs:element name="errorDescription" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="noticeRequestReportType">
		<xs:sequence>
			<xs:element name="noticeRequest" type="noticeRequestType"/>
			<xs:element name="noticeRequestStatus" type="noticeRequestStatusType"/>
			<xs:element name="listOfErrors" type="errorType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="resultsType">
		<xs:choice>
			<xs:element name="organisation" type="identificationType"/>
			<xs:element name="organisationLocation" type="organisationLocationIdentificationType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="postOfficeBoxType">
		<xs:sequence>
			<xs:element name="postOfficeBoxText" type="xs:string"/>
			<xs:element name="postOfficeBoxNumber" type="xs:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="swissGazetteOfCommercePublicationType">
		<xs:sequence>
			<xs:element name="documentNumber" type="xs:string"/>
			<xs:element name="publicationDate" type="xs:date"/>
			<xs:element name="publicationText" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="commercialRegisterNameTranslationType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="language" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="commercialRegisterDiaryEntryType">
		<xs:sequence>
			<xs:element name="diaryKindOfEntry" type="diaryKindOfEntryType" minOccurs="0"/>
			<xs:element name="diaryEntryNumber" type="xs:nonNegativeInteger"/>
			<xs:element name="diaryEntryDate" type="xs:date"/>
			<xs:element name="swissGazetteOfCommercePublication" type="swissGazetteOfCommercePublicationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="topicType">
		<xs:sequence>
			<xs:element name="typeOfTopic" type="typeOfTopicType"/>
			<xs:element name="topicText" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="capitalType">
		<xs:sequence>
			<xs:element name="typeOfCapital" type="typeOfCapitalType" minOccurs="0"/>
			<xs:element name="currency" type="currencyType" minOccurs="0"/>
			<xs:element name="capitalAmount" type="xs:decimal" minOccurs="0"/>
			<xs:element name="cashedInAmount" type="xs:decimal" minOccurs="0"/>
			<xs:element name="division" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="functionType">
		<xs:sequence>
			<xs:element name="party" type="partyType"/>
			<xs:element name="functionText" type="xs:string" minOccurs="0"/>
			<xs:element name="authorisation" type="authorisationType" minOccurs="0"/>
			<xs:element name="authorisationRestriction" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="datePartiallyKnownType">
		<xs:choice>
			<xs:element name="yearMonthDay" type="xs:date"/>
			<xs:element name="yearMonth" type="xs:gYearMonth"/>
			<xs:element name="year" type="xs:gYear"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="personType">
		<xs:sequence>
			<xs:element name="cantonalId" type="xs:int" minOccurs="0"/>
			<xs:element name="personDataSource" type="personDataSourceType" minOccurs="0"/>
			<xs:element name="dataLock" type="dataLockType" minOccurs="0"/>
			<xs:element name="vn" type="vnType" minOccurs="0"/>
			<xs:element name="name" type="personNameType"/>
			<xs:element name="firstName" type="personNameType" minOccurs="0"/>
			<xs:element name="sex" type="sexType" minOccurs="0"/>
			<xs:element name="dateOfBirth" type="datePartiallyKnownType" minOccurs="0"/>
			<xs:element name="origin" type="originType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="personSummaryType">
		<xs:sequence>
			<xs:element name="cantonalId" type="xs:int" minOccurs="0"/>
			<xs:element name="vn" type="vnType" minOccurs="0"/>
			<xs:element name="name" type="personNameType"/>
			<xs:element name="firstName" type="personNameType" minOccurs="0"/>
			<xs:element name="dateOfBirth" type="datePartiallyKnownType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="commercialRegisterDataType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="nameTranslation" type="commercialRegisterNameTranslationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="status" type="commercialRegisterStatusType"/>
			<xs:element name="entryStatus" type="commercialRegisterEntryStatusType" minOccurs="0"/>
			<xs:element name="entryDate" type="xs:date" minOccurs="0"/>
			<xs:element name="cancellationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="legalAddress" type="eVD-0021:addressType" minOccurs="0"/>
			<xs:element name="webLink" type="xs:token" minOccurs="0"/>
			<xs:element name="purpose" type="xs:string" minOccurs="0"/>
			<xs:element name="diaryEntry" type="commercialRegisterDiaryEntryType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="topic" type="topicType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="capital" type="capitalType" minOccurs="0"/>
			<xs:element name="byLawsDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="uidRegisterDataType">
		<xs:sequence>
			<xs:element name="status" type="uidRegisterStatusType"/>
			<xs:element name="typeOfOrganisation" type="uidRegisterTypeOfOrganisationType" minOccurs="0"/>
			<xs:element name="effectiveAddress" type="eVD-0021:addressType" minOccurs="0"/>
			<xs:element name="postOfficeBoxAddress" type="eVD-0021:addressType" minOccurs="0"/>
			<xs:element name="publicStatus" type="uidRegisterPublicStatusType" minOccurs="0"/>
			<xs:element name="liquidationReason" type="uidRegisterLiquidationReasonType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="vatRegisterDataType">
		<xs:sequence>
			<xs:element name="status" type="vatRegisterStatusType"/>
			<xs:element name="entryStatus" type="vatRegisterEntryStatusType" minOccurs="0"/>
			<xs:element name="entryDate" type="xs:date" minOccurs="0"/>
			<xs:element name="cancellationDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organisationType">
		<xs:sequence>
			<xs:element name="cantonalId" type="cantonalIdType"/>
			<xs:element name="organisationIdentifier" type="identifierType" maxOccurs="unbounded"/>
			<xs:element name="organisationName" type="nameType"/>
			<xs:element name="organisationAdditionalName" type="nameType" minOccurs="0"/>
			<xs:element name="legalForm" type="legalFormType" minOccurs="0"/>
			<xs:element name="organisationLocation" type="organisationLocationType" maxOccurs="unbounded"/>
			<xs:element name="transferTo" type="identificationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="transferFrom" type="identificationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="replacedBy" type="identificationType" minOccurs="0"/>
			<xs:element name="inReplacementOf" type="identificationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organisationLocationType">
		<xs:sequence>
			<xs:element name="cantonalId" type="cantonalIdType"/>
			<xs:element name="identifier" type="identifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="nameType"/>
			<xs:element name="otherName" type="nameType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="kindOfLocation" type="kindOfLocationType" minOccurs="0"/>
			<xs:element name="seat" type="swissMunicipalityType" minOccurs="0"/>
			<xs:element name="commercialRegisterData" type="commercialRegisterDataType" minOccurs="0"/>
			<xs:element name="function" type="functionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="nogaCode" type="xs:token" minOccurs="0"/>
			<xs:element name="uidRegisterData" type="uidRegisterDataType" minOccurs="0"/>
			<xs:element name="vatRegisterData" type="vatRegisterDataType" minOccurs="0"/>
			<xs:element name="replacedBy" type="identificationType" minOccurs="0"/>
			<xs:element name="inReplacementOf" type="identificationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organisationsOfNoticeType">
		<xs:sequence>
			<xs:element name="noticeId" type="noticeIdType"/>
			<xs:element name="numberOfResults" type="xs:int"/>
			<xs:element name="results" type="organisationType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="noticeOrganisationType">
		<xs:sequence>
			<xs:element name="organisationIdentification" type="identificationType"/>
			<xs:element name="organisation" type="organisationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="swissGazetteOfCommerceNoticeType">
		<xs:sequence>
			<xs:element name="swissGazetteOfCommercePublication" type="swissGazetteOfCommercePublicationType"/>
			<xs:element name="liquidationReason" type="liquidationReasonType" minOccurs="0"/>
			<xs:element name="typeOfCapitalChange" type="typeOfCapitalChangeType" minOccurs="0"/>
			<xs:element name="typeOfFusion" type="typeOfFusionType" minOccurs="0"/>
			<xs:element name="typeOfCapitalReduction" type="typeOfCapitalReductionType" minOccurs="0"/>
			<xs:element name="typeOfTransfer" type="typeOfTransferType" minOccurs="0"/>
			<xs:element name="typeOfLiquidation" type="typeOfLiquidationType" minOccurs="0"/>
			<xs:element name="transferTo" type="identificationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="transferFrom" type="identificationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="swissMunicipalityType">
		<xs:sequence>
			<xs:element name="municipalityId" type="municipalityIdType" minOccurs="0"/>
			<xs:element name="municipalityName" type="municipalityNameType"/>
			<xs:element name="cantonAbbreviation" type="cantonAbbreviationType" minOccurs="0"/>
			<xs:element name="historyMunicipalityId" type="historyMunicipalityId" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="placeOfOriginType">
		<xs:sequence>
			<xs:element name="id" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="cantonAbbreviation" type="cantonAbbreviationType" minOccurs="0"/>
			<xs:element name="historyId" type="xs:nonNegativeInteger" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="noticeType">
		<xs:sequence>
			<xs:element name="noticeId" type="noticeIdType"/>
			<xs:element name="typeOfNotice" type="typeOfNoticeType"/>
			<xs:element name="noticeDate" type="xs:date"/>
			<xs:element name="reportingRegister" type="xs:string" minOccurs="0"/>
			<xs:element name="swissGazetteOfCommerceNotice" type="swissGazetteOfCommerceNoticeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="noticeRootType">
		<xs:sequence>
			<xs:element name="header" type="headerType"/>
			<xs:element name="noticeOrganisation" type="noticeOrganisationType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="headerType">
		<xs:sequence>
			<xs:element name="messageId" type="xs:token"/>
			<xs:element name="messageDateTime" type="xs:dateTime"/>
			<xs:element name="senderIdentification" type="senderIdentificationType"/>
			<xs:element name="senderReferenceData" type="xs:token" minOccurs="0"/>
			<xs:element name="notice" type="noticeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="partyType">
		<xs:sequence>
			<xs:element name="person" type="personType"/>
			<xs:element name="address" type="eVD-0021:addressType" minOccurs="0"/>
			<xs:element name="placeOfResidence" type="placeOfResidenceType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="originType">
		<xs:sequence>
			<xs:element name="placeOfOriginName" type="xs:string"/>
			<xs:choice minOccurs="0">
				<xs:element name="placeOfOrigin" type="placeOfOriginType"/>
				<xs:element name="country" type="eVD-0021:countryType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="placeOfResidenceType">
		<xs:sequence>
			<xs:element name="placeOfResidenceName" type="xs:string"/>
			<xs:choice minOccurs="0">
				<xs:element name="swissMunicipality" type="swissMunicipalityType"/>
				<xs:element name="country" type="eVD-0021:countryType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organisationSnapshotType">
		<xs:sequence>
			<xs:element name="beginValidityDate" type="xs:date"/>
			<xs:element name="organisation" type="organisationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organisationDataType">
		<xs:sequence>
			<xs:element name="organisationSnapshot" type="organisationSnapshotType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="senderIdentificationType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
