jaxb2/rcent/src/main/resources/eVD-0022-3-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) (DIRECTION DES SYSTEMS D'INFORMATION) -->
<!--		Version 3-1 le 07.03.2016 :
	Ajout du type xs:date à organisationType:organisationLocation:commercialRegisterData:VdDeregistrationDate
			Version 3-2 du 19.05.2016 : 
	Ajout dans la demande d'annonce de l'IDE de l'entreprise + l'IDE de remplacement en cas de doublon. 
			Version 3-3 du 25.04.2017 : 
	Ajout dans le type de l'annonce des valeurs 61 è 70. 
-->
<xs:schema xmlns="http://evd.vd.ch/xmlns/eVD-0022/3" xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007/6" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/6" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/4" xmlns:eCH-0097="http://www.ech.ch/xmlns/eCH-0097/2" xmlns:eCH-0098="http://www.ech.ch/xmlns/eCH-0098/3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://evd.vd.ch/xmlns/eVD-0022/3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/6" schemaLocation="http://www.ech.ch/xmlns/eCH-0010/6/eCH-0010-6-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007/6" schemaLocation="http://www.ech.ch/xmlns/eCH-0007/6/eCH-0007-6-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0044/4/eCH-0044-4-1.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0097/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0097/2/eCH-0097-2-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0098/3" schemaLocation="http://www.ech.ch/xmlns/eCH-0098/3/eCH-0098-3-0.xsd"/>
	<xs:simpleType name="dissolutionReasonType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="noticeIdType">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="personDataSourceType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfNoticeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="38"/>
			<xs:enumeration value="39"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="47"/>
			<xs:enumeration value="48"/>
			<xs:enumeration value="49"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53"/>
			<xs:enumeration value="54"/>
			<xs:enumeration value="55"/>
			<xs:enumeration value="56"/>
			<xs:enumeration value="57"/>
			<xs:enumeration value="58"/>
			<xs:enumeration value="59"/>
			<xs:enumeration value="60"/>
			<xs:enumeration value="61"/>
			<xs:enumeration value="62"/>
			<xs:enumeration value="63"/>
			<xs:enumeration value="64"/>
			<xs:enumeration value="65"/>
			<xs:enumeration value="66"/>
			<xs:enumeration value="67"/>
			<xs:enumeration value="68"/>
			<xs:enumeration value="69"/>
			<xs:enumeration value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfBusinessPublicationType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="38"/>
			<xs:enumeration value="39"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfNoticeRequestType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfFusionType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfLiquidationType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfCapitalReductionType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfTransferType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="municipalityIdType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="9999"/>
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="municipalityNameType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="historyMunicipalityId">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="10001"/>
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfLocationType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="commercialRegisterStatusType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="diaryKindOfEntryType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfTopicType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="000"/>
			<xs:enumeration value="120"/>
			<xs:enumeration value="122"/>
			<xs:enumeration value="123"/>
			<xs:enumeration value="124"/>
			<xs:enumeration value="125"/>
			<xs:enumeration value="126"/>
			<xs:enumeration value="127"/>
			<xs:enumeration value="128"/>
			<xs:enumeration value="131"/>
			<xs:enumeration value="132"/>
			<xs:enumeration value="133"/>
			<xs:enumeration value="134"/>
			<xs:enumeration value="163"/>
			<xs:enumeration value="180"/>
			<xs:enumeration value="181"/>
			<xs:enumeration value="182"/>
			<xs:enumeration value="185"/>
			<xs:enumeration value="186"/>
			<xs:enumeration value="187"/>
			<xs:enumeration value="190"/>
			<xs:enumeration value="191"/>
			<xs:enumeration value="257"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfCapitalType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="authorisationType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uidRegisterStatusType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="kindOfUidEntityType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uidRegisterPublicStatusType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uidDeregistrationReasonType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="vatRegisterStatusType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dataLockType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cantonalIdType">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="legalFormType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0101"/>
			<xs:enumeration value="0103"/>
			<xs:enumeration value="0104"/>
			<xs:enumeration value="0105"/>
			<xs:enumeration value="0106"/>
			<xs:enumeration value="0107"/>
			<xs:enumeration value="0108"/>
			<xs:enumeration value="0109"/>
			<xs:enumeration value="0110"/>
			<xs:enumeration value="0111"/>
			<xs:enumeration value="0113"/>
			<xs:enumeration value="0114"/>
			<xs:enumeration value="0115"/>
			<xs:enumeration value="0116"/>
			<xs:enumeration value="0117"/>
			<xs:enumeration value="0118"/>
			<xs:enumeration value="0119"/>
			<xs:enumeration value="0151"/>
			<xs:enumeration value="0220"/>
			<xs:enumeration value="0221"/>
			<xs:enumeration value="0222"/>
			<xs:enumeration value="0223"/>
			<xs:enumeration value="0224"/>
			<xs:enumeration value="0230"/>
			<xs:enumeration value="0231"/>
			<xs:enumeration value="0232"/>
			<xs:enumeration value="0233"/>
			<xs:enumeration value="0234"/>
			<xs:enumeration value="0302"/>
			<xs:enumeration value="0312"/>
			<xs:enumeration value="0327"/>
			<xs:enumeration value="0328"/>
			<xs:enumeration value="0329"/>
			<xs:enumeration value="0441"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currencyType">
		<xs:restriction base="xs:token">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="noticeRequestStatusCodeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="methodType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="kindOfBurEnterpriseUnitType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="E00"/>
			<xs:enumeration value="E01"/>
			<xs:enumeration value="E02"/>
			<xs:enumeration value="E03"/>
			<xs:enumeration value="E05"/>
			<xs:enumeration value="E06"/>
			<xs:enumeration value="E07"/>
			<xs:enumeration value="E12"/>
			<xs:enumeration value="E13"/>
			<xs:enumeration value="E14"/>
			<xs:enumeration value="E15"/>
			<xs:enumeration value="E17"/>
			<xs:enumeration value="E18"/>
			<xs:enumeration value="E19"/>
			<xs:enumeration value="E20"/>
			<xs:enumeration value="E21"/>
			<xs:enumeration value="E22"/>
			<xs:enumeration value="E23"/>
			<xs:enumeration value="E24"/>
			<xs:enumeration value="E25"/>
			<xs:enumeration value="E26"/>
			<xs:enumeration value="E27"/>
			<xs:enumeration value="E28"/>
			<xs:enumeration value="E29"/>
			<xs:enumeration value="E30"/>
			<xs:enumeration value="E50"/>
			<xs:enumeration value="E51"/>
			<xs:enumeration value="E91"/>
			<xs:enumeration value="E99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="instituteSectorType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="S11"/>
			<xs:enumeration value="S12"/>
			<xs:enumeration value="S13"/>
			<xs:enumeration value="S14"/>
			<xs:enumeration value="S15"/>
			<xs:enumeration value="S16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sizeClassType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="burOrganisationUnitStatusType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="burLocalUnitStatusType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="kindOfBurLocalUnitType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="L00"/>
			<xs:enumeration value="L01"/>
			<xs:enumeration value="L02"/>
			<xs:enumeration value="L03"/>
			<xs:enumeration value="L05"/>
			<xs:enumeration value="L06"/>
			<xs:enumeration value="L07"/>
			<xs:enumeration value="L12"/>
			<xs:enumeration value="L13"/>
			<xs:enumeration value="L14"/>
			<xs:enumeration value="L15"/>
			<xs:enumeration value="L17"/>
			<xs:enumeration value="L18"/>
			<xs:enumeration value="L19"/>
			<xs:enumeration value="L20"/>
			<xs:enumeration value="L21"/>
			<xs:enumeration value="L22"/>
			<xs:enumeration value="L23"/>
			<xs:enumeration value="L24"/>
			<xs:enumeration value="L25"/>
			<xs:enumeration value="L26"/>
			<xs:enumeration value="L27"/>
			<xs:enumeration value="L28"/>
			<xs:enumeration value="L29"/>
			<xs:enumeration value="L30"/>
			<xs:enumeration value="L50"/>
			<xs:enumeration value="L51"/>
			<xs:enumeration value="L91"/>
			<xs:enumeration value="L99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="kindOfAgrarType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="agrarEntityStatusType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="agrarFunctionCodeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="xCoordinateType">
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="480000"/>
			<xs:maxInclusive value="840000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="yCoordinateType">
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="70000"/>
			<xs:maxInclusive value="300000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="addressType">
		<xs:sequence>
			<xs:element name="addressInformation" type="eCH-0010:addressInformationType" minOccurs="0"/>
			<xs:element name="federalBuildingId" type="eCH-0098:EGIDType" minOccurs="0"/>
			<xs:sequence minOccurs="0">
				<xs:element name="xCoordinate" type="xCoordinateType"/>
				<xs:element name="yCoordinate" type="yCoordinateType"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="agrarFunctionType">
		<xs:sequence>
			<xs:element name="function" type="agrarFunctionCodeType" minOccurs="0"/>
			<xs:element name="agrarEntity" type="agrarEntityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="agrarEntityType">
		<xs:sequence>
			<xs:element name="identifier" type="eCH-0097:namedOrganisationIdType" maxOccurs="unbounded"/>
			<xs:element name="cantonalId" type="xs:int"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="firstName" type="xs:string" minOccurs="0"/>
			<xs:element name="additionalName" type="xs:string" minOccurs="0"/>
			<xs:element name="municipalityIdSeat" type="xs:int"/>
			<xs:element name="legalForm" type="legalFormType"/>
			<xs:element name="registrationStatus" type="agrarEntityStatusType"/>
			<xs:element name="registrationDate" type="xs:date"/>
			<xs:element name="occupation" type="xs:int" minOccurs="0"/>
			<xs:element name="yearOfBirth" type="xs:int" minOccurs="0"/>
			<xs:element name="yearOfFoundation" type="xs:int" minOccurs="0"/>
			<xs:element name="language" type="xs:string"/>
			<xs:element name="emailAddress" type="xs:string" minOccurs="0"/>
			<xs:element name="faxNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="mobileNumber" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="burOrganisationDataType">
		<xs:sequence>
			<xs:element name="registrationStatus" type="burOrganisationUnitStatusType"/>
			<xs:element name="kindOfBurEnterpriseUnit" type="kindOfBurEnterpriseUnitType"/>
			<xs:element name="instituteSector" type="instituteSectorType" minOccurs="0"/>
			<xs:element name="numberOfLocals" type="xs:int"/>
			<xs:element name="sizeClass" type="sizeClassType" minOccurs="0"/>
			<xs:element name="registrationDate" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="burOrganisationLocationDataType">
		<xs:sequence>
			<xs:element name="registrationStatus" type="burLocalUnitStatusType"/>
			<xs:element name="administrativeHeadquarter" type="xs:boolean" minOccurs="0"/>
			<xs:element name="kindOfBurLocalUnit" type="kindOfBurLocalUnitType"/>
			<xs:element name="registrationDate" type="xs:date"/>
			<xs:element name="seasonActivity" type="xs:boolean" minOccurs="0"/>
			<xs:element name="sizeClass" type="sizeClassType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="employmentCensusType">
		<xs:sequence>
			<xs:element name="date" type="xs:dateTime"/>
			<xs:element name="method" type="methodType"/>
			<xs:element name="source" type="xs:string"/>
			<xs:element name="employedTotal" type="xs:decimal" minOccurs="0"/>
			<xs:element name="fullFemale" type="xs:int" minOccurs="0"/>
			<xs:element name="fullMale" type="xs:int" minOccurs="0"/>
			<xs:element name="fteFemale" type="xs:decimal" minOccurs="0"/>
			<xs:element name="fteMale" type="xs:decimal" minOccurs="0"/>
			<xs:element name="fteTotal" type="xs:decimal" minOccurs="0"/>
			<xs:element name="part1Female" type="xs:int" minOccurs="0"/>
			<xs:element name="part1Male" type="xs:int" minOccurs="0"/>
			<xs:element name="part2Female" type="xs:int" minOccurs="0"/>
			<xs:element name="part2Male" type="xs:int" minOccurs="0"/>
			<xs:element name="part3Female" type="xs:int" minOccurs="0"/>
			<xs:element name="part3Male" type="xs:int" minOccurs="0"/>
			<xs:element name="totalFemale" type="xs:decimal" minOccurs="0"/>
			<xs:element name="totalMale" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="noticeRequestStatusType">
		<xs:sequence>
			<xs:element name="noticeRequestStatusCode" type="noticeRequestStatusCodeType"/>
			<xs:element name="noticeRequestStatusDate" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="noticeRequestHeaderType">
		<xs:sequence>
			<xs:element name="noticeRequestIdentification" type="noticeRequestIdentificationType"/>
			<xs:element name="userId" type="xs:string" minOccurs="0"/>
			<xs:element name="userPhoneNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="comment" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="noticeRequestBodyType">
		<xs:sequence>
			<xs:element name="cantonalId" type="cantonalIdType" minOccurs="0"/>
			<xs:element name="uid" type="eCH-0097:uidStructureType" minOccurs="0"/>
			<xs:element name="uidReplacement" type="eCH-0097:uidStructureType" minOccurs="0"/>
			<xs:element name="name" type="eCH-0097:organisationNameType" minOccurs="0"/>
			<xs:element name="additionalName" type="eCH-0097:organisationNameType" minOccurs="0"/>
			<xs:element name="UIDReplacedByCantonalId" type="cantonalIdType" minOccurs="0"/>
			<xs:element name="addresses" type="noticeRequestAddressesType" minOccurs="0"/>
			<xs:element name="typeOfLocation" type="typeOfLocationType" minOccurs="0"/>
			<xs:element name="headquarterCantonalId" type="cantonalIdType" minOccurs="0"/>
			<xs:element name="headquarterUID" type="eCH-0097:namedOrganisationIdType" minOccurs="0"/>
			<xs:element name="legalForm" type="legalFormType" minOccurs="0"/>
			<xs:element name="branchText" type="xs:string" minOccurs="0"/>
			<xs:element name="nogaCode" type="xs:token" minOccurs="0"/>
			<xs:element name="deregistrationReason" type="uidDeregistrationReasonType" minOccurs="0"/>
			<xs:element name="person" type="personSummaryType" minOccurs="0"/>
			<xs:element name="cantonAbbreviationAddress" type="eCH-0007:cantonAbbreviationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="requestApplicationType">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="applicationName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="identificationType">
		<xs:sequence>
			<xs:element name="cantonalId" type="cantonalIdType"/>
			<xs:element name="identifier" type="eCH-0097:namedOrganisationIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="additionnalName" type="xs:string" minOccurs="0"/>
			<xs:element name="usualName" type="eCH-0097:organisationNameType" minOccurs="0"/>
			<xs:element name="nameTranslation" type="commercialRegisterNameTranslationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organisationLocationIdentificationType">
		<xs:sequence>
			<xs:element name="organisationCantonalId" type="cantonalIdType"/>
			<xs:element name="organisationLocationIdentification" type="identificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="errorType">
		<xs:sequence>
			<xs:element name="errorId" type="xs:token"/>
			<xs:element name="errorDescription" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="resultsType">
		<xs:choice>
			<xs:element name="organisation" type="identificationType"/>
			<xs:element name="organisationLocation" type="organisationLocationIdentificationType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="postOfficeBoxType">
		<xs:sequence>
			<xs:element name="postOfficeBoxText" type="xs:string"/>
			<xs:element name="postOfficeBoxNumber" type="xs:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="swissGazetteOfCommercePublicationType">
		<xs:sequence>
			<xs:element name="documentNumber" type="xs:string"/>
			<xs:element name="publicationDate" type="xs:date"/>
			<xs:element name="publicationText" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="commercialRegisterNameTranslationType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="language" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="commercialRegisterDiaryEntryType">
		<xs:sequence>
			<xs:element name="diaryKindOfEntry" type="diaryKindOfEntryType" minOccurs="0"/>
			<xs:element name="diaryEntryNumber" type="xs:nonNegativeInteger"/>
			<xs:element name="diaryEntryDate" type="xs:date"/>
			<xs:element name="swissGazetteOfCommercePublication" type="swissGazetteOfCommercePublicationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="topicType">
		<xs:sequence>
			<xs:element name="typeOfTopic" type="typeOfTopicType"/>
			<xs:element name="topicText" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="capitalType">
		<xs:sequence>
			<xs:element name="typeOfCapital" type="typeOfCapitalType" minOccurs="0"/>
			<xs:element name="currency" type="currencyType" minOccurs="0"/>
			<xs:element name="capitalAmount" type="xs:decimal" minOccurs="0"/>
			<xs:element name="cashedInAmount" type="xs:decimal" minOccurs="0"/>
			<xs:element name="division" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="functionType">
		<xs:sequence>
			<xs:element name="party" type="partyType"/>
			<xs:element name="functionText" type="xs:string" minOccurs="0"/>
			<xs:element name="authorisation" type="authorisationType" minOccurs="0"/>
			<xs:element name="authorisationRestriction" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="personType">
		<xs:sequence>
			<xs:element name="cantonalId" type="xs:int" minOccurs="0"/>
			<xs:element name="personDataSource" type="personDataSourceType" minOccurs="0"/>
			<xs:element name="dataLock" type="dataLockType" minOccurs="0"/>
			<xs:element name="vn" type="eCH-0044:vnType" minOccurs="0"/>
			<xs:element name="name" type="eCH-0044:baseNameType"/>
			<xs:element name="firstName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="sex" type="eCH-0044:sexType" minOccurs="0"/>
			<xs:element name="dateOfBirth" type="eCH-0044:datePartiallyKnownType" minOccurs="0"/>
			<xs:element name="origin" type="originType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="personSummaryType">
		<xs:sequence>
			<xs:element name="cantonalId" type="xs:int" minOccurs="0"/>
			<xs:element name="vn" type="eCH-0044:vnType" minOccurs="0"/>
			<xs:element name="name" type="eCH-0044:baseNameType"/>
			<xs:element name="firstName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="dateOfBirth" type="eCH-0044:datePartiallyKnownType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="commercialRegisterDataType">
		<xs:sequence>
			<xs:element name="registrationStatus" type="commercialRegisterStatusType">
				<xs:annotation>
					<xs:documentation>0=Inconnu
1=Non inscrit
2=Actif
3=En liquidation
4=Radié</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VdDissolutionReason" type="dissolutionReasonType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Suite à une annonce de dissolution. Correspond donc à un statut "En liquidation". </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="registrationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="deregistrationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>date de radiation RC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VdRegistrationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="VdDeregistrationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>date de radiation RCVD</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="webLink" type="xs:token" minOccurs="0"/>
			<xs:element name="purpose" type="xs:string" minOccurs="0"/>
			<xs:element name="diaryEntry" type="commercialRegisterDiaryEntryType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="topic" type="topicType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="capital" type="capitalType" minOccurs="0"/>
			<xs:element name="byLawsDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="agrarDataType">
		<xs:sequence>
			<xs:element name="kindOfAgrar" type="kindOfAgrarType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="uidRegisterDataType">
		<xs:sequence>
			<xs:element name="registrationStatus" type="uidRegisterStatusType"/>
			<xs:element name="deregistrationReason" type="uidDeregistrationReasonType" minOccurs="0"/>
			<xs:element name="kindOfUidEntity" type="kindOfUidEntityType" minOccurs="0"/>
			<xs:element name="publicStatus" type="uidRegisterPublicStatusType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="vatRegisterDataType">
		<xs:sequence>
			<xs:element name="registrationStatus" type="vatRegisterStatusType"/>
			<xs:element name="registrationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="deregistrationDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organisationType">
		<xs:sequence>
			<xs:element name="cantonalId" type="cantonalIdType"/>
			<xs:element name="identifier" type="eCH-0097:namedOrganisationIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="nogaCode" type="xs:token" minOccurs="0"/>
			<xs:element name="burRegisterData" type="burOrganisationDataType" minOccurs="0"/>
			<xs:element name="employmentCensus" type="employmentCensusType" minOccurs="0"/>
			<xs:element name="organisationLocation" type="organisationLocationType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organisationLocationType">
		<xs:sequence>
			<xs:element name="cantonalId" type="cantonalIdType"/>
			<xs:element name="identifier" type="eCH-0097:namedOrganisationIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="eCH-0097:organisationNameType"/>
			<xs:element name="additionalName" type="eCH-0097:organisationNameType" minOccurs="0"/>
			<xs:element name="usualName" type="eCH-0097:organisationNameType" minOccurs="0"/>
			<xs:element name="nameTranslation" type="commercialRegisterNameTranslationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeOfLocation" type="typeOfLocationType"/>
			<xs:element name="legalForm" type="legalFormType" minOccurs="0"/>
			<xs:element name="nogaCode" type="xs:token" minOccurs="0"/>
			<xs:element name="municipality" type="eCH-0007:swissMunicipalityType"/>
			<xs:element name="commercialRegisterData" type="commercialRegisterDataType" minOccurs="0"/>
			<xs:element name="businessPublication" type="businessPublicationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="function" type="functionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addresses" type="addressesType" minOccurs="0"/>
			<xs:element name="uidRegisterData" type="uidRegisterDataType" minOccurs="0"/>
			<xs:element name="vatRegisterData" type="vatRegisterDataType" minOccurs="0"/>
			<xs:element name="burRegisterData" type="burOrganisationLocationDataType" minOccurs="0"/>
			<xs:element name="employmentCensus" type="employmentCensusType" minOccurs="0"/>
			<xs:element name="agrarData" type="agrarDataType" minOccurs="0"/>
			<xs:element name="agrarFunction" type="agrarFunctionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="hasTakenOver" type="identificationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="wasTakenOverBy" type="identificationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UIDReplacedBy" type="identificationType" minOccurs="0"/>
			<xs:element name="UIDInReplacementOf" type="identificationType" minOccurs="0"/>
			<xs:element name="burTransferFrom" type="identificationType" minOccurs="0"/>
			<xs:element name="burTransferTo" type="identificationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="noticeOrganisationType">
		<xs:sequence>
			<xs:element name="organisationLocationIdentification" type="identificationType"/>
			<xs:element name="organisation" type="organisationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="noticeRequestIdentificationType">
		<xs:sequence>
			<xs:element name="noticeRequestId" type="xs:string"/>
			<xs:element name="typeOfNoticeRequest" type="typeOfNoticeRequestType"/>
			<xs:element name="reportingApplication" type="requestApplicationType"/>
			<xs:element name="noticeRequestDateTime" type="xs:dateTime"/>
			<xs:element name="IDESource" type="eCH-0097:namedOrganisationIdType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="businessPublicationType">
		<xs:sequence>
			<xs:element name="typeOfBusinessPublication" type="typeOfBusinessPublicationType"/>
			<xs:element name="eventDate" type="xs:date" minOccurs="0"/>
			<xs:element name="swissGazetteOfCommercePublication" type="swissGazetteOfCommercePublicationType"/>
			<xs:element name="typeOfFusion" type="typeOfFusionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SR</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typeOfCapitalReduction" type="typeOfCapitalReductionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SR</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typeOfTransfer" type="typeOfTransferType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SR</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typeOfLiquidation" type="typeOfLiquidationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SR</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="placeOfOriginType">
		<xs:sequence>
			<xs:element name="id" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="cantonAbbreviation" type="eCH-0007:cantonAbbreviationType" minOccurs="0"/>
			<xs:element name="historyId" type="xs:nonNegativeInteger" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="noticeType">
		<xs:sequence>
			<xs:element name="noticeId" type="noticeIdType"/>
			<xs:element name="typeOfNotice" type="typeOfNoticeType"/>
			<xs:element name="noticeDate" type="xs:date"/>
			<xs:element name="noticeRequest" type="noticeRequestIdentificationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="partyType">
		<xs:sequence>
			<xs:element name="person" type="personType"/>
			<xs:element name="address" type="addressType" minOccurs="0"/>
			<xs:element name="placeOfResidence" type="placeOfResidenceType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="originType">
		<xs:sequence>
			<xs:element name="placeOfOriginName" type="xs:string"/>
			<xs:choice minOccurs="0">
				<xs:element name="placeOfOrigin" type="placeOfOriginType"/>
				<xs:element name="country" type="eCH-0010:countryType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="placeOfResidenceType">
		<xs:sequence>
			<xs:element name="placeOfResidenceName" type="xs:string"/>
			<xs:choice minOccurs="0">
				<xs:element name="swissMunicipality" type="eCH-0007:swissMunicipalityType"/>
				<xs:element name="country" type="eCH-0010:countryType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="addressesType">
		<xs:sequence>
			<xs:element name="legalAddress" type="addressType" minOccurs="0"/>
			<xs:element name="effectiveAddress" type="addressType" minOccurs="0"/>
			<xs:element name="postOfficeBoxAddress" type="addressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="noticeRequestAddressesType">
		<xs:sequence>
			<xs:element name="address" type="addressType" minOccurs="0"/>
			<xs:element name="postOfficeBoxAddress" type="eCH-0010:addressInformationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="noticeRequestReportType">
		<xs:sequence>
			<xs:element name="noticeRequest" type="noticeRequestType"/>
			<xs:element name="noticeRequestStatus" type="noticeRequestStatusType"/>
			<xs:element name="listOfErrors" type="errorType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="noticeRequestType">
		<xs:sequence>
			<xs:element name="noticeRequestHeader" type="noticeRequestHeaderType"/>
			<xs:element name="noticeRequestBody" type="noticeRequestBodyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organisationDataType">
		<xs:sequence>
			<xs:element name="organisationSnapshot" type="organisationSnapshotType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organisationSnapshotType">
		<xs:sequence>
			<xs:element name="beginValidityDate" type="xs:date"/>
			<xs:element name="organisation" type="organisationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organisationsOfNoticeType">
		<xs:sequence>
			<xs:element name="notice" type="noticeType"/>
			<xs:element name="organisation" type="noticeOrganisationType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="senderIdentificationType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
