unireg-ws-v7/src/main/resources/party/unireg-party-person-5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 5.0 : version initiale -->
<xs:schema targetNamespace="http://www.vd.ch/fiscalite/unireg/party/person/5" elementFormDefault="qualified"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/3"
		   xmlns:common="http://www.vd.ch/fiscalite/unireg/common/2" xmlns:person="http://www.vd.ch/fiscalite/unireg/party/person/5"
		   xmlns:taxpayer="http://www.vd.ch/fiscalite/unireg/party/taxpayer/5" xmlns:taxresidence="http://www.vd.ch/fiscalite/unireg/party/taxresidence/4"
		   xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007/4"
		   xmlns:land="http://www.vd.ch/fiscalite/unireg/party/landregistry/1" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">

	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/common/2" schemaLocation="../unireg-common-2.xsd" />
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007/4" schemaLocation="../eCH-0007-4-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/3" schemaLocation="../eCH-0044-3-0.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/taxresidence/4" schemaLocation="unireg-party-taxresidence-4.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/taxpayer/5" schemaLocation="unireg-party-taxpayer-5.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/landregistry/1" schemaLocation="unireg-party-landregistry-1.xsd" />

	<xs:complexType name="naturalPersonType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Classe concrète qui contient toutes les informations d'un contribuable de type personne physique. Les collections sont renseignées en fonction des parts demandées lors
						de l'appel au service.
					</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxpayer:taxpayerType">
				<xs:sequence>
					<xs:element name="vn" type="eCH-0044:vnType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>NAVS13 de la personne.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherPersonId" type="eCH-0044:namedPersonIdType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Différents identifiants de la personne&amp;nbsp;:&lt;br/&gt;
										&lt;ul&gt;&lt;li&gt;clé 'CH.AHV' -> numéro AVS à 11 positions&amp;nbsp;&lt;/li&gt;
										&lt;li&gt;clé 'CH.ZAR' -> numéro du registre fédéral des étrangers.&lt;/li&gt;&lt;/ul&gt;
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="officialName" type="eCH-0044:baseNameType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Nom de famille de la personne.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="firstName" type="eCH-0044:baseNameType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Prénom(s) usuel(s) de la personne.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="sex" type="person:sexType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Sexe de la personne physique.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="dateOfBirth" type="common:partialDateType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La date de naissance de la personne physique. Cette date peut être partielle, c'est-à-dire que les informations de jour et/ou de mois peuvent valoir 0.
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="dateOfDeath" type="common:dateType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La date de décès de la personne.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="categories" type="person:naturalPersonCategoryType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'historique complet des catégories de la personne physique. Cet historique est généralement disponible sur les personnes physiques qui habitent dans
										le canton de Vaud.
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="withholdingTaxationPeriods" type="taxresidence:withholdingTaxationPeriodType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La liste des périodes d'imposition IS. Cette liste peut être vide si le tiers n'est pas assujetti.
										Attention ! Cette collection n'est renseignée qui si la part WITHHOLDING_TAXATION_PERIODS est demandée.
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="firstNames" type="eCH-0044:baseNameType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Tous les prénoms connus de la personne.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="motherName" type="person:parentFullNameType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le nom officiel de la mère, si connu.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="fatherName" type="person:parentFullNameType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le nom officiel du père, si connu.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="birthName" type="eCH-0044:baseNameType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le nom de naissance de la personne physique.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="nationalities" type="person:nationalityType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La nationalité de la personne physique.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="origins" type="person:originType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La (ou les) communes d'origine de la personne physique.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="padding" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="landRights" minOccurs="0" maxOccurs="unbounded" type="land:landRightType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'historique des droits sur des immeubles de la personne physique, uniquement rempli si la part LAND_RIGHTS est demandée.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="padding2" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="nationalityType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>La nationalité d'une personne physique.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:sequence>
				<xs:element name="dateFrom" type="common:dateType" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<jxb:property>
								<jxb:javadoc>Date d'obtention de la nationalité (absente si la date est inconnue).</jxb:javadoc>
							</jxb:property>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="dateTo" type="common:dateType" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<jxb:property>
								<jxb:javadoc>Date de perte de la nationalité (absente si la nationalité est toujours en vigueur).</jxb:javadoc>
							</jxb:property>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="swiss">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Indique une personne de nationalité suisse.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
						<xs:complexType/>
					</xs:element>
					<xs:element name="stateless">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Indique une personne apatride.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
						<xs:complexType/>
					</xs:element>
					<xs:element name="foreignCountry" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Indique une personne de nationalité étrangère (numéro OFS du pays concerné).</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="originType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Commune d'origine de la personne physique de nationalité suisse.</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="originName">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Nom du lieu d'origine.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="canton" type="eCH-0007:cantonAbbreviationType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Canton du lieu d'origine.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="parentFullNameType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Les noms et prénoms officiels d'un parent de la personne physique.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="firstNames" type="eCH-0044:officialFirstNameType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Les prénoms du parent.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastName" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le nom de famille du parent.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="naturalPersonCategoryType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Une catégorie de personne physique valable pendant une période de temps déterminée.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateFrom" type="common:dateType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de début de validité de la catégorie. Cette donnée n'est pas renseigné sur les contribuables qui n'habitent pas le canton.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateTo" type="common:dateType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de fin de validité de la catégorie. Cette donnée n'est pas renseigné sur les contribuables qui n'habitent pas le canton, ou si la période est toujours
								valable.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="category" type="person:naturalPersonCategoryTypeType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La catégorie de personne physique.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="commonHouseholdType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Représente un ménage-commun (couple).</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxpayer:taxpayerType">
				<xs:sequence>
					<xs:element minOccurs="0" name="mainTaxpayer" type="person:naturalPersonType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le composant principal du ménage-commun, ou null si le ménage n'a jamais été rattaché à une personne.
										Attention ! Cette valeur n'est renseignée que si la part HOUSEHOLD_MEMBERS est demandée.
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="secondaryTaxpayer" type="person:naturalPersonType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le conjoint du ménage-commun, ou null si le conjoint est inconnu.
										Attention ! Cette valeur n'est renseignée que si la part HOUSEHOLD_MEMBERS est demandée.
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="status" type="person:commonHouseholdStatusType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>L'état du ménage-commun (actif, séparé ou terminé pour cause de décès) ou null si le ménage commun n'a jamais été rattaché à une personne.
										Attention ! Ce status n'est renseigné que si la part HOUSEHOLD_MEMBERS est demandée.
									</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="padding" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="commonHouseholdStatusType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass>
					<jxb:javadoc>L'état d'un ménage-commun.</jxb:javadoc>
				</jxb:typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTIVE">
				<xs:annotation>
					<xs:documentation>Le ménage est toujours actif (marié, pacsé, ...).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SEPARATED_DIVORCED">
				<xs:annotation>
					<xs:documentation>Le ménage est terminé suite à une séparation ou un divorce (ou à une interruption de pacs).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ENDED_BY_DEATH">
				<xs:annotation>
					<xs:documentation>Le ménage est terminé suite au décès d'un (ou des deux) des conjoints.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="sexType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass>
					<jxb:javadoc>Sexe d'une personne physique.</jxb:javadoc>
				</jxb:typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FEMALE">
				<xs:annotation>
					<xs:documentation>Féminin.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MALE">
				<xs:annotation>
					<xs:documentation>Masculin.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="naturalPersonCategoryTypeType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass>
					<jxb:javadoc>Les différentes catégories d'une personne physique.</jxb:javadoc>
				</jxb:typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SWISS">
				<xs:annotation>
					<xs:documentation>Suisse.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C_02_B_PERMIT">
				<xs:annotation>
					<xs:documentation>Permis de séjour (B).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C_03_C_PERMIT">
				<xs:annotation>
					<xs:documentation>Permis d'établissement (C).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C_04_CI_PERMIT">
				<xs:annotation>
					<xs:documentation>Permis de conjoint de diplomate (CI).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C_05_F_PERMIT">
				<xs:annotation>
					<xs:documentation>Etranger admis provisoirement (F).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C_06_G_PERMIT">
				<xs:annotation>
					<xs:documentation>Frontalier (G).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C_07_L_PERMIT">
				<xs:annotation>
					<xs:documentation>Permis de séjour de courte durée (L).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C_08_N_PERMIT">
				<xs:annotation>
					<xs:documentation>Requérant d'asile (N).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C_09_S_PERMIT">
				<xs:annotation>
					<xs:documentation>Personne à protéger (S).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C_10_OBLIGED_TO_ANNOUNCE">
				<xs:annotation>
					<xs:documentation>Personne tenue de s'annoncer.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C_11_DIPLOMAT">
				<xs:annotation>
					<xs:documentation>Diplomate.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C_12_INTERNATIONAL_CIVIL_SERVANT">
				<xs:annotation>
					<xs:documentation>Fonctionnaire international.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C_13_NOT_ASSIGNED">
				<xs:annotation>
					<xs:documentation>Non attribuée.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
