unireg-ws-tiers3/src/main/resources/messages/getdebiteurinfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.vd.ch/unireg/webservices/tiers3" elementFormDefault="qualified"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:unireg="http://www.vd.ch/unireg/webservices/tiers3">
	<xs:include schemaLocation="common.xsd" />
	<xs:complexType name="GetDebiteurInfo">
		<xs:complexContent>
			<xs:extension base="unireg:Request">
				<xs:sequence>
					<xs:element name="numeroDebiteur" type="xs:long" />
					<xs:element name="periodeFiscale" type="xs:int" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>