unireg-ws-tiers3/src/main/resources/messages/gettierstype.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.vd.ch/unireg/webservices/tiers3" elementFormDefault="qualified"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:unireg="http://www.vd.ch/unireg/webservices/tiers3">
	<xs:include schemaLocation="../common.xsd" />
	<xs:complexType name="GetTiersType">
		<xs:sequence>
			<xs:element name="login" type="unireg:UserLogin" />
			<xs:element name="tiersNumber" type="xs:long" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>