unireg-ws-tiers3/src/main/resources/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.vd.ch/unireg/webservices/tiers3" elementFormDefault="qualified"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:unireg="http://www.vd.ch/unireg/webservices/tiers3">
	<xs:complexType name="userLoginType">
		<xs:annotation>
			<xs:documentation>Les informations qui permettent de vérifier les droits d'accès aux ressources fiscales d'Unireg.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="userId" type="xs:string">
				<xs:annotation>
					<xs:documentation>L'identification de l'utilisateur telle que définie par IAM. Cet identifiant DOIT être celui de l'utilisateur réel (= la personne physique) loggé dans le système.
						Pour les batchs, il faut utiliser un utilisateur technique.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="oid" type="xs:int">
				<xs:annotation>
					<xs:documentation>L'id de l'office d'impôt sélectionné par l'utilisateur. Dans la majorité des cas cette information peut être déduite à partir de l'id de l'utilisateur. Cependant
						certains utilisateurs possèdent plus d'un rattachement à un office d'impôt. Ces utilisateurs doivent sélectionner un office d'impôt bien précis au moment du login, et ce choix
						doit être propagé à tous les systèmes.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dateType">
		<xs:annotation>
			<xs:documentation>Date spécifique à Unireg définissant le jour, le mois et l'année. La time-zone implicite est celle du canton de Vaud, et le calendrier est grégorien.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="year" type="xs:int">
				<xs:annotation>
					<xs:documentation>L'année sur 4 digits (e.g. 1337, 2001, 2400, ...).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="month" type="xs:int">
				<xs:annotation>
					<xs:documentation>Le mois (1..12). En cas de date partielle, la valeur peut être 0.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="day" type="xs:int">
				<xs:annotation>
					<xs:documentation>Le jour (1..31). En cas de date partielle, la valeur peut être 0.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="partyPartType">
		<xs:annotation>
			<xs:documentation>Les différents collections (= parties) qui peuvent être renseignées sur un tiers.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDRESSES">
				<xs:annotation>
					<xs:documentation>Les adresses du tiers</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_RESIDENCES">
				<xs:annotation>
					<xs:documentation>Les fors fiscaux du tiers.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VIRTUAL_TAX_RESIDENCES">
				<xs:annotation>
					<xs:documentation>Les fors fiscaux virtuels du tiers</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MANAGING_TAX_RESIDENCES">
				<xs:annotation>
					<xs:documentation>Les fors de gestion du tiers</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HOUSEHOLD_MEMBERS">
				<xs:annotation>
					<xs:documentation>Les composants du ménage.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ORDINARY_TAX_LIABILITIES">
				<xs:annotation>
					<xs:documentation>L'assujettissement 'rôle' du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SIMPLIFIED_TAX_LIABILITIES">
				<xs:annotation>
					<xs:documentation>Une vue simplifiée de l'assujettissement 'rôle' du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAXATION_PERIODS">
				<xs:annotation>
					<xs:documentation>Les périodes d'imposition du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RELATIONS_BETWEEN_PARTIES">
				<xs:annotation>
					<xs:documentation>Les rapports-entre-tiers du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FAMILY_STATUSES">
				<xs:annotation>
					<xs:documentation>Les situations de famille du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_DECLARATIONS">
				<xs:annotation>
					<xs:documentation>Les déclarations du tiers.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_DECLARATIONS_STATUSES">
				<xs:annotation>
					<xs:documentation>Renseigne les états des déclarations. Attention ! L'utilisation de cette part est fortement déconseillée car elle dégrade très fortement les performances (=
						implique une requête supplémentaire dans la base de données pour chaque déclaration de chaque tiers).
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BANK_ACCOUNTS">
				<xs:annotation>
					<xs:documentation>Les comptes bancaire du tiers.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LEGAL_SEATS">
				<xs:annotation>
					<xs:documentation>Les sièges de la personne morale.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LEGAL_FORMS">
				<xs:annotation>
					<xs:documentation>Les formes juridiques de la personne morale.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CAPITALS">
				<xs:annotation>
					<xs:documentation>Les capitaux de la personne morale.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_SYSTEMS">
				<xs:annotation>
					<xs:documentation>Les régimes fiscaux de la personne morale.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CORPORATION_STATUSES">
				<xs:annotation>
					<xs:documentation>Les états de la personne morale.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEBTOR_PERIODICITIES">
				<xs:annotation>
					<xs:documentation>Les périodicités du débiteur.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="webServiceExceptionTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BUSINESS" />
			<xs:enumeration value="ACCESS_DENIED" />
			<xs:enumeration value="TECHNICAL" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType abstract="true" name="webServiceExceptionInfoType">
		<xs:sequence>
			<xs:element name="message" type="xs:string">
				<xs:annotation>
					<xs:documentation>Un message succinct explicitant autant que possible la cause de l'exception.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="businessExceptionCodeType">
		<xs:annotation>
			<xs:documentation>Les différents codes permettant de catégoriser les exceptions métier. Il s'agit de la liste connue au moment de la publication du fichier. Pour permettre en compatibilité
				ascendante, ces codes sont transmis sous forme de strings. Les applications clientes doivent donc s'attendre à recevoir de nouveaux codes qui ne seront pas dans le liste ci-dessous !
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="INFRASTRUCTURE">
				<xs:annotation>
					<xs:documentation>Le service infrastructure est inatteignable, ou a levé une exception sur un appel, a retourné null sur un élément qui ne devrait pas l'être ou tout autre
						situation similaire. Cette erreur peut être transiante ou non.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UNKNOWN_INDIVIDUAL">
				<xs:annotation>
					<xs:documentation>L'individu associé à un contribuable personne physique n'existe pas dans le registre civil. Cette erreur est fatale et ne devrait JAMAIS survenir en production.
						Dans les autres environnements, elle est possible lorsque les recopies de production ne sont pas effectuées à la même date.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INVALID_REQUEST">
				<xs:annotation>
					<xs:documentation>La requête reçue par le web-service est incorrecte (valeur obligatoire manquante, ...) et n'a pas pu être processées.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UNKNOWN_PARTY">
				<xs:annotation>
					<xs:documentation>Le tiers spécifié est inconnu.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INVALID_PARTY_TYPE">
				<xs:annotation>
					<xs:documentation>Le type de tiers spécifié est incorrect.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_LIABILITY">
				<xs:annotation>
					<xs:documentation>L'algorithme de calcul de l'assujettissement a rencontré une situation incohérente et a levé une exception.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ADDRESSES">
				<xs:annotation>
					<xs:documentation>L'algorithme de calcul des adresses a rencontré une situation incohérente et a levé une exception.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INDEXER_TOO_MANY_RESULTS">
				<xs:annotation>
					<xs:documentation>Une recherche a retourné trop de résultats.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INDEXER_EMPTY_CRITERIA">
				<xs:annotation>
					<xs:documentation>La recherche demandée ne spécifie aucun critère.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INDEXER">
				<xs:annotation>
					<xs:documentation>L'indexeur a levé une exception générique.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VALIDATION">
				<xs:annotation>
					<xs:documentation>Le tiers modifié est (ou est devenu) invalide.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_DECLARATION_RETURN">
				<xs:annotation>
					<xs:documentation>L'opération de quittancement a provoqué une erreur (explicitée dans la réponse de quittancement elle-même).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="businessExceptionInfoType">
		<xs:annotation>
			<xs:documentation>Exception levée par le web-service lorsqu'une erreur métier est levée. Une erreur métier peut être le résultat de paramètres d'entrée incorrects, de données incohérentes
				dans la base, de problèmes de connectivités avec d'autres registres, etc...
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="unireg:webServiceExceptionInfoType">
				<xs:sequence>
					<xs:element name="code" type="xs:string">
						<xs:annotation>
							<xs:documentation>La cause de l'exception business sous forme d'un code facilement identifiable (voir SIFISC-152). Les codes connus sont définis dans le type
								'businessExceptionCodeType' (le type String est malgré tout utilisé pour permettre d'ajouter de nouveaux codes tout en gardant la compatibilité ascendante).
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="accessDeniedExceptionInfoType">
		<xs:annotation>
			<xs:documentation>Exception levée par le web-service lorsque l'accès à une ressource n'est pas autorisé.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="unireg:webServiceExceptionInfoType">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="technicalExceptionInfoType">
		<xs:annotation>
			<xs:documentation>Exception levée par le web-service lorsqu'une erreur interne au web-service est levée. Dans ce cas, il s'agit généralement d'un bug du web-service.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="unireg:webServiceExceptionInfoType">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="idListType">
		<xs:annotation>
			<xs:documentation>Une liste d'ids d'éléments (tiers ou autres, en fonction du contexte d'utilisation).</xs:documentation>
		</xs:annotation>
		<xs:list itemType="xs:long" />
	</xs:simpleType>
</xs:schema>
