unireg-ws-tiers3/src/main/resources/TiersService3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- version 3.0-SNAPSHOT -->
<wsdl:definitions name="TiersWebService" targetNamespace="http://www.vd.ch/unireg/webservices/tiers3"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:unireg="http://www.vd.ch/unireg/webservices/tiers3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xs:schema targetNamespace="http://www.vd.ch/unireg/webservices/tiers3"
				   xmlns:unireg="http://www.vd.ch/unireg/webservices/tiers3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:include schemaLocation="common.xsd" />
			<xs:include schemaLocation="data/adresse.xsd" />
			<xs:include schemaLocation="data/declaration.xsd" />
			<xs:include schemaLocation="data/pp.xsd" />
			<xs:include schemaLocation="data/pm.xsd" />
			<xs:include schemaLocation="data/debiteur.xsd" />
			<xs:include schemaLocation="data/fors.xsd" />
			<xs:include schemaLocation="data/rapport.xsd" />
			<xs:include schemaLocation="messages/gettierstype.xsd" />
			<xs:include schemaLocation="messages/gettiers.xsd" />
			<xs:include schemaLocation="messages/getbatchtiers.xsd" />
			<xs:include schemaLocation="messages/searchtiers.xsd" />
			<xs:include schemaLocation="messages/getlistectbmodifies.xsd" />
			<xs:include schemaLocation="messages/searchevenementspm.xsd" />
			<xs:include schemaLocation="messages/quittancerdeclarations.xsd" />
			<xs:include schemaLocation="messages/setblocrembauto.xsd" />
			<xs:include schemaLocation="messages/getdebiteurinfo.xsd" />
			<xs:element name="webServiceException" type="unireg:WebServiceExceptionInfo" />
			<xs:element name="getTiersRequest" nillable="true" type="unireg:GetTiers" />
			<xs:element name="getTiersResponse" nillable="true" type="unireg:Tiers" />
			<xs:element name="getTiersTypeRequest" nillable="true" type="unireg:GetTiersType" />
			<xs:element name="getTiersTypeResponse" nillable="true" type="unireg:TypeTiers" />
			<xs:element name="searchTiersRequest" nillable="true" type="unireg:SearchTiers" />
			<xs:element name="searchTiersResponse" nillable="true" type="unireg:TiersInfoArray" />
			<xs:element name="getListeCtbModifiesRequest" nillable="true" type="unireg:getListeCtbModifies" />
			<xs:element name="getListeCtbModifiesResponse" nillable="true" type="unireg:TiersIdArray" />
			<xs:element name="getBatchTiersRequest" nillable="true" type="unireg:GetBatchTiers" />
			<xs:element name="getBatchTiersResponse" nillable="true" type="unireg:BatchTiers" />
			<xs:element name="searchEvenementsPMRequest" nillable="true" type="unireg:searchEvenementsPM" />
			<xs:element name="searchEvenementsPMResponse" nillable="true" type="unireg:evenementPMArray" />
			<xs:element name="setTiersBlocRembAutoRequest" nillable="true" type="unireg:SetTiersBlocRembAuto" />
			<xs:element name="quittancerDeclarationsRequest" nillable="true" type="unireg:QuittancerDeclarations" />
			<xs:element name="quittancerDeclarationsResponse" nillable="true" type="unireg:ReponseQuittancementDeclarationArray" />
			<xs:element name="getDebiteurInfoRequest" nillable="true" type="unireg:GetDebiteurInfo" />
			<xs:element name="getDebiteurInfoResponse" nillable="true" type="unireg:DebiteurInfo" />
		</xs:schema>
	</wsdl:types>

	<!-- IN/OUT Message declarations -->
	<wsdl:message name="searchTiersRequestMessage">
		<wsdl:part name="searchTiersRequest" element="unireg:searchTiersRequest" />
	</wsdl:message>
	<wsdl:message name="searchTiersResponseMessage">
		<wsdl:part name="searchTiersResponse" element="unireg:searchTiersResponse" />
	</wsdl:message>

	<wsdl:message name="searchEvenementsPMRequestMessage">
		<wsdl:part name="searchEvenementsPMRequest" element="unireg:searchEvenementsPMRequest" />
	</wsdl:message>
	<wsdl:message name="searchEvenementsPMResponseMessage">
		<wsdl:part name="searchEvenementsPMResponse" element="unireg:searchEvenementsPMResponse" />
	</wsdl:message>

	<wsdl:message name="getTiersTypeRequestMessage">
		<wsdl:part name="getTiersTypeRequest" element="unireg:getTiersTypeRequest" />
	</wsdl:message>
	<wsdl:message name="getTiersTypeResponseMessage">
		<wsdl:part name="getTiersTypeResponse" element="unireg:getTiersTypeResponse" />
	</wsdl:message>

	<wsdl:message name="getTiersRequestMessage">
		<wsdl:part name="getTiersRequest" element="unireg:getTiersRequest" />
	</wsdl:message>
	<wsdl:message name="getTiersResponseMessage">
		<wsdl:part name="getTiersResponse" element="unireg:getTiersResponse" />
	</wsdl:message>

	<wsdl:message name="getBatchTiersRequestMessage">
		<wsdl:part name="getBatchTiersRequest" element="unireg:getBatchTiersRequest" />
	</wsdl:message>
	<wsdl:message name="getBatchTiersResponseMessage">
		<wsdl:part name="getBatchTiersResponse" element="unireg:getBatchTiersResponse" />
	</wsdl:message>

	<wsdl:message name="getDebiteurInfoRequestMessage">
		<wsdl:part name="getDebiteurInfoRequest" element="unireg:getDebiteurInfoRequest" />
	</wsdl:message>
	<wsdl:message name="getDebiteurInfoResponseMessage">
		<wsdl:part name="getDebiteurInfoResponse" element="unireg:getDebiteurInfoResponse" />
	</wsdl:message>

	<wsdl:message name="getListeCtbModifiesRequestMessage">
		<wsdl:part name="getListeCtbModifiesRequest" element="unireg:getListeCtbModifiesRequest" />
	</wsdl:message>
	<wsdl:message name="getListeCtbModifiesResponseMessage">
		<wsdl:part name="getListeCtbModifiesResponse" element="unireg:getListeCtbModifiesResponse" />
	</wsdl:message>

	<wsdl:message name="setTiersBlocRembAutoRequestMessage">
		<wsdl:part name="setTiersBlocRembAutoRequest" element="unireg:setTiersBlocRembAutoRequest" />
	</wsdl:message>
	<wsdl:message name="setTiersBlocRembAutoResponseMessage">
	</wsdl:message>

	<wsdl:message name="quittancerDeclarationsRequestMessage">
		<wsdl:part name="quittancerDeclarationsRequest" element="unireg:quittancerDeclarationsRequest" />
	</wsdl:message>
	<wsdl:message name="quittancerDeclarationsResponseMessage">
		<wsdl:part name="quittancerDeclarationsResponse" element="unireg:quittancerDeclarationsResponse" />
	</wsdl:message>

	<wsdl:message name="webServiceException">
		<wsdl:part name="webServiceException" element="unireg:webServiceException" />
	</wsdl:message>

	<!-- PORT declarations -->
	<wsdl:portType name="TiersWebService">
		<wsdl:operation name="getTiers">
			<wsdl:input message="unireg:getTiersRequestMessage" />
			<wsdl:output message="unireg:getTiersResponseMessage" />
			<wsdl:fault message="unireg:webServiceException" name="webServiceException" />
		</wsdl:operation>
		<wsdl:operation name="getTiersType">
			<wsdl:input message="unireg:getTiersTypeRequestMessage" />
			<wsdl:output message="unireg:getTiersTypeResponseMessage" />
			<wsdl:fault message="unireg:webServiceException" name="webServiceException" />
		</wsdl:operation>
		<wsdl:operation name="searchTiers">
			<wsdl:input message="unireg:searchTiersRequestMessage" />
			<wsdl:output message="unireg:searchTiersResponseMessage" />
			<wsdl:fault message="unireg:webServiceException" name="webServiceException" />
		</wsdl:operation>
		<wsdl:operation name="getListeCtbModifies">
			<wsdl:input message="unireg:getListeCtbModifiesRequestMessage" />
			<wsdl:output message="unireg:getListeCtbModifiesResponseMessage" />
			<wsdl:fault message="unireg:webServiceException" name="webServiceException" />
		</wsdl:operation>
		<wsdl:operation name="getBatchTiers">
			<wsdl:input message="unireg:getBatchTiersRequestMessage" />
			<wsdl:output message="unireg:getBatchTiersResponseMessage" />
			<wsdl:fault message="unireg:webServiceException" name="webServiceException" />
		</wsdl:operation>
		<wsdl:operation name="searchEvenementsPM">
			<wsdl:input message="unireg:searchEvenementsPMRequestMessage" />
			<wsdl:output message="unireg:searchEvenementsPMResponseMessage" />
			<wsdl:fault message="unireg:webServiceException" name="webServiceException" />
		</wsdl:operation>
		<wsdl:operation name="setTiersBlocRembAuto">
			<wsdl:input message="unireg:setTiersBlocRembAutoRequestMessage" />
			<wsdl:output message="unireg:setTiersBlocRembAutoResponseMessage" />
			<wsdl:fault message="unireg:webServiceException" name="webServiceException" />
		</wsdl:operation>
		<wsdl:operation name="quittancerDeclarations">
			<wsdl:input message="unireg:quittancerDeclarationsRequestMessage" />
			<wsdl:output message="unireg:quittancerDeclarationsResponseMessage" />
			<wsdl:fault message="unireg:webServiceException" name="webServiceException" />
		</wsdl:operation>
		<wsdl:operation name="getDebiteurInfo">
			<wsdl:input message="unireg:getDebiteurInfoRequestMessage" />
			<wsdl:output message="unireg:getDebiteurInfoResponseMessage" />
			<wsdl:fault message="unireg:webServiceException" name="webServiceException" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- BINDING declarations -->
	<wsdl:binding name="TiersServiceSoapBinding" type="unireg:TiersWebService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getTiers">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="webServiceException">
				<soap:fault name="webServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getTiersType">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="webServiceException">
				<soap:fault name="webServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="searchTiers">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="webServiceException">
				<soap:fault name="webServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getListeCtbModifies">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="webServiceException">
				<soap:fault name="webServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getBatchTiers">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="webServiceException">
				<soap:fault name="webServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="searchEvenementsPM">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="webServiceException">
				<soap:fault name="webServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setTiersBlocRembAuto">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="webServiceException">
				<soap:fault name="webServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="quittancerDeclarations">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="webServiceException">
				<soap:fault name="webServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getDebiteurInfo">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="webServiceException">
				<soap:fault name="webServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<!-- SERVICE declarations -->
	<wsdl:service name="TiersWebServiceFactory">
		<wsdl:port binding="unireg:TiersServiceSoapBinding" name="Service">
			<soap:address location="http://localhost:8080/fiscalite/unireg/ws/tiers3" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>