unireg-ws-tiers3/src/main/resources/TiersService3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- version 3.0b-SNAPSHOT -->
<wsdl:definitions name="TiersWebService" targetNamespace="http://www.vd.ch/unireg/webservices/tiers3" xmlns="http://www.vd.ch/unireg/webservices/tiers3"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:unireg="http://www.vd.ch/unireg/webservices/tiers3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xs:schema targetNamespace="http://www.vd.ch/unireg/webservices/tiers3"
				   xmlns:unireg="http://www.vd.ch/unireg/webservices/tiers3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:include schemaLocation="common.xsd" />
			<xs:include schemaLocation="data/adresse.xsd" />
			<xs:include schemaLocation="data/declaration.xsd" />
			<xs:include schemaLocation="data/pp.xsd" />
			<xs:include schemaLocation="data/pm.xsd" />
			<xs:include schemaLocation="data/debiteur.xsd" />
			<xs:include schemaLocation="data/fors.xsd" />
			<xs:include schemaLocation="data/rapport.xsd" />
			<xs:include schemaLocation="messages/gettierstype.xsd" />
			<xs:include schemaLocation="messages/gettiers.xsd" />
			<xs:include schemaLocation="messages/getbatchtiers.xsd" />
			<xs:include schemaLocation="messages/searchtiers.xsd" />
			<xs:include schemaLocation="messages/getlistectbmodifies.xsd" />
			<xs:include schemaLocation="messages/searchevenementspm.xsd" />
			<xs:include schemaLocation="messages/quittancerdeclarations.xsd" />
			<xs:include schemaLocation="messages/setblocrembauto.xsd" />
			<xs:include schemaLocation="messages/getdebiteurinfo.xsd" />
			<xs:element name="searchTiersRequest" nillable="true" type="unireg:searchTiersRequestType" />
			<xs:element name="searchTiersResponse" nillable="true" type="unireg:searchTiersResponseType" />
			<xs:element name="searchEvenementsPMRequest" nillable="true" type="unireg:searchEvenementsPMRequestType" />
			<xs:element name="searchEvenementsPMResponse" nillable="true" type="unireg:searchEvenementsPMResponseType" />
			<xs:element name="getTiersTypeRequest" nillable="true" type="unireg:getTiersTypeRequestType" />
			<xs:element name="getTiersTypeResponse" nillable="true" type="unireg:typeTiersType" />
			<xs:element name="getTiersRequest" nillable="true" type="unireg:getTiersRequestType" />
			<xs:element name="getTiersResponse" nillable="true" type="unireg:tiersType" />
			<xs:element name="getBatchTiersRequest" nillable="true" type="unireg:getBatchTiersRequestType" />
			<xs:element name="getBatchTiersResponse" nillable="true" type="unireg:BatchTiers" />
			<xs:element name="getDebiteurInfoRequest" nillable="true" type="unireg:getDebiteurInfoRequestType" />
			<xs:element name="getDebiteurInfoResponse" nillable="true" type="unireg:debiteurInfoType" />
			<xs:element name="getListeCtbModifiesRequest" nillable="true" type="unireg:getListeCtbModifiesRequestType" />
			<xs:element name="getListeCtbModifiesResponse" nillable="true" type="unireg:idListType" />
			<xs:element name="setTiersBlocRembAutoRequest" nillable="true" type="unireg:setTiersBlocRembAutoRequestType" />
			<xs:element name="quittancerDeclarationsRequest" nillable="true" type="unireg:quittancerDeclarationsRequestType" />
			<xs:element name="quittancerDeclarationsResponse" nillable="true" type="unireg:quittancerDeclarationsResponseType" />
			<xs:element name="webServiceException" type="unireg:webServiceExceptionInfoType" />
		</xs:schema>
	</wsdl:types>

	<!-- IN/OUT Message declarations -->
	<wsdl:message name="searchTiersRequestMessage">
		<wsdl:part name="searchTiersRequest" element="searchTiersRequest" />
	</wsdl:message>
	<wsdl:message name="searchTiersResponseMessage">
		<wsdl:part name="searchTiersResponse" element="searchTiersResponse" />
	</wsdl:message>

	<wsdl:message name="searchEvenementsPMRequestMessage">
		<wsdl:part name="searchEvenementsPMRequest" element="searchEvenementsPMRequest" />
	</wsdl:message>
	<wsdl:message name="searchEvenementsPMResponseMessage">
		<wsdl:part name="searchEvenementsPMResponse" element="searchEvenementsPMResponse" />
	</wsdl:message>

	<wsdl:message name="getTiersTypeRequestMessage">
		<wsdl:part name="getTiersTypeRequest" element="getTiersTypeRequest" />
	</wsdl:message>
	<wsdl:message name="getTiersTypeResponseMessage">
		<wsdl:part name="getTiersTypeResponse" element="getTiersTypeResponse" />
	</wsdl:message>

	<wsdl:message name="getTiersRequestMessage">
		<wsdl:part name="getTiersRequest" element="getTiersRequest" />
	</wsdl:message>
	<wsdl:message name="getTiersResponseMessage">
		<wsdl:part name="getTiersResponse" element="getTiersResponse" />
	</wsdl:message>

	<wsdl:message name="getBatchTiersRequestMessage">
		<wsdl:part name="getBatchTiersRequest" element="getBatchTiersRequest" />
	</wsdl:message>
	<wsdl:message name="getBatchTiersResponseMessage">
		<wsdl:part name="getBatchTiersResponse" element="getBatchTiersResponse" />
	</wsdl:message>

	<wsdl:message name="getDebiteurInfoRequestMessage">
		<wsdl:part name="getDebiteurInfoRequest" element="getDebiteurInfoRequest" />
	</wsdl:message>
	<wsdl:message name="getDebiteurInfoResponseMessage">
		<wsdl:part name="getDebiteurInfoResponse" element="getDebiteurInfoResponse" />
	</wsdl:message>

	<wsdl:message name="getListeCtbModifiesRequestMessage">
		<wsdl:part name="getListeCtbModifiesRequest" element="getListeCtbModifiesRequest" />
	</wsdl:message>
	<wsdl:message name="getListeCtbModifiesResponseMessage">
		<wsdl:part name="getListeCtbModifiesResponse" element="getListeCtbModifiesResponse" />
	</wsdl:message>

	<wsdl:message name="setTiersBlocRembAutoRequestMessage">
		<wsdl:part name="setTiersBlocRembAutoRequest" element="setTiersBlocRembAutoRequest" />
	</wsdl:message>
	<wsdl:message name="setTiersBlocRembAutoResponseMessage">
	</wsdl:message>

	<wsdl:message name="quittancerDeclarationsRequestMessage">
		<wsdl:part name="quittancerDeclarationsRequest" element="quittancerDeclarationsRequest" />
	</wsdl:message>
	<wsdl:message name="quittancerDeclarationsResponseMessage">
		<wsdl:part name="quittancerDeclarationsResponse" element="quittancerDeclarationsResponse" />
	</wsdl:message>

	<wsdl:message name="webServiceException">
		<wsdl:part name="webServiceException" element="webServiceException" />
	</wsdl:message>

	<!-- PORT declarations -->
	<wsdl:portType name="TiersWebService">
		<wsdl:operation name="getTiers">
			<wsdl:input message="getTiersRequestMessage" />
			<wsdl:output message="getTiersResponseMessage" />
			<wsdl:fault message="webServiceException" name="webServiceException" />
		</wsdl:operation>
		<wsdl:operation name="getTiersType">
			<wsdl:input message="getTiersTypeRequestMessage" />
			<wsdl:output message="getTiersTypeResponseMessage" />
			<wsdl:fault message="webServiceException" name="webServiceException" />
		</wsdl:operation>
		<wsdl:operation name="searchTiers">
			<wsdl:input message="searchTiersRequestMessage" />
			<wsdl:output message="searchTiersResponseMessage" />
			<wsdl:fault message="webServiceException" name="webServiceException" />
		</wsdl:operation>
		<wsdl:operation name="getListeCtbModifies">
			<wsdl:input message="getListeCtbModifiesRequestMessage" />
			<wsdl:output message="getListeCtbModifiesResponseMessage" />
			<wsdl:fault message="webServiceException" name="webServiceException" />
		</wsdl:operation>
		<wsdl:operation name="getBatchTiers">
			<wsdl:input message="getBatchTiersRequestMessage" />
			<wsdl:output message="getBatchTiersResponseMessage" />
			<wsdl:fault message="webServiceException" name="webServiceException" />
		</wsdl:operation>
		<wsdl:operation name="searchEvenementsPM">
			<wsdl:input message="searchEvenementsPMRequestMessage" />
			<wsdl:output message="searchEvenementsPMResponseMessage" />
			<wsdl:fault message="webServiceException" name="webServiceException" />
		</wsdl:operation>
		<wsdl:operation name="setTiersBlocRembAuto">
			<wsdl:input message="setTiersBlocRembAutoRequestMessage" />
			<wsdl:output message="setTiersBlocRembAutoResponseMessage" />
			<wsdl:fault message="webServiceException" name="webServiceException" />
		</wsdl:operation>
		<wsdl:operation name="quittancerDeclarations">
			<wsdl:input message="quittancerDeclarationsRequestMessage" />
			<wsdl:output message="quittancerDeclarationsResponseMessage" />
			<wsdl:fault message="webServiceException" name="webServiceException" />
		</wsdl:operation>
		<wsdl:operation name="getDebiteurInfo">
			<wsdl:input message="getDebiteurInfoRequestMessage" />
			<wsdl:output message="getDebiteurInfoResponseMessage" />
			<wsdl:fault message="webServiceException" name="webServiceException" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- BINDING declarations -->
	<wsdl:binding name="TiersServiceSoapBinding" type="unireg:TiersWebService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getTiers">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="webServiceException">
				<soap:fault name="webServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getTiersType">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="webServiceException">
				<soap:fault name="webServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="searchTiers">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="webServiceException">
				<soap:fault name="webServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getListeCtbModifies">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="webServiceException">
				<soap:fault name="webServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getBatchTiers">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="webServiceException">
				<soap:fault name="webServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="searchEvenementsPM">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="webServiceException">
				<soap:fault name="webServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setTiersBlocRembAuto">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="webServiceException">
				<soap:fault name="webServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="quittancerDeclarations">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="webServiceException">
				<soap:fault name="webServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getDebiteurInfo">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="webServiceException">
				<soap:fault name="webServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<!-- SERVICE declarations -->
	<wsdl:service name="TiersWebServiceFactory">
		<wsdl:port binding="unireg:TiersServiceSoapBinding" name="Service">
			<soap:address location="http://localhost:8080/fiscalite/unireg/ws/tiers3" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>