unireg-ws-party3/src/main/resources/party/unireg-party-taxdeclaration-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- v1.2-SNAPSHOT - 15 décembre 2011 - rendu la documentation compatible avec la javadoc -->
<!-- v1.1 - 23 novembre 2011 - ajouté le code de segmentation sur les DIs -->
<!-- v1.0beta0 - 29 juillet 2011 - hand-edited by Manuel Siggen -->
<xs:schema targetNamespace="http://www.vd.ch/fiscalite/unireg/party/taxdeclaration/1" elementFormDefault="qualified"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:taxdeclaration="http://www.vd.ch/fiscalite/unireg/party/taxdeclaration/1"
		   xmlns:common="http://www.vd.ch/fiscalite/unireg/common/1" xmlns:debtor="http://www.vd.ch/fiscalite/unireg/party/debtor/1" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">

	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/common/1" schemaLocation="../unireg-common-1.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/debtor/1" schemaLocation="unireg-party-debtor-1.xsd" />

	<xs:complexType name="taxDeclarationType">
		<xs:sequence>
			<xs:element name="id" type="xs:long">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>L'id technique (= clé primaire)</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateFrom" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de début de validité de la déclaration.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateTo" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de fin de validité de la déclaration.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="cancellationDate" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Date à laquelle la déclaration a été annulée, ou null si elle n'est pas annulée.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxPeriod" type="taxdeclaration:taxPeriodType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La période fiscale à laquelle la déclaration est rattachée.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" name="statuses" type="taxdeclaration:taxDeclarationStatusType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Les états de la déclaration.
								Attention ! Cette collection n'est renseignée que si la part TAX_DECLARATIONS_STATUSES est demandée.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="withholdingTaxDeclarationType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Contient les informations relative à une liste récapitulative (= LR) émise sur un débiteur.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxdeclaration:taxDeclarationType">
				<xs:sequence>
					<xs:element name="periodicity" type="debtor:withholdingTaxDeclarationPeriodicityType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>La périodicité du débiteur au moment de l'émission de la LR.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="communicationMode" type="debtor:communicationModeType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le mode de communication du débiteur au moment de l'émission de la LR.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ordinaryTaxDeclarationType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Contient les informations relative à une déclaration d'impôt ordinaire (= DI) émise sur un contribuable.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxdeclaration:taxDeclarationType">
				<xs:sequence>
					<xs:element name="sequenceNumber" type="xs:long">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le numéro de séquence de la déclaration pour la période fiscale.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="documentType" type="taxdeclaration:documentTypeType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le type de document.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="managingMunicipalityFSOId" type="xs:long">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>numéro OFS de la commune du for de gestion à la date de fin de la DI</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="segmentationCode" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Le code de segmentation TAO (n'est pas forcément renseigné sur les anciennes déclarations).</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="padding" type="xs:int">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Padding pour supporter l'élément xs:any ci-dessous. A ignorer.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="taxPeriodType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Une période fiscale couvre la période du 1er janvier au 31 décembre (compris) de l'année considérée.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="year" type="xs:int" />
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="taxDeclarationStatusType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>L'état d'une déclaration avec sa date d'obtention.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateFrom" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Date d'obtention de l'état décrit ici (pour le cas de la sommation, ce n'est pas la date de traitement métier de la sommation qui est indiquée ici, i.e. la
								vraie date d'obtention, mais la date indiquée sur le courrier envoyé au contribuable).
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="cancellationDate" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Date à laquelle l'état a été annulé, ou null s'il n'est pas annulé.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="taxdeclaration:taxDeclarationStatusTypeType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>L'état de la déclaration.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="taxDeclarationStatusTypeType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass>
					<jxb:javadoc>Statut possible d'une déclaration d'impôt.</jxb:javadoc>
				</jxb:typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SENT">
				<xs:annotation>
					<xs:documentation>Déclaration émise.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SUMMONS_SENT">
				<xs:annotation>
					<xs:documentation>Déclaration sommée.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXPIRED">
				<xs:annotation>
					<xs:documentation>Déclaration échue.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RETURNED">
				<xs:annotation>
					<xs:documentation>Déclaration retournée.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="documentTypeType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass>
					<jxb:javadoc>Les différents types de déclarations d'impôt ordinaires.</jxb:javadoc>
				</jxb:typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FULL_TAX_DECLARATION">
				<xs:annotation>
					<xs:documentation>Déclaration complète.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VAUDTAX_TAX_DECLARATION">
				<xs:annotation>
					<xs:documentation>Déclaration VaudTax.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXPENDITURE_BASED_TAX_DECLARATION">
				<xs:annotation>
					<xs:documentation>Déclaration à la dépense.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IMMOVABLE_PROPERTY_OTHER_CANTON_TAX_DECLARATION">
				<xs:annotation>
					<xs:documentation>Déclaration hors-canton immeuble.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
