unireg-ws-party3/src/main/resources/party/unireg-party-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- v1.4 - 25 juin 2012 - ajouté le type 'partyPartType' -->
<!-- v1.2 - 15 décembre 2011 - rendu la documentation compatible avec la javadoc -->
<!-- v1.1 - 1 novembre 2011 - ajouté les types de rapports 'CHILD' et 'PARENT' (SIFISC-2588) -->
<!-- v1.0beta0 - 29 juillet 2011 - hand-edited by Manuel Siggen -->
<xs:schema targetNamespace="http://www.vd.ch/fiscalite/unireg/party/party/1" elementFormDefault="qualified"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:party="http://www.vd.ch/fiscalite/unireg/party/party/1"
		   xmlns:common="http://www.vd.ch/fiscalite/unireg/common/1" xmlns:address="http://www.vd.ch/fiscalite/unireg/party/address/1"
		   xmlns:relation="http://www.vd.ch/fiscalite/unireg/party/relation/1" xmlns:taxdeclaration="http://www.vd.ch/fiscalite/unireg/party/taxdeclaration/1"
		   xmlns:taxresidence="http://www.vd.ch/fiscalite/unireg/party/taxresidence/1" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">

	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/common/1" schemaLocation="../unireg-common-1.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/address/1" schemaLocation="unireg-party-address-1.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/relation/1" schemaLocation="unireg-party-relation-1.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/taxdeclaration/1" schemaLocation="unireg-party-taxdeclaration-1.xsd" />
	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/party/taxresidence/1" schemaLocation="unireg-party-taxresidence-1.xsd" />

	<xs:complexType abstract="true" name="partyType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Classe de base pour les tiers (un tiers est soit un débiteur, soit un contribuable normal). Les collections sont renseignées en fonction des parts demandées lors de
						l'appel au service.
					</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="number" type="common:partyNumberType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le numéro de tiers qui identifie de manière unique un contribuable ou un débiteur.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="complementaryName" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Complément du nom utilisé lors de l'adressage.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="activityStartDate" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Date à laquelle l'activité du tiers a débuté. Si le tiers n'a jamais été assujetti, cette date est nulle.
								Attention ! Cette date n'est renseignée qui si la part TAX_RESIDENCES est demandée.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="activityEndDate" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Date à laquelle l'activité du tiers a pris fin. Si le tiers est toujours actif, la date n'est pas renseignée.
								Attention ! Cette date n'est renseignée que si la part TAX_RESIDENCES est demandée.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="cancellationDate" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Date à laquelle le tiers a été annulé, ou non-renseigné si le tiers n'est pas annulé.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="contactPerson" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Coordonnées de la personne de contact chez le débiteur, ou null si le débiteur est associé avec une personne physique.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="privatePhoneNumber" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le numéro de téléphone privé (format tel que saisi par l'utilisateur).</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="businessPhoneNumber" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le numéro de téléphone professionel (format tel que saisi par l'utilisateur).</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="mobilePhoneNumber" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le numéro de téléphone portable (format tel que saisi par l'utilisateur).</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="faxNumber" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le numéro de fax (format tel que saisi par l'utilisateur).</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="emailAddress" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>L'adresse email du tiers.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="automaticReimbursementBlocked" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Vrai si le remboursement automatique est bloqué sur ce tiers; faux si ce n'est pas le cas.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="inactiveDebtor" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Vrai s'il le tiers est un débiteur inactif (i107); faux pour tous les autres tiers.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="mailAddresses" type="address:addressType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Historique des adresses courrier.
								Attention ! Cette collection n'est renseignée que si la part ADDRESSES est demandée.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="debtProsecutionAddresses" type="address:addressType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Historique des adresses de poursuite.
								Attention ! Cette collection n'est renseignée que si la part ADDRESSES est demandée.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="representationAddresses" type="address:addressType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Historique des adresses de représentation.
								Attention ! Cette collection n'est renseignée que si la part ADDRESSES est demandée.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="residenceAddresses" type="address:addressType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Historique des adresses de résidence.
								Attention ! Cette collection n'est renseignée que si la part ADDRESSES est demandée.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="debtProsecutionAddressesOfOtherParty" type="address:addressOtherPartyType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Historique des adresses de poursuite 'autre tiers'.
								Attention ! Cette collection n'est renseignée que si la part ADDRESSES est demandée.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="relationsBetweenParties" type="relation:relationBetweenPartiesType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Historique des rapports entre tiers pour ce tiers (du plus ancien au plus récent).
								Attention ! Cette collection n'est renseignée que si au moins une des parts suivantes est demandée:
								 - RELATIONS_BETWEEN_PARTIES : renseigne tous les rapports entre tiers conventionnels (= tous sauf les enfants et les parents)
								 - CHILDREN  : renseigne tous les enfants de la personne courante
								 - PARENTS : renseigne tous les parents de la personne courante.
								Les trois parts peuvent être demandées simultanément, ou séparément.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="mainTaxResidences" type="taxresidence:taxResidenceType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Historique des fors fiscaux principaux existants sur le tiers (du plus ancien au plus récent).
								Attention ! Cette collection n'est renseignée que si la part TAX_RESIDENCES (ou VIRTUAL_TAX_RESIDENCES) est demandée.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="otherTaxResidences" type="taxresidence:taxResidenceType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Historique des autres fors fiscaux (secondaires, ...) existants sur le contribuable (du plus ancien au plus récent). Toujours vide dans le cas d'un débiteur.
								Attention ! Cette collection n'est renseignée que si la part TAX_RESIDENCES (ou VIRTUAL_TAX_RESIDENCES) est demandée.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="managingTaxResidences" type="taxresidence:managingTaxResidenceType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Historique des fors de gestion (du plus ancien au plus récent). Cette liste peut-être vide si le tiers n'a jamais été assujetti.
								Attention ! Cette collection n'est renseignée que si la part TAX_RESIDENCES (ou VIRTUAL_TAX_RESIDENCES) est demandée.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="taxDeclarations" type="taxdeclaration:taxDeclarationType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Historique des déclarations (DI ou LR) pour le tiers.
								Attention ! Cette collection n'est renseignée que si la part TAX_DECLARATIONS est demandée.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="bankAccounts" type="party:bankAccountType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Les coordonnées financières du tiers.
								Attention ! Cette collection n'est renseignée que si la part BANK_ACCOUNTS est demandée.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="bankAccountType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Contient les coordonnées financière d'un compte auprès d'un organisme financier (CCP ou compte bancaire, suisse ou étranger).</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="ownerName" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le titulaire du compte.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="accountNumber" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le numéro du compte (tel que saisi par l'utilisateur).</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="format" type="party:accountNumberFormatType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le type du numéro (IBAN, CPP, ...).</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="clearing" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le clearing bancaire (uniquement renseigné sur les comptes bancaires suisses).</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="bicAddress" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le numéro BIC SWIFT (uniquement renseigné sur les comptes bancaires étrangers).</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="bankName" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le nom de l'institution financière (lorsque cette information est connnue).</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ownerPartyNumber" type="common:partyNumberType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le numéro de tiers du titulaire du compte.
								Dans le cas d'un tiers de type personne physique ou ménage-commun, ce numéro est toujours égal au numéro du tiers. Dans le cas d'un tiers personne morale, ce numéro est
								égal au numéro de la PM lorsqu'il s'agit du compte bancaire PM elle-même; et inversément, lorsqu'il s'agit du compte bancaire du mandataire, ce numéro est égal à celui
								du mandataire.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="accountNumberFormatType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SWISS_SPECIFIC">
				<xs:annotation>
					<xs:appinfo>
						<jxb:class>
							<jxb:javadoc>Le format spécifique à l'organisme financier suisse (banque ou poste). L'organisme est spécifié par le numéro de clearing.
								Exemples :
								- BCV: 477.512.01 Z
								- La Poste: 10-3848-4
							</jxb:javadoc>
						</jxb:class>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IBAN">
				<xs:annotation>
					<xs:documentation>International Bank Account Number.
						Exemples :
						- Greek IBAN: GR16 0110 1050 0000 1054 7023 795
						- British IBAN: GB35 MIDL 4025 3432 1446 70
						- Swiss IBAN: CH51 0868 6001 2565 1500 1
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="partyInfoType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Information disponibles sur un tiers retournées lors du recherche.
						Les informations détaillées des tiers (fors fiscaux, adresses, ...) sont disponibles au travers des méthodes getTiers.
					</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="name1" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La première ligne du nom du contribuable. Pour une personne physique, il s'agit de son prénom et de son nom. Pour un ménage, il s'agit du prénom et du nom du
								principal (pour autant qu'il soit connu). Pour les autres types de tiers (collectivités administratives, débiteurs, entreprises, ..), il s'agit généralement de la
								raison sociale.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="name2" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La seconde ligne du nom du contribuable. Pour une personne physique, ce champs n'est pas renseigné. Pour un ménage, il s'agit du prénom et du nom du
								conjoint (pour autant qu'il soit connu). Pour les autres types de tiers (collectivités administratives, débiteurs, entreprises, ..), il s'agit généralement du
								complément de la raison sociale ou alors, le champs n'est pas renseigné.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="dateOfBirth" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de naissance de la personne physique. Ce champs n'est pas renseigné pour les autres types de tiers.
								Attention ! Cette date peut être partielle au niveau du jour et du mois (ex: "1973.11" - jour de naissance inconnu, "1973" - jour et mois de naissance inconnus).
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="street" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La rue de l'adresse courrier du tiers, ou non-renseigné si ancune adresse n'est connue.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="zipCode" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le numéro postal d'achemiment (NPA) de l'adresse courrier du tiers (en suisse ou à l'étranger), ou non-renseigné si ancune adresse n'est connue.
							</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="town" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La localité de l'adresse courrier du tiers, ou non-renseigné si ancune adresse n'est connue.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="country" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le pays de l'adresse courrier du tiers, ou non-renseigné si ancune adresse n'est connue.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="type" type="party:partyTypeType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le type de tiers au sens large (débiteur, personne physique, ménage commune, ...)</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="number" type="common:partyNumberType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le numéro de tiers.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="partyTypeType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:typesafeEnumClass>
					<jxb:javadoc>Les différents types de tiers existants.</jxb:javadoc>
				</jxb:typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NATURAL_PERSON">
				<xs:annotation>
					<xs:documentation>Une personne physique.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HOUSEHOLD">
				<xs:annotation>
					<xs:documentation>Une ménage-commun (couple).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEBTOR">
				<xs:annotation>
					<xs:documentation>Un débiteur de prestations imposables.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CORPORATION">
				<xs:annotation>
					<xs:documentation>Une personne morale.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="partyPartType">
		<xs:annotation>
			<xs:appinfo>
				<typesafeEnumClass>
					<jxb:javadoc>Les différents collections (= parties) qui peuvent être renseignées sur un tiers.</jxb:javadoc>
				</typesafeEnumClass>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDRESSES">
				<xs:annotation>
					<xs:documentation>Les adresses du tiers</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_RESIDENCES">
				<xs:annotation>
					<xs:documentation>Les fors fiscaux du tiers.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VIRTUAL_TAX_RESIDENCES">
				<xs:annotation>
					<xs:documentation>Les fors fiscaux virtuels du tiers (les fors fiscaux non-virtuels sont aussi retournés).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MANAGING_TAX_RESIDENCES">
				<xs:annotation>
					<xs:documentation>Les fors de gestion du tiers</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HOUSEHOLD_MEMBERS">
				<xs:annotation>
					<xs:documentation>Les composants du ménage.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_LIABILITIES">
				<xs:annotation>
					<xs:documentation>L'assujettissement complet du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SIMPLIFIED_TAX_LIABILITIES">
				<xs:annotation>
					<xs:documentation>Une vue simplifiée de l'assujettissement du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAXATION_PERIODS">
				<xs:annotation>
					<xs:documentation>Les périodes d'imposition du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RELATIONS_BETWEEN_PARTIES">
				<xs:annotation>
					<xs:documentation>Les rapports-entre-tiers du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FAMILY_STATUSES">
				<xs:annotation>
					<xs:documentation>Les situations de famille du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_DECLARATIONS">
				<xs:annotation>
					<xs:documentation>Les déclarations du tiers.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_DECLARATIONS_STATUSES">
				<xs:annotation>
					<xs:documentation>Renseigne les états des déclarations. Attention ! L'utilisation de cette part est fortement déconseillée car elle dégrade très fortement les performances (=
						implique une requête supplémentaire dans la base de données pour chaque déclaration de chaque tiers).
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BANK_ACCOUNTS">
				<xs:annotation>
					<xs:documentation>Les comptes bancaire du tiers.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LEGAL_SEATS">
				<xs:annotation>
					<xs:documentation>Les sièges de la personne morale.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LEGAL_FORMS">
				<xs:annotation>
					<xs:documentation>Les formes juridiques de la personne morale.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CAPITALS">
				<xs:annotation>
					<xs:documentation>Les capitaux de la personne morale.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAX_SYSTEMS">
				<xs:annotation>
					<xs:documentation>Les régimes fiscaux de la personne morale.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CORPORATION_STATUSES">
				<xs:annotation>
					<xs:documentation>Les états de la personne morale.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEBTOR_PERIODICITIES">
				<xs:annotation>
					<xs:documentation>Les périodicités du débiteur.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IMMOVABLE_PROPERTIES">
				<xs:annotation>
					<xs:documentation>Les immeubles du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CHILDREN">
				<xs:annotation>
					<xs:documentation>Les enfants (naturels et adoptés) du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARENTS">
				<xs:annotation>
					<xs:documentation>Les parents (naturels et par adoption) du contribuable.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
