unireg-wsclient-acicom/src/main/resources/serviceMeldewesen-v1.1.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="MeldewesenConsultationServiceImplService" targetNamespace="http://impl.meldewesen.services.web.acicom.dfin.vd.ch/" xmlns:ns1="http://cxf.apache.org/bindings/xformat"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.meldewesen.services.web.acicom.dfin.vd.ch/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://impl.meldewesen.services.web.acicom.dfin.vd.ch/"
				   xmlns:tns="http://impl.meldewesen.services.web.acicom.dfin.vd.ch/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="recupererContenuMessage" type="tns:recupererContenuMessage" />
			<xs:element name="recupererContenuMessageResponse" type="tns:recupererContenuMessageResponse" />
			<xs:complexType name="recupererContenuMessage">
				<xs:sequence>
					<xs:element minOccurs="0" name="messageId" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="recupererContenuMessageResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:contenuMessage" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="extension restriction" name="contenuMessage">
				<xs:sequence>
					<xs:element minOccurs="0" name="content" type="xs:base64Binary" />
					<xs:element minOccurs="0" name="extension" type="xs:string" />
					<xs:element minOccurs="0" name="mimeType" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="AciComException" type="tns:AciComException" />
			<xs:complexType name="AciComException">
				<xs:sequence />
			</xs:complexType>
			<xs:element name="DocumentNotFoundException" type="tns:DocumentNotFoundException" />
			<xs:complexType name="DocumentNotFoundException">
				<xs:sequence />
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="recupererContenuMessageResponse">
		<wsdl:part element="tns:recupererContenuMessageResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AciComException">
		<wsdl:part element="tns:AciComException" name="AciComException">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="recupererContenuMessage">
		<wsdl:part element="tns:recupererContenuMessage" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="DocumentNotFoundException">
		<wsdl:part element="tns:DocumentNotFoundException" name="DocumentNotFoundException">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="meldewesenConsultationService">
		<wsdl:operation name="recupererContenuMessage">
			<wsdl:input message="tns:recupererContenuMessage" name="recupererContenuMessage">
			</wsdl:input>
			<wsdl:output message="tns:recupererContenuMessageResponse" name="recupererContenuMessageResponse">
			</wsdl:output>
			<wsdl:fault message="tns:DocumentNotFoundException" name="DocumentNotFoundException">
			</wsdl:fault>
			<wsdl:fault message="tns:AciComException" name="AciComException">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MeldewesenConsultationServiceImplServiceSoapBinding" type="tns:meldewesenConsultationService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="recupererContenuMessage">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="recupererContenuMessage">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="recupererContenuMessageResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="DocumentNotFoundException">
				<soap:fault name="DocumentNotFoundException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="AciComException">
				<soap:fault name="AciComException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MeldewesenConsultationServiceImplService">
		<wsdl:port binding="tns:MeldewesenConsultationServiceImplServiceSoapBinding" name="MeldewesenConsultationServiceImplPort">
			<soap:address location="http://ssv0213v:60102/fiscalite/int-acicom/services/meldewesenConsultationService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>