unireg-bvrplus/src/main/resources/SipfBVRPlus-v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:s0="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1.0" xmlns:s1="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" name="SipfBVRPlus-v1.wsdl" targetNamespace="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1">
	<types>
		<xsd:schema targetNamespace="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1.0" xmlns:s0="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1.0" xmlns:s1="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1" xmlns:v1_0="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexType name="bvrDemande">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="ndc" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="anneeTaxation" type="v1_0:anneeType"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="typeDebiteurIS" type="v1_0:debiteurISType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="bvrReponse">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="ndc" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="anneeTaxation" type="v1_0:anneeType"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="noAdherent" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="noReference" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="ligneCodage" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getBVRDemande">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="1" name="listBVR" type="v1_0:bvrDemande"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getBVRReponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="1" name="listReponse" type="v1_0:bvrReponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:simpleType name="anneeType">
				<xsd:restriction base="xsd:integer">
					<xsd:pattern value="[0-9][0-9][0-9][0-9]"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="debiteurISType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="(REGULIER|ADMINISTRATEUR|PREST_PREVOYANCE|ACS|CREANCIER_HYPO|LDTN)"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</types>
	<message name="getBVRDemandeRequest">
		<part name="parameters" element="s0:getBVRDemande"/>
	</message>
	<message name="getBVRReponseResponse">
		<part name="parameters" element="s0:getBVRReponse"/>
	</message>
	<portType name="SipfBVRPlus">
		<operation name="getBVRDemande">
			<input message="s1:getBVRDemandeRequest"/>
			<output message="s1:getBVRReponseResponse"/>
		</operation>
	</portType>
	<binding name="SipfBVRPlusSOAPBinding" type="s1:SipfBVRPlus">
		<s2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getBVRDemande">
			<s2:operation soapAction="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1/getBVRDemande"/>
			<input>
				<s2:body use="literal"/>
			</input>
			<output>
				<s2:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="SipfBVRPlus">
		<port name="SOAPOverHTTP" binding="s1:SipfBVRPlusSOAPBinding">
			<s2:address location="http://www.example.org/"/>
		</port>
	</service>
</definitions>
