unireg-bvrplus/src/main/resources/SipfBVRPlus-v1.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions name="SipfBVRPlus-v1.wsdl" targetNamespace="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1" xmlns="" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
					 xmlns:WL5G3N1="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1.0" xmlns:WL5G3N2="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1"
					 xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/">
	<WL5G3N0:types>
		<xsd:schema targetNamespace="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1.0" xmlns:s0="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1.0"
					xmlns:s1="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
					xmlns:tns="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1" xmlns:v1_0="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
					xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexType name="bvrDemande">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="ndc" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1" name="anneeTaxation" type="v1_0:anneeType" />
					<xsd:element maxOccurs="1" minOccurs="1" name="typeDebiteurIS" type="v1_0:debiteurISType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="bvrReponse">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="ndc" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1" name="anneeTaxation" type="v1_0:anneeType" />
					<xsd:element maxOccurs="1" minOccurs="1" name="noAdherent" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1" name="noReference" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1" name="ligneCodage" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="pingRequest">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="text" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="pingResponse">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="text" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getBVRDemande">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="1" name="listBVR" type="v1_0:bvrDemande" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getBVRReponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="1" name="listReponse" type="v1_0:bvrReponse" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getPingRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="1" name="listPingRequest" type="v1_0:pingRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getPingResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="1" name="listPingReponse" type="v1_0:pingResponse" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:simpleType name="anneeType">
				<xsd:restriction base="xsd:integer">
					<xsd:pattern value="[0-9][0-9][0-9][0-9]" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="debiteurISType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="(REGULIERS|ADMINISTRATEURS|PRESTATIONS_PREVOYANCE|CONFERENCIERS_ARTISTES_SPORTIF|CREANCIERS_HYPOTHECAIRE|LOI_TRAVAIL_AU_NOIR)" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</WL5G3N0:types>
	<WL5G3N0:message name="getBVRDemandeRequest">
		<WL5G3N0:part element="WL5G3N1:getBVRDemande" name="parameters" />
	</WL5G3N0:message>
	<WL5G3N0:message name="getBVRReponseResponse">
		<WL5G3N0:part element="WL5G3N1:getBVRReponse" name="parameters" />
	</WL5G3N0:message>
	<WL5G3N0:message name="getPingRequestMessage">
		<WL5G3N0:part element="WL5G3N1:getPingRequest" name="parameters" />
	</WL5G3N0:message>
	<WL5G3N0:message name="getPingResponseMessage">
		<WL5G3N0:part element="WL5G3N1:getPingResponse" name="parameters" />
	</WL5G3N0:message>
	<WL5G3N0:portType name="SipfBVRPlus">
		<WL5G3N0:operation name="getBVRDemande">
			<WL5G3N0:input message="WL5G3N2:getBVRDemandeRequest" />
			<WL5G3N0:output message="WL5G3N2:getBVRReponseResponse" />
		</WL5G3N0:operation>
		<WL5G3N0:operation name="ping">
			<WL5G3N0:input message="WL5G3N2:getPingRequestMessage" />
			<WL5G3N0:output message="WL5G3N2:getPingResponseMessage" />
		</WL5G3N0:operation>
	</WL5G3N0:portType>
	<WL5G3N0:binding name="SipfBVRPlusSOAPBinding" type="WL5G3N2:SipfBVRPlus">
		<WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<WL5G3N0:operation name="getBVRDemande">
			<WL5G3N3:operation soapAction="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1/getBVRDemande" />
			<WL5G3N0:input>
				<WL5G3N3:body use="literal" />
			</WL5G3N0:input>
			<WL5G3N0:output>
				<WL5G3N3:body use="literal" />
			</WL5G3N0:output>
		</WL5G3N0:operation>
		<WL5G3N0:operation name="ping">
			<WL5G3N3:operation soapAction="http://www.vd.ch/service/sipf/wsdl/SipfBVRPlus-v1/ping" />
			<WL5G3N0:input>
				<WL5G3N3:body use="literal" />
			</WL5G3N0:input>
			<WL5G3N0:output>
				<WL5G3N3:body use="literal" />
			</WL5G3N0:output>
		</WL5G3N0:operation>
	</WL5G3N0:binding>
	<WL5G3N0:service name="SipfBVRPlus">
		<WL5G3N0:port binding="WL5G3N2:SipfBVRPlusSOAPBinding" name="SOAPOverHTTP">
			<WL5G3N3:address location="http://ssv0213v.etat-de-vaud.ch:50110/fiscalite/int-sipf/bvrplus/SipfBVRPlusImpl" />
		</WL5G3N0:port>
	</WL5G3N0:service>
</WL5G3N0:definitions>