jaxb2/events/src/main/resources/event/reqdes/creation-modification-contribuables-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.vd.ch/fiscalite/reqdes/creation-modification/1"
           xmlns:common="http://www.vd.ch/fiscalite/unireg/common/2" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/3"
           xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/4" xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011/5"
           xmlns:eCH-0006="http://www.ech.ch/xmlns/eCH-0006/2" xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007/4"
           targetNamespace="http://www.vd.ch/fiscalite/reqdes/creation-modification/1"
           elementFormDefault="qualified" attributeFormDefault="unqualified"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">

	<xs:import namespace="http://www.vd.ch/fiscalite/unireg/common/2" schemaLocation="http://ressources.etat-de-vaud.ch/fiscalite/registre/unireg-common-2.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/3" schemaLocation="http://www.ech.ch/xmlns/eCH-0044/3/eCH-0044-3-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0011/5" schemaLocation="http://www.ech.ch/xmlns/eCH-0011/5/eCH-0011-5-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0010/4/eCH-0010-4-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0007/4/eCH-0007-4-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0006/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0006/2/eCH-0006-2-0.xsd"/>

	<!-- Elément racine -->
	<xs:element name="creationModification" type="creationModificationType">

		<!-- on veut s'assurer que les parties prenantes sont toutes identifiées de manière unique -->
		<xs:key name="stakeholderId">
			<xs:selector xpath="stakeholder"/>
			<xs:field xpath="@id"/>
		</xs:key>

		<!-- il ne faut pas non plus que plusieurs parties prenantes distinctes soient issues du même contribuable -->
		<xs:unique name="partyNumberId">
			<xs:selector xpath="stakeholder/registryOrigin/fiscal"/>
			<xs:field xpath="@partyNumber"/>
		</xs:unique>

		<!-- les liens entre parties prenantes doivent référencer des parties prenantes existantes -->
		<xs:keyref name="stakeholderPartnerReference" refer="stakeholderId">
			<xs:selector xpath="stakeholder/maritalStatus/partner/stakeholder"/>
			<xs:field xpath="@stakeholderId"/>
		</xs:keyref>

		<!-- les liens des immeubles doivent référencer des parties prenantes existantes -->
		<xs:keyref name="subjectStakeholderReference" refer="stakeholderId">
			<xs:selector xpath="transaction/stakeholder"/>
			<xs:field xpath="@stakeholderId"/>
		</xs:keyref>

	</xs:element>

	<xs:simpleType name="stakeholderIdType">
		<xs:annotation>
			<xs:documentation>Identifiant de partie prenante dans l'acte.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Les parties prenantes et les immeubles -->
	<xs:complexType name="creationModificationType">
		<xs:sequence>
			<xs:element name="notarialDeed" type="notarialDeedType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Informations de base sur l'acte authentique.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="notarialInformation" type="notarialInformationType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Les données sur l'étude émettrice de l'acte.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" name="stakeholder" type="stakeholderType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Descriptions des parties prenantes.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" name="transaction" type="transactionType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Descriptions des objets de l'actes (i.e. les immeubles) et de leurs relations avec les parties prenantes.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="notarialDeedType">
		<xs:sequence>
			<xs:element name="referenceDate" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de référence de l'acte notarié.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dealNumber" type="dealNumberType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le numéro de minute de l'acte notarié.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="dealNumberType">
		<xs:annotation>
			<xs:documentation>Numéro de minute</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="notarialInformationType">
		<xs:sequence>
			<xs:element name="sollicitor" type="actorType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Identification du notaire lui-même.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="operator" type="actorType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Identification du l'opérateur ayant envoyé l'acte (absent si c'est le notaire lui-même).</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="actorType">
		<xs:sequence>
			<xs:element name="visa" type="visaType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Visa de connexion.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="eCH-0044:baseNameType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Nom de famille.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstName" type="eCH-0044:baseNameType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Prénom.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="visaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="registryOriginType">
		<xs:choice>
			<xs:element name="new">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Indique une personne physique dont les données ont été saisies sans références aux registres.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType/>
			</xs:element>
			<xs:element name="civil">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Indique une personne physique dont les données ont été saisies depuis une référence au registre civil.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType/>
			</xs:element>
			<xs:element name="fiscal" type="fiscalRegistryOriginType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Indique une personne physique dont les données ont été saisies depuis une référence existante dans le registre fiscal.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="fiscalRegistryOriginType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Donnée spécifique à une partie prenante récupérée depuis le registre fiscal.</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:attribute use="required" name="partyNumber" type="common:partyNumberType">
			<xs:annotation>
				<xs:appinfo>
					<jxb:property>
						<jxb:javadoc>Le numéro du contribuable récupéré depuis le registre fiscal.</jxb:javadoc>
					</jxb:property>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<!-- Partie prenante -->
	<xs:complexType name="stakeholderType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Données d'une partie prenante à l'acte.</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="registryOrigin" type="registryOriginType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La source des données avant éventuelle modification.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="identity" type="identityType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Les données d'identité de la personne physique.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="dateOfDeath" type="common:dateType">
					<xs:annotation>
						<xs:appinfo>
							<jxb:property>
								<jxb:javadoc>La date de décès de la personne.</jxb:javadoc>
							</jxb:property>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="maritalStatus" type="maritalStatusType">
					<xs:annotation>
						<xs:appinfo>
							<jxb:property>
								<jxb:javadoc>Les informations d'état civil de la personne.</jxb:javadoc>
							</jxb:property>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="nationality" type="nationalityType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Nationalité de la personne.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="residence" type="residenceType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Adresse de résidence de la personne.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute use="required" name="id" type="stakeholderIdType"/>
	</xs:complexType>

	<xs:complexType name="residenceType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>L'adresse de domicile de la personne.</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:element name="swissResidence" type="swissResidenceType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Adresse de résidence en Suisse.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="foreignCountryResidence" type="eCH-0010:addressInformationType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Adresse de résidence à l'étranger.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="swissResidenceType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Adresse de résidence en Suisse.</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="municipalityId" type="eCH-0007:municipalityIdType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Numéro OFS de la commune de domicile.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwellingAddress" type="eCH-0010:swissAddressInformationType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Adresse suisse de résidence.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="nationalityType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Nationalité de la personne.</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:element name="swiss" type="swissnessType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Indique une personne de nationalité suisse.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<xs:choice>
					<xs:element name="stateless">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Indique une personne apatride.</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
						<xs:complexType/>
					</xs:element>
					<xs:element name="foreignCountry" type="eCH-0010:countryType">
						<xs:annotation>
							<xs:appinfo>
								<jxb:property>
									<jxb:javadoc>Indique une personne de nationalité étrangère (code ISO-2 du pays).</jxb:javadoc>
								</jxb:property>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="residencePermit" type="eCH-0006:residencePermitType">
					<xs:annotation>
						<xs:appinfo>
							<jxb:property>
								<jxb:javadoc>Le type de permis de séjour de la personne non-suisse.</jxb:javadoc>
							</jxb:property>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="swissnessType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Indique une personne de nationalité suisse.</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="origin" type="eCH-0011:placeOfOriginType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le lieu d'origine d'une personne de nationalité suisse.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="identityType">
		<xs:sequence>
			<xs:element name="name" type="fullNameType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Nom de la personne.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="birthName" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le nom de famille à la naissance.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sex" type="eCH-0044:sexType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Sexe de la personne physique.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfBirth" type="common:partialDateType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>La date de naissance de la personne physique. Cette date peut être partielle, c'est-à-dire que les informations de jour et/ou de mois peuvent être inconnues.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="vn" type="eCH-0044:vnType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le NAVS13 de la personne.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="motherName" type="fullNameType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le nom officiel de la mère, si connu.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="fatherName" type="fullNameType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le nom officiel du père, si connu.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="fullNameType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:class>
					<jxb:javadoc>Les noms et prénoms officiels d'une personne physique.</jxb:javadoc>
				</jxb:class>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="officialName" type="eCH-0044:baseNameType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le nom de famille.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstNames" type="eCH-0044:officialFirstNameType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Les prénoms.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="maritalStatusType">
		<xs:sequence>
			<xs:element name="maritalStatus" type="eCH-0011:maritalStatusType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Caractère 1.6.1 du catalogue officiel des caractères vaudois.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="cancelationReason" type="eCH-0011:partnerShipAbolitionType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Caractère 1.6.5 du catalogue officiel des caractères vaudois. Obligatoire si le maritalStatus est à 7</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfMaritalStatus" type="common:dateType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Date de dernier changement d'état civil.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="separationDate" type="common:dateType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Sur les états civils "couple", indique que les conjoints sont séparés depuis cette date.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="partner" type="partnerType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Identification de l'éventuel partenaire.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="partnerType">
		<xs:choice>
			<xs:element name="name" type="fullNameType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Le nom du conjoint, si celui-ci n'est pas également partie prenante à l'acte.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="stakeholder" type="stakeholderReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>L'identifiant de partie prenante du conjoint, si celui-ci est également partie prenante à l'acte.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<!-- les données relatives aux transactions de l'acte -->
	<xs:complexType name="transactionType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Donnée d'une transaction de l'acte.</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="transactionDescriptionType">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Description/libellé de l'inscription.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="municipalityId" type="eCH-0007:municipalityIdType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Numéro OFS de la commune de situation de l'immeuble.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="stakeholder" type="stakeholderReferenceWithRoleType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property>
							<jxb:javadoc>Partie prenante pour l'immeuble.</jxb:javadoc>
						</jxb:property>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute use="required" name="inscriptionMode" type="inscriptionModeType"/>
		<xs:attribute use="required" name="inscriptionType" type="inscriptionTypeType"/>
	</xs:complexType>

	<xs:simpleType name="transactionDescriptionType">
		<xs:annotation>
			<xs:documentation>Description/libellé d'une transaction</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="inscriptionModeType">
		<xs:annotation>
			<xs:documentation>Mode d'inscription d'une transaction de l'acte.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="INSCRIPTION">
				<xs:annotation>
					<xs:documentation>Inscription.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MODIFICATION">
				<xs:annotation>
					<xs:documentation>Modification.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEREGISTRATION">
				<xs:annotation>
					<xs:documentation>Radiation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="inscriptionTypeType">
		<xs:annotation>
			<xs:documentation>Type d'inscription d'une transaction de l'acte</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="PROPERTY">
				<xs:annotation>
					<xs:documentation>Propriété.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EASEMENT">
				<xs:annotation>
					<xs:documentation>Servitude.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PROPERTY_RESPONSIBILITY">
				<xs:annotation>
					<xs:documentation>Charge foncière.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ANNOTATION">
				<xs:annotation>
					<xs:documentation>Annotation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stakeholderRoleType">
		<xs:annotation>
			<xs:documentation>Role de la partie prenante dans l'objet spécifié de l'acte.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="BUYER">
				<xs:annotation>
					<xs:documentation>Acquéreur.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DISPOSER">
				<xs:annotation>
					<xs:documentation>Aliénateur.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHER">
				<xs:annotation>
					<xs:documentation>Autre.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="stakeholderReferenceType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Référence vers une partie prenante.</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="stakeholderId" use="required" type="stakeholderIdType" />
	</xs:complexType>

	<xs:complexType name="stakeholderReferenceWithRoleType">
		<xs:annotation>
			<xs:appinfo>
				<jxb:property>
					<jxb:javadoc>Référence vers une partie prenante avec un rôle déterminé.</jxb:javadoc>
				</jxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="stakeholderReferenceType">
				<xs:attribute name="role" use="required" type="stakeholderRoleType" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
