unireg-xmlbeans/cedi/src/main/resources/xsd/cedi/Annexe03.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Liardet Etienne (Etat de Vaud) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by xciccd (Etat De Vaud) -->
<!-- Etat de Vaud, UID-DFIN, schéma TAO PP post -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--v2007.1.0 - 30.05.2007 : pour moteur 2007-2 - Création par copie du schéma 2005-->
	<!--v2007.1.1 - 11.6.2007 : Include DocIdentification (avant était inclu au niveau SDI.xsd)-->
	<xs:include schemaLocation="DocIdentification.xsd"/>
	<xs:complexType name="AnnexeImmeubleType">
		<xs:annotation>
			<xs:documentation>Schéma XSD d'annexe 03</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DocIdentificationType">
				<xs:sequence>
					<xs:element name="RenseignementGeneraux" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="DateAcquisition" type="DateType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id840</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="DateAlienation" type="DateType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id841</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PartPropriete" type="PartProprieteType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id811</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AnneeConstruction" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id831</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="NoRegistreFoncier" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id810</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="LieuSituation" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id812</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Canton" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id813</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Pays" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id814</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="NatureDestination" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id816</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ValeurImposable" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id820</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Preponderance" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id819</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Privee" type="xs:boolean" minOccurs="0"/>
											<xs:element name="Commerciale" type="xs:boolean" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="TypeLogement" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id817</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Principal" type="xs:boolean" minOccurs="0"/>
											<xs:element name="Secondaire" type="xs:boolean" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ValeurLocative" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="OccupationDepuis" type="DateType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id850</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Surface" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id852</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="SurfaceGlobale" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID849</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AnneeConstruct_Transformation" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id854</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="TypeHabitation" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id858</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ReductionEnvironnement" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id860</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ReductionConfort" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id861</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ValeurLocativeIFD" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id866</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ValeurLocativeICC" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id868</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ValeurLocativeICCEffective" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID874</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="RevenusImmobiliers" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Loyers" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id825</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ValeurLocativeLocauxComm" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id826</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AutresRendementsImmobiliers" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id827</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Passifs" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Interets" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id836</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Dette" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id837</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="FraisEntretien" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ForfaitSimplifie" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id829</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="EtatDetaille" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Entretien" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="dateFacture" type="DateType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id890</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="nature_MaitreEtat" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id891</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="montantFacture" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id892</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="plusValue" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id893</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="montantInvoque" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id894</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="PrimeAssuranceDommages" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id882</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PrimeAssuranceRC" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id881</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="TaxesOrduresEauxEtc" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id883</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Conciergerie_PartiesCommunes" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id884</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="FraisAdministration" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id885</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ImpotFoncier" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id886</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
