unireg-xmlbeans/cedi/src/main/resources/xsd/cedi/Annexe04.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Liardet Etienne (Etat de Vaud) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by xciccd (Etat De Vaud) -->
<!-- Etat de Vaud, UID-DFIN, schéma TAO PP post -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--v2007.1.0 - 30.05.2007 : pour moteur 2007-2 - Création par copie du schéma 2005-->
	<!--v2007.1.1 - 11.6.2007 : Include DocIdentification (avant était inclu au niveau SDI.xsd)-->
	<xs:include schemaLocation="DocIdentification.xsd"/>
	<xs:complexType name="FraisAcquisitionRevenuType">
		<xs:annotation>
			<xs:documentation>Schéma XSD de l'annexe 04</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DocIdentificationType">
				<xs:sequence>
					<xs:element name="Principal" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="DeductionsTransportRepas" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Deduction" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Du" type="DateType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id900</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Au" type="DateType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id901</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="NombreJours" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id902</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Domicile" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id903</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="LieuTravail" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id904</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="KmTransport" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id905</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="MoyenTransport" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id906</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="TP" type="xs:boolean" minOccurs="0"/>
																	<xs:element name="Velo" type="xs:boolean" minOccurs="0"/>
																	<xs:element name="Moto" type="xs:boolean" minOccurs="0"/>
																	<xs:element name="Voiture" type="xs:boolean" minOccurs="0"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="DeductionTransport" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id907</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="DeductionRepas" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id915</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="JustificationVehiculePrive" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID913</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="DeductionsResidence" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Deduction" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Libelle" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id920</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Deduction" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id921</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="AutresFrais" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="DeductionForfaitaire" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id924</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="DetailsAutresFrais" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="DetailAutreFrais" minOccurs="0" maxOccurs="unbounded">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Libelle" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id925</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="Deduction" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id926</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="InterruptionsTravail" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="InterruptionTravail" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Du" type="DateType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id927</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Au" type="DateType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id928</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Motif" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id929</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Epouse" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="DeductionsTransportRepas" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Deduction" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Du" type="DateType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id930</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Au" type="DateType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id931</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="NombreJours" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id932</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Domicile" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id933</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="LieuTravail" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id934</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="KmTransport" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id935</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="MoyenTransport" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id936</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="TP" type="xs:boolean" minOccurs="0"/>
																	<xs:element name="Velo" type="xs:boolean" minOccurs="0"/>
																	<xs:element name="Moto" type="xs:boolean" minOccurs="0"/>
																	<xs:element name="Voiture" type="xs:boolean" minOccurs="0"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="DeductionTransport" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id937</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="DeductionRepas" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id945</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="JustificationVehiculePrive" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID943</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="DeductionsResidence" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Deduction" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Libelle" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id950</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Deduction" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id951</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="AutresFrais" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="DeductionForfaitaire" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id954</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="DetailsAutresFrais" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="DetailAutreFrais" minOccurs="0" maxOccurs="unbounded">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Libelle" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id955</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="Deduction" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id956</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="InterruptionsTravail" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="InterruptionTravail" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Du" type="DateType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id957</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Au" type="DateType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id958</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Motif" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id959</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
