unireg-xmlbeans/cedi/src/main/resources/xsd/cedi/CS_AR_Harmonise2007.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Liardet Etienne (Etat de Vaud) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by xciccd (Etat De Vaud) -->
<!-- Etat de Vaud, UID-DFIN, schéma TAO PP post -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!--v2007.1.0 - 11.6.2007 : Création par copie du CS actuel-->
	<!--v2007.1.2 - 19.9.2007 : modif elements DateDu et DateAu : type = xs.string-->
	<!--v2007.1.3 - 31.10.2007 : ajout NomEmployeur, NPA_Employeur, LocaliteEmployeur-->
	<!--v2007.1.4 - 19.11.2007 : ajout noeud Person, similaire à celui dans le format Swissdec mais partiel; modification format NPA_Employeur-->
	<xs:include schemaLocation="DocIdentification.xsd"/>
	<xs:simpleType name="ZIP-CodeType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Format pour les NPA</xs:documentation>
			<xs:documentation xml:lang="fr">
				<translation>Code postal</translation>
				<description>
					<short>Code postal</short>
				</description>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CS_AR_Harmonise2007Type">
		<xs:annotation>
			<xs:documentation>Schéma XSD du certificat de salaire (CD) et attestation de rente (AR) harmonisé dans un seul formulaire ("NCS"), et utilisable dès 2007</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DocIdentificationType">
				<xs:sequence>
					<xs:element name="IsCS" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A; est un certificat de salaire; true si coché, false si vide</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IsAR" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>B; est une attestation de rente; true si coché, false si vide</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Person" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identification de l'employé ou du rentier, xpath analogues à ceux du format Swissdec du certificat employeur.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Particulars" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Lastname" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="de">nom de famille employé ou rentier</xs:documentation>
													<xs:documentation xml:lang="fr"/>
													<xs:documentation>
														<usage>all</usage>
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Firstname" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="de">prénom employé ou rentier</xs:documentation>
													<xs:documentation xml:lang="fr">
														<translation>Prénom</translation>
														<description>
															<short>
                                Prénom(s) de la personne
                            </short>
															<domain>
                                Prénom selon papier officiel (p.e. attestation d'assurance)
                            </domain>
														</description>
													</xs:documentation>
													<xs:documentation>
														<usage>all</usage>
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Address" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="ZIP-Code" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="de">No postal employé ou rentier</xs:documentation>
																<xs:documentation xml:lang="fr">
																	<translation>Code postal (CP)</translation>
																	<description>
																		<short>Code postal (5e ligne)</short>
																	</description>
																</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="ZIP-CodeType"/>
															</xs:simpleType>
														</xs:element>
														<xs:element name="City" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="de">Localité employé ou rentier</xs:documentation>
																<xs:documentation xml:lang="fr">
																	<translation>Lieu</translation>
																	<description>
																		<short>Lieu (5e ligne)</short>
																	</description>
																</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Identification" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="NoAVS" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID761; C</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="NA_AVS" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID4152; C</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Annee" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID4153; D</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="DateDu" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID4154; E</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="DateAu" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID4155; E</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="TransportGratuit" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID4156; F</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ChequesRepasouCantine" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID4157; G</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Adresse" minOccurs="0">
									<xs:annotation>
										<xs:documentation>H</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Ligne1" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4158</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Ligne2" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4159</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Ligne3" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4160</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Ligne4" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4161</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Ligne5" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4162</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Donnees" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="SalaireOuRente" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID4163; 1</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PrestSalAccessoires" minOccurs="0">
									<xs:annotation>
										<xs:documentation>2</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="PensionLogement" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4164; 2.1</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="PartPriveeVoitureService" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4165; 2.2</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Autres" minOccurs="0">
												<xs:annotation>
													<xs:documentation>2.3</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Montant" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>ID4166</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Genre" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>ID4167</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="PrestNonPeriodiques" minOccurs="0">
									<xs:annotation>
										<xs:documentation>3</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Genre" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4169</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Montant" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4168</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="PrestEnCapital" minOccurs="0">
									<xs:annotation>
										<xs:documentation>4</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Genre" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4171</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Montant" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4170</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="DroitsParticipation" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID4172; 5</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="IndemnitesAdministrateurs" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID4173; 6</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AutresPrestations" minOccurs="0">
									<xs:annotation>
										<xs:documentation>7</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Genre" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4175</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Montant" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4174</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="SalaireBrutTotalOuRente" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID4176; 8</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="CotisationsAVS_AI_APG_AC_AANP" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID4177; 9</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PrevoyanceProf2emePilier" minOccurs="0">
									<xs:annotation>
										<xs:documentation>10</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="CotisationsOrdinaire" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4178; 10.1</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="CotisationsRachat" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4179; 10.2</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="SalaireNetOuRente" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID4180; 11</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="RetenueImpotSource" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID4181; 12</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AllocPourFrais" minOccurs="0">
									<xs:annotation>
										<xs:documentation>13</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Effectifs" minOccurs="0">
												<xs:annotation>
													<xs:documentation>13.1</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="VoyagesRepasNuitees" minOccurs="0">
															<xs:annotation>
																<xs:documentation>13.1.1</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Flag" type="xs:boolean" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>ID4182</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="Montant" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>ID4183</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="Autres" minOccurs="0">
															<xs:annotation>
																<xs:documentation>13.1.2</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Genre" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>ID4184</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="Montant" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>ID4185</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Forfaitaires" minOccurs="0">
												<xs:annotation>
													<xs:documentation>13.2</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Representation" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>ID4186; 13.2.1</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Voiture" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>ID4187; 13.2.2</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Autres" minOccurs="0">
															<xs:annotation>
																<xs:documentation>13.2.3</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Genre" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>ID4188</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="Montant" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>ID4189</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Perfectionnement" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4190; 13.3</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="AutresPrestSalAccessoires" minOccurs="0">
									<xs:annotation>
										<xs:documentation>14</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Genre" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Ligne1" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>ID4191</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Ligne2" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>ID4192</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Observations" minOccurs="0">
									<xs:annotation>
										<xs:documentation>15</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Ligne1" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4193</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Ligne2" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4194</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="BasDePage" minOccurs="0">
						<xs:annotation>
							<xs:documentation>I</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="LieuEtDate" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID4195</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Signature" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>plus utilisé par TAO</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="NomEmployeur" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>recyclage ID4196, précédemment "Signature" </xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="NPA_Employeur" type="ZIP-CodeType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>pas utilisé par TAO</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="LocaliteEmployeur" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>pas utilisé par TAO</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Annexe" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID4197</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
