unireg-xmlbeans/cedi/src/main/resources/xsd/cedi/DeclarationImpot.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2008 rel. 2 sp1 (http://www.altova.com) by Etat de Vaud - CADEV (Etat de Vaud - CADEV) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by xciccd (Etat De Vaud) -->
<!-- Etat de Vaud, UID-DFIN, schéma TAO PP post -->
<!-- Etat de Vaud, UID-DFIN, schéma TAO PP post -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!--v2007.1.0 - 30.05.2007 : pour moteur 2007-2 - Création par copie du schéma 2005-->
	<!--v2007.1.1 - 30.05.2007 : Include DocIdentification (avant était inclu au niveau SDI.xsd)-->
	<!--v2007.1.1 - 11.6.2007 : Ajout-modifications selon dossier "Taxation 2007-2"-->
	<!--v2007-1-3 - 31.10.2007 : Modification label PensionsAlimentaires/Recues/Recue/Beneficiaire en ID497-->
	<!--v2008-1-4 - 19.06.2008 : Ajouté élement ExcluTaxationAutomatique; TotalNet/DeductionFamille et PrestationsCapitalCaisse/BeneficeLiquidation-->
	<!--v2008-1-5 - 24.09.2008 :  élement ExcluTaxationAutomatique devient obligatoire-->
	<!--v2009-1-1 - 03.07.2009: commenté les éléments Identification/Contribuable/NoAVS et Identification/Epouse/NoAVS, car ces champs ne seront plus alimenté par la DI, dès la DI 2009; Aucune de modification effective.-->
	<xs:include schemaLocation="DocIdentification.xsd"/>
	<xs:complexType name="PagesType">
		<xs:sequence>
			<xs:element name="PageNumerisee" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="id" type="xs:int" use="required"/>
					<xs:attribute name="nomFichier" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeclarationImpotType">
		<xs:annotation>
			<xs:documentation>Schéma XSD de la DI</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DocIdentificationType">
				<xs:sequence>
					<xs:element name="Identification" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="EnteteAnnotee" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id17; plus sur la DI 2006 ni 2007</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="CoordonneesMandataire" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="AdresseLigne1" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID2032</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="AdresseLigne2" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID2024</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="AdresseLigne3" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID2025</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="AdresseLigne4" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID2026</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="AdresseLigne5" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID2031</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="AdresseLigne6" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID2027</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="TelephoneContact" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID2100</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="CoordonneesContribuable" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="TelephoneContact" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID320; plus sur la DI 2007 car sera dans Registre.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="NoTelPortable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4140</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="AdresseMail" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4147; pas sur la DI, mais dans VaudTax</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="CodeIBAN" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4141</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="TitulaireCompte" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4142</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="EtatCivil" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id312: plus sur DI 2007 car sera dans Registre</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Celibataire" type="xs:boolean" minOccurs="0"/>
											<xs:element name="Marie" type="xs:boolean" minOccurs="0"/>
											<xs:element name="Separe" type="xs:boolean" minOccurs="0"/>
											<xs:element name="Veuf" type="xs:boolean" minOccurs="0"/>
											<xs:element name="Divorce" type="xs:boolean" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="GenreContribuable" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID4001; plus sur DI 2007 car sera dans Registre</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Madame" type="xs:boolean" minOccurs="0"/>
											<xs:element name="Monsieur" type="xs:boolean" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Contribuable" minOccurs="0">
									<xs:annotation>
										<xs:documentation>devient ctb1 sur DI 2007</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="DateNaissance" type="DateType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID319; plus sur DI 2007 car sera dans Registre</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Filiation" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID324; plus sur DI 2007 car sera dans Registre</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="TauxActivite" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4006</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="SituationProfessionnelle" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4004</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Salarie" type="xs:boolean" minOccurs="0"/>
														<xs:element name="Independant" type="xs:boolean" minOccurs="0"/>
														<xs:element name="Sans" type="xs:boolean" minOccurs="0"/>
														<xs:element name="Etudiant" type="xs:boolean" minOccurs="0"/>
														<xs:element name="Retraite" type="xs:boolean" minOccurs="0"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Profession" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID314; réhexumé en DI 2007</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="LieuActivite" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id316</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="NoAVS" type="AVSType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id313; ce champ n'est plus disponible dans la DI, à partir de la DI 2009</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Epouse" minOccurs="0">
									<xs:annotation>
										<xs:documentation>devient ctb2 sur DI 2007</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Nom" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID63; plus sur DI 2007 car sera dans Registre</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Prenom" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4003; plus sur DI 2007 car sera dans Registre</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="DateNaissance" type="DateType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id326; plus sur DI 2007 car sera dans Registre</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Filiation" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID325; plus sur DI 2007 car sera dans Registre</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="TauxActivite" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4007</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="SituationProfessionnelle" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4005</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Salarie" type="xs:boolean" minOccurs="0"/>
														<xs:element name="Independant" type="xs:boolean" minOccurs="0"/>
														<xs:element name="Sans" type="xs:boolean" minOccurs="0"/>
														<xs:element name="Etudiant" type="xs:boolean" minOccurs="0"/>
														<xs:element name="Retraite" type="xs:boolean" minOccurs="0"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Profession" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID327; réhexumé en DI 2007</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="LieuActivite" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id329</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="NoAVS" type="AVSType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id330; ce champ n'est plus disponible dans la DI, à partir de la DI 2009</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="PersonnesACharge" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Enfants" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Enfant" minOccurs="0" maxOccurs="unbounded">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="MenageCommun" type="xs:boolean" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id340</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="PasMenageCommun" type="xs:boolean" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>ID335</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="Prenom" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id331</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="Nom" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id351</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="DateNaissance" type="DateType" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id332</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="Activite" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>ID4002</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="Ecolier" type="xs:boolean" minOccurs="0"/>
																				<xs:element name="Employe" type="xs:boolean" minOccurs="0"/>
																				<xs:element name="Autre" type="xs:boolean" minOccurs="0"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="GainMensuel" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id336</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="MenageSeul" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id339</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Oui" type="xs:boolean" minOccurs="0"/>
														<xs:element name="Non" type="xs:boolean" minOccurs="0"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="AutrePersonnes" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="AutrePersonne" minOccurs="0" maxOccurs="unbounded">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="MenageCommun" type="xs:boolean" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id349</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="PasMenageCommun" type="xs:boolean" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id349</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="Prenom" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id380</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="Nom" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id343</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="AnneeNaissance" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id344</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="LienParente" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>ID354</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="ParentEnfant" type="xs:boolean" minOccurs="0"/>
																				<xs:element name="AutreLien" type="xs:boolean" minOccurs="0"/>
																				<xs:element name="AucunLien" type="xs:boolean" minOccurs="0"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="Domicile" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>ID353</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="VD" type="xs:boolean" minOccurs="0"/>
																				<xs:element name="CH" type="xs:boolean" minOccurs="0"/>
																				<xs:element name="Etranger" type="xs:boolean" minOccurs="0"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="PrestationAnnuelle" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id347</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ActiviteSalariee" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Revenu" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Principal" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Contribuable" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id1</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Epouse" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id32</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Accessoire" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Contribuable" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id2</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Epouse" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id33</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Allocations" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Contribuable" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id3</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Epouse" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id34</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="AdministrateurPM" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Contribuable" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id4</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Epouse" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id35</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Frais" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Transport" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Contribuable" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id5</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Epouse" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id36</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Repas" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Contribuable" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id6</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Epouse" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id37</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Autres" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Contribuable" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id7</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Epouse" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id38</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="ActiviteAccessoire" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Contribuable" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id8</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Epouse" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id39</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ActiviteIndependante" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Principale" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id9</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id40</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="CA" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id4145</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Accessoire" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id10</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id41</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="CA" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4146</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="PerteCommerciale" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id11</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id42</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="SNC_Commandite" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="RaisonSociale" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id12</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id13</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id44</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="CotisationsAVS" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id14</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id15</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="AutreRevenu" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Contribuable" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID66</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Epouse" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID67</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="IndemnitePG" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AC_APG" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id18</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id47</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Maladie_Accident" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id19</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id48</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="AI" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id20</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id49</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="TotalRevenusActivite" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id16</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id45</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="DeductionDoubleActivite" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id46</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="RentesPensions" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Pilier_1" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id21</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id50</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Pilier_2" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id22</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id51</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Pilier_3A" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id23</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id52</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Pilier_3B" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id24</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id53</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="PensionAlimentaire" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id25</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id54</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Assurances" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Maladie_Accident_Vie" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id26</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="PrevoyanceIndividuelle" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id27</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id56</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="RachatAnnees" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id28</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id57</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="CotisationIndependant" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id29</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id58</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="AutresCotisations" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id30</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id59</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="TotalRevenus" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ContribuableConjoint" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id31</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Epouse" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id60</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Cumul" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contribuable" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id61</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="ParticipationConjoint" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id64</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Oui" type="xs:boolean" minOccurs="0"/>
											<xs:element name="Non" type="xs:boolean" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="TitresFortune" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Loterie" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id102</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Fortune" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id110</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Monnaie_Metaux" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Fortune" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id103</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Successions" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id111</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Fortune" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id104</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Valeurs_Collections" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Fortune" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id105</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Assurances" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Fortune" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id106</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Mobilier" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Fortune" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id108</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="DemiValeurAssurance" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id107</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Autres" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id112</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Fortune" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id109</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="ExploitantsSol" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Animaux" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id171</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="MaterielExploitation" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id172</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Fortune" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id113</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="SNC_Commandite" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Fortune" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id114</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="ActifsExploitation" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Fortune" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id115</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="InteretEpargne" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id116</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="FraisAdministration" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID122</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="MiseLoterie" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id117</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ImmeublesTerrains" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ImmeublesPrives" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id118</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Fortune" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id119</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="ImmeublesCommerciaux" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Fortune" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id121</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="SousLocation" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id124</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Entretien" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id126</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="DettesInterets" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Prives" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id129</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Fortune" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id128</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Commerciaux" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Fortune" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id130</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="DeductionSpeciales" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RentesCharges" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id132</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Pensionalimentaire" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id133</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="CotisationsSociales" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id134</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Net" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id135</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Logement" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id136</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Loyer" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id137</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="FraisGarde" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id138</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="PersonneACharge" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id139</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Difference" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id140</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="ContribuableModeste" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id142</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="TotalNet" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RevenuFortune" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id143</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Fortune" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id144</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="FraisMedicaux" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id145</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Liberalites" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id146</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="DeductionFamille" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID4230</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="SousTotal" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id147</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="TotalImposable" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RevenuFortune" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id148</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Fortune" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id149</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="NombreParts" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id322</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Determinant" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Revenu" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id151</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="PensionsAlimentaires" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Recues" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Recue" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Beneficiaire" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id497</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:all>
																	<xs:element name="Monsieur" type="xs:boolean" minOccurs="0"/>
																	<xs:element name="Madame" type="xs:boolean" minOccurs="0"/>
																</xs:all>
															</xs:complexType>
														</xs:element>
														<xs:element name="RecueDe" minOccurs="0">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Nom" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id506</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="Prenom" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id507</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="Adresse" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id508</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="Domicile" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id509</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="Montant" type="xs:string" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>id510</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Versees" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="VerseeA" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Nom" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id500</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Prenom" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id501</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Adresse" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id502</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Domicile" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id503</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Montant" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>id504</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="PrestationsCapitalCaisse" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Montant" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id512</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Pilier1" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id513</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="LPP" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id513</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Pilier3A" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id513</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Pilier3B" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id513</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Autre" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id513</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="BeneficeLiquidation" type="xs:boolean" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID513</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="PrestationsCapitalRemplacement" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Prestation" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Genre" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id516</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Montant" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id517</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="AutresRevenus" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AutreRevenu" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Genre" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID522</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Montant" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id521</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="RevenusImposablesAutreEtat" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Revenu" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Genre" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4011</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Montant" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID4010</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Donations" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Donation" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id530</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Oui" type="xs:boolean" minOccurs="0"/>
											<xs:element name="Non" type="xs:boolean" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="AvanceHoirie" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id531</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Oui" type="xs:boolean" minOccurs="0"/>
											<xs:element name="Non" type="xs:boolean" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="SuccessionNonPartagee" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id537</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Oui" type="xs:boolean" minOccurs="0"/>
											<xs:element name="Non" type="xs:boolean" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="BiensHerites" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id538</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Oui" type="xs:boolean" minOccurs="0"/>
											<xs:element name="Non" type="xs:boolean" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="JustificationEcarts" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>id529</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RentesLPP" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Monsieur" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Apres_31_12_86" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id527</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Oui" type="xs:boolean" minOccurs="0"/>
														<xs:element name="Non" type="xs:boolean" minOccurs="0"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="DatePremiereRente" type="DateType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id528</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Madame" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Apres_31_12_86" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id524</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Oui" type="xs:boolean" minOccurs="0"/>
														<xs:element name="Non" type="xs:boolean" minOccurs="0"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="DatePremiereRente" type="DateType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>id526</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="CotisationsLPP" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Monsieur" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id539</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Oui" type="xs:boolean" minOccurs="0"/>
											<xs:element name="Non" type="xs:boolean" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Madame" minOccurs="0">
									<xs:annotation>
										<xs:documentation>id540</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Oui" type="xs:boolean" minOccurs="0"/>
											<xs:element name="Non" type="xs:boolean" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Signature" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>id318</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExcluTaxationAutomatique" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>ID534</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
