unireg-wsclient-tiers1/src/main/resources/TiersService1.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- version 1.0 -->
<wsdl:definitions name="TiersService" targetNamespace="http://www.vd.ch/uniregctb/webservices/tiers" xmlns:ns1="http://cxf.apache.org/bindings/xformat"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vd.ch/uniregctb/webservices/tiers" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.vd.ch/uniregctb/webservices/tiers"
				   xmlns:tns="http://www.vd.ch/uniregctb/webservices/tiers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="GetTiersPeriode">
				<xs:sequence>
					<xs:element name="login" type="tns:UserLogin" />
					<xs:element name="tiersNumber" type="xs:long" />
					<xs:element name="periode" type="xs:int" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parts" type="tns:TiersPart" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="UserLogin">
				<xs:sequence>
					<xs:element name="userId" type="xs:string" />
					<xs:element name="oid" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType abstract="true" name="TiersHisto">
				<xs:sequence>
					<xs:element name="numero" type="xs:long" />
					<xs:element minOccurs="0" name="complementNom" type="xs:string" />
					<xs:element minOccurs="0" name="dateDebutActivite" type="tns:Date" />
					<xs:element minOccurs="0" name="dateFinActivite" type="tns:Date" />
					<xs:element minOccurs="0" name="dateAnnulation" type="tns:Date" />
					<xs:element minOccurs="0" name="personneContact" type="xs:string" />
					<xs:element minOccurs="0" name="numeroTelPrive" type="xs:string" />
					<xs:element minOccurs="0" name="numeroTelProf" type="xs:string" />
					<xs:element minOccurs="0" name="numeroTelPortable" type="xs:string" />
					<xs:element minOccurs="0" name="numeroTelecopie" type="xs:string" />
					<xs:element minOccurs="0" name="adresseCourrierElectronique" type="xs:string" />
					<xs:element name="blocageRemboursementAutomatique" type="xs:boolean" />
					<xs:element name="isDebiteurInactif" type="xs:boolean" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="adressesCourrier" type="tns:Adresse" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="adressesPoursuite" type="tns:Adresse" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="adressesRepresentation" type="tns:Adresse" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="adressesDomicile" type="tns:Adresse" />
					<xs:element minOccurs="0" name="adresseEnvoi" type="tns:AdresseEnvoi" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="rapportsEntreTiers" type="tns:RapportEntreTiers" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="forsFiscauxPrincipaux" type="tns:ForFiscal" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="autresForsFiscaux" type="tns:ForFiscal" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="forsGestions" type="tns:ForGestion" />
					<xs:choice maxOccurs="unbounded" minOccurs="0">
						<xs:element name="di" type="tns:DeclarationImpotOrdinaire" />
						<xs:element name="lr" type="tns:DeclarationImpotSource" />
					</xs:choice>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="comptesBancaires" type="tns:CompteBancaire" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Date">
				<xs:sequence>
					<xs:element name="year" type="xs:int" />
					<xs:element name="month" type="xs:int" />
					<xs:element name="day" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Adresse">
				<xs:sequence>
					<xs:element minOccurs="0" name="dateDebut" type="tns:Date" />
					<xs:element minOccurs="0" name="dateFin" type="tns:Date" />
					<xs:element minOccurs="0" name="titre" type="xs:string" />
					<xs:element minOccurs="0" name="numeroAppartement" type="xs:string" />
					<xs:element minOccurs="0" name="rue" type="xs:string" />
					<xs:element minOccurs="0" name="numeroRue" type="xs:string" />
					<xs:element minOccurs="0" name="casePostale" type="xs:string" />
					<xs:element name="localite" type="xs:string" />
					<xs:element name="numeroPostal" type="xs:string" />
					<xs:element minOccurs="0" name="pays" type="xs:string" />
					<xs:element name="noOrdrePostal" type="xs:int" />
					<xs:element minOccurs="0" name="noRue" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="AdresseEnvoi">
				<xs:sequence>
					<xs:element name="ligne1" type="xs:string" />
					<xs:element name="ligne2" type="xs:string" />
					<xs:element name="ligne3" type="xs:string" />
					<xs:element name="ligne4" type="xs:string" />
					<xs:element minOccurs="0" name="ligne5" type="xs:string" />
					<xs:element minOccurs="0" name="ligne6" type="xs:string" />
					<xs:element name="isSuisse" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RapportEntreTiers">
				<xs:sequence>
					<xs:element name="type" type="tns:TypeRapportEntreTiers" />
					<xs:element name="dateDebut" type="tns:Date" />
					<xs:element minOccurs="0" name="dateFin" type="tns:Date" />
					<xs:element minOccurs="0" name="dateAnnulation" type="tns:Date" />
					<xs:element name="autreTiersNumero" type="xs:long" />
					<xs:element minOccurs="0" name="typeActivite" type="tns:TypeActivite" />
					<xs:element minOccurs="0" name="tauxActivite" type="xs:int" />
					<xs:element minOccurs="0" name="finDernierElementImposable" type="tns:Date" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ForFiscal">
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element name="dateOuverture" type="tns:Date" />
					<xs:element minOccurs="0" name="dateFermeture" type="tns:Date" />
					<xs:element minOccurs="0" name="dateAnnulation" type="tns:Date" />
					<xs:element name="genreImpot" type="tns:GenreImpot" />
					<xs:element name="typeAutoriteFiscale" type="tns:TypeAutoriteFiscale" />
					<xs:element name="noOfsAutoriteFiscale" type="xs:int" />
					<xs:element minOccurs="0" name="motifRattachement" type="tns:MotifRattachement" />
					<xs:element minOccurs="0" name="motifOuverture" type="tns:MotifFor" />
					<xs:element minOccurs="0" name="motifFermeture" type="tns:MotifFor" />
					<xs:element minOccurs="0" name="modeImposition" type="tns:ModeImposition" />
					<xs:element name="nomCommune" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ForGestion">
				<xs:sequence>
					<xs:element minOccurs="0" name="dateDebut" type="tns:Date" />
					<xs:element minOccurs="0" name="dateFin" type="tns:Date" />
					<xs:element name="noOfsCommune" type="xs:int" />
					<xs:element name="nomCommune" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DeclarationImpotOrdinaire">
				<xs:complexContent>
					<xs:extension base="tns:Declaration">
						<xs:sequence>
							<xs:element name="numero" type="xs:long" />
							<xs:element name="typeDocument" type="tns:TypeDocument" />
							<xs:element name="numeroOfsForGestion" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="Declaration">
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element name="dateDebut" type="tns:Date" />
					<xs:element minOccurs="0" name="dateFin" type="tns:Date" />
					<xs:element name="annulee" type="xs:boolean" />
					<xs:element minOccurs="0" name="dateAnnulation" type="tns:Date" />
					<xs:element name="periodesFiscale" type="tns:PeriodeFiscale" />
					<xs:element maxOccurs="unbounded" name="delais" type="tns:DelaiDeclaration" />
					<xs:element maxOccurs="unbounded" name="etats" type="tns:EtatDeclaration" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PeriodeFiscale">
				<xs:sequence>
					<xs:element name="annee" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DelaiDeclaration">
				<xs:sequence>
					<xs:element name="dateDemande" type="tns:Date" />
					<xs:element name="dateTraitement" type="tns:Date" />
					<xs:element minOccurs="0" name="dateAnnulation" type="tns:Date" />
					<xs:element name="delaiAccordeAu" type="tns:Date" />
					<xs:element name="confirmationEcrite" type="xs:boolean" />
					<xs:element name="annule" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="EtatDeclaration">
				<xs:sequence>
					<xs:element name="etat" type="tns:TypeEtatDeclaration" />
					<xs:element name="dateObtention" type="tns:Date" />
					<xs:element name="annule" type="xs:boolean" />
					<xs:element minOccurs="0" name="dateAnnulation" type="tns:Date" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DeclarationImpotSource">
				<xs:complexContent>
					<xs:extension base="tns:Declaration">
						<xs:sequence>
							<xs:element name="periodicite" type="tns:PeriodiciteDecompte" />
							<xs:element name="modeCommunication" type="tns:ModeCommunication" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="CompteBancaire">
				<xs:sequence>
					<xs:element minOccurs="0" name="titulaire" type="xs:string" />
					<xs:element name="numero" type="xs:string" />
					<xs:element name="format" type="tns:FormatNumeroCompte" />
					<xs:element minOccurs="0" name="clearing" type="xs:string" />
					<xs:element minOccurs="0" name="adresseBicSwift" type="xs:string" />
					<xs:element minOccurs="0" name="nomInstitution" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GetTiersHisto">
				<xs:sequence>
					<xs:element name="login" type="tns:UserLogin" />
					<xs:element name="tiersNumber" type="xs:long" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parts" type="tns:TiersPart" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SetTiersBlocRembAuto">
				<xs:sequence>
					<xs:element name="login" type="tns:UserLogin" />
					<xs:element name="tiersNumber" type="xs:long" />
					<xs:element name="blocage" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GetTiers">
				<xs:sequence>
					<xs:element name="login" type="tns:UserLogin" />
					<xs:element name="tiersNumber" type="xs:long" />
					<xs:element name="date" type="tns:Date" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parts" type="tns:TiersPart" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType abstract="true" name="Tiers">
				<xs:sequence>
					<xs:element name="numero" type="xs:long" />
					<xs:element minOccurs="0" name="complementNom" type="xs:string" />
					<xs:element minOccurs="0" name="dateDebutActivite" type="tns:Date" />
					<xs:element minOccurs="0" name="dateFinActivite" type="tns:Date" />
					<xs:element minOccurs="0" name="dateAnnulation" type="tns:Date" />
					<xs:element minOccurs="0" name="personneContact" type="xs:string" />
					<xs:element minOccurs="0" name="numeroTelPrive" type="xs:string" />
					<xs:element minOccurs="0" name="numeroTelProf" type="xs:string" />
					<xs:element minOccurs="0" name="numeroTelPortable" type="xs:string" />
					<xs:element minOccurs="0" name="numeroTelecopie" type="xs:string" />
					<xs:element minOccurs="0" name="adresseCourrierElectronique" type="xs:string" />
					<xs:element name="blocageRemboursementAutomatique" type="xs:boolean" />
					<xs:element name="isDebiteurInactif" type="xs:boolean" />
					<xs:element minOccurs="0" name="adresseCourrier" type="tns:Adresse" />
					<xs:element minOccurs="0" name="adressePoursuite" type="tns:Adresse" />
					<xs:element minOccurs="0" name="adresseRepresentation" type="tns:Adresse" />
					<xs:element minOccurs="0" name="adresseDomicile" type="tns:Adresse" />
					<xs:element minOccurs="0" name="adresseEnvoi" type="tns:AdresseEnvoi" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="rapportsEntreTiers" type="tns:RapportEntreTiers" />
					<xs:element minOccurs="0" name="forFiscalPrincipal" type="tns:ForFiscal" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="autresForsFiscaux" type="tns:ForFiscal" />
					<xs:element minOccurs="0" name="forGestion" type="tns:ForGestion" />
					<xs:element minOccurs="0" name="declaration" type="tns:Declaration" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="comptesBancaires" type="tns:CompteBancaire" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="AllConcreteTiersClasses">
				<xs:sequence>
					<xs:element minOccurs="0" name="pp" type="tns:PersonnePhysique" />
					<xs:element minOccurs="0" name="pp_histo" type="tns:PersonnePhysiqueHisto" />
					<xs:element minOccurs="0" name="deb" type="tns:Debiteur" />
					<xs:element minOccurs="0" name="deb_histo" type="tns:DebiteurHisto" />
					<xs:element minOccurs="0" name="mc" type="tns:MenageCommun" />
					<xs:element minOccurs="0" name="mc_histo" type="tns:MenageCommunHisto" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PersonnePhysique">
				<xs:complexContent>
					<xs:extension base="tns:Contribuable">
						<xs:sequence>
							<xs:element name="nom" type="xs:string" />
							<xs:element minOccurs="0" name="prenom" type="xs:string" />
							<xs:element minOccurs="0" name="dateNaissance" type="tns:Date" />
							<xs:element minOccurs="0" name="sexe" type="tns:Sexe" />
							<xs:element minOccurs="0" name="dateDeces" type="tns:Date" />
							<xs:element minOccurs="0" name="ancienNumeroAssureSocial" type="xs:string" />
							<xs:element minOccurs="0" name="nouveauNumeroAssureSocial" type="xs:string" />
							<xs:element minOccurs="0" name="dateArrivee" type="tns:Date" />
							<xs:element name="categorie" type="tns:Categorie" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType abstract="true" name="Contribuable">
				<xs:complexContent>
					<xs:extension base="tns:Tiers">
						<xs:sequence>
							<xs:element minOccurs="0" name="situationFamille" type="tns:SituationFamille" />
							<xs:element minOccurs="0" name="assujettissement" type="tns:Assujettissement" />
							<xs:element minOccurs="0" name="periodeImposition" type="tns:PeriodeImposition" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="SituationFamille">
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element name="dateDebut" type="tns:Date" />
					<xs:element minOccurs="0" name="dateFin" type="tns:Date" />
					<xs:element minOccurs="0" name="dateAnnulation" type="tns:Date" />
					<xs:element name="etatCivil" type="tns:EtatCivil" />
					<xs:element minOccurs="0" name="nombreEnfants" type="xs:int" />
					<xs:element minOccurs="0" name="tarifApplicable" type="tns:TarifImpotSource" />
					<xs:element minOccurs="0" name="numeroContribuablePrincipal" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Assujettissement">
				<xs:sequence>
					<xs:element name="dateDebut" type="tns:Date" />
					<xs:element name="dateFin" type="tns:Date" />
					<xs:element name="LIC" type="tns:TypeAssujettissement" />
					<xs:element name="LIFD" type="tns:TypeAssujettissement" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PeriodeImposition">
				<xs:sequence>
					<xs:element name="dateDebut" type="tns:Date" />
					<xs:element name="dateFin" type="tns:Date" />
					<xs:element minOccurs="0" name="idDI" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PersonnePhysiqueHisto">
				<xs:complexContent>
					<xs:extension base="tns:ContribuableHisto">
						<xs:sequence>
							<xs:element name="nom" type="xs:string" />
							<xs:element minOccurs="0" name="prenom" type="xs:string" />
							<xs:element minOccurs="0" name="dateNaissance" type="tns:Date" />
							<xs:element minOccurs="0" name="sexe" type="tns:Sexe" />
							<xs:element minOccurs="0" name="dateDeces" type="tns:Date" />
							<xs:element minOccurs="0" name="ancienNumeroAssureSocial" type="xs:string" />
							<xs:element minOccurs="0" name="nouveauNumeroAssureSocial" type="xs:string" />
							<xs:element minOccurs="0" name="dateArrivee" type="tns:Date" />
							<xs:element name="categorie" type="tns:Categorie" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType abstract="true" name="ContribuableHisto">
				<xs:complexContent>
					<xs:extension base="tns:TiersHisto">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="situationsFamille" type="tns:SituationFamille" />
							<xs:element maxOccurs="unbounded" minOccurs="0" name="assujettissements" type="tns:Assujettissement" />
							<xs:element maxOccurs="unbounded" minOccurs="0" name="periodesImposition" type="tns:PeriodeImposition" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="Debiteur">
				<xs:complexContent>
					<xs:extension base="tns:Tiers">
						<xs:sequence>
							<xs:element name="raisonSociale" type="xs:string" />
							<xs:element name="categorie" type="tns:CategorieDebiteur" />
							<xs:element name="periodiciteDecompte" type="tns:PeriodiciteDecompte" />
							<xs:element minOccurs="0" name="periodeDecompte" type="tns:PeriodeDecompte" />
							<xs:element name="modeCommunication" type="tns:ModeCommunication" />
							<xs:element name="sansRappel" type="xs:boolean" />
							<xs:element name="sansListRecapitulative" type="xs:boolean" />
							<xs:element minOccurs="0" name="contribuableAssocie" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="DebiteurHisto">
				<xs:complexContent>
					<xs:extension base="tns:TiersHisto">
						<xs:sequence>
							<xs:element name="raisonSociale" type="xs:string" />
							<xs:element name="categorie" type="tns:CategorieDebiteur" />
							<xs:element name="periodiciteDecompte" type="tns:PeriodiciteDecompte" />
							<xs:element minOccurs="0" name="periodeDecompte" type="tns:PeriodeDecompte" />
							<xs:element name="modeCommunication" type="tns:ModeCommunication" />
							<xs:element name="sansRappel" type="xs:boolean" />
							<xs:element name="sansListRecapitulative" type="xs:boolean" />
							<xs:element minOccurs="0" name="contribuableAssocie" type="xs:long" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="MenageCommun">
				<xs:complexContent>
					<xs:extension base="tns:Contribuable">
						<xs:sequence>
							<xs:element minOccurs="0" name="contribuablePrincipal" type="tns:PersonnePhysique" />
							<xs:element minOccurs="0" name="contribuableSecondaire" type="tns:PersonnePhysique" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="MenageCommunHisto">
				<xs:complexContent>
					<xs:extension base="tns:ContribuableHisto">
						<xs:sequence>
							<xs:element minOccurs="0" name="contribuablePrincipal" type="tns:PersonnePhysiqueHisto" />
							<xs:element minOccurs="0" name="contribuableSecondaire" type="tns:PersonnePhysiqueHisto" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetTiersType">
				<xs:sequence>
					<xs:element name="login" type="tns:UserLogin" />
					<xs:element name="tiersNumber" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SearchTiers">
				<xs:sequence>
					<xs:element name="login" type="tns:UserLogin" />
					<xs:element minOccurs="0" name="numero" type="xs:string" />
					<xs:element minOccurs="0" name="nomCourrier" type="xs:string" />
					<xs:element minOccurs="0" name="localiteOuPays" type="xs:string" />
					<xs:element minOccurs="0" name="dateNaissance" type="tns:Date" />
					<xs:element minOccurs="0" name="numeroAVS" type="xs:string" />
					<xs:element minOccurs="0" name="noOfsFor" type="xs:int" />
					<xs:element minOccurs="0" name="forPrincipalActif" type="xs:boolean" />
					<xs:element minOccurs="0" name="typeRecherche" type="tns:TypeRecherche" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="TiersInfo">
				<xs:sequence>
					<xs:element name="numero" type="xs:long" />
					<xs:element minOccurs="0" name="nom1" type="xs:string" />
					<xs:element minOccurs="0" name="nom2" type="xs:string" />
					<xs:element minOccurs="0" name="dateNaissance" type="xs:string" />
					<xs:element minOccurs="0" name="rue" type="xs:string" />
					<xs:element minOccurs="0" name="npa" type="xs:string" />
					<xs:element minOccurs="0" name="localite" type="xs:string" />
					<xs:element minOccurs="0" name="pays" type="xs:string" />
					<xs:element minOccurs="0" name="type" type="tns:TypeTiers" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="TiersPart">
				<xs:restriction base="xs:string">
					<xs:enumeration value="ADRESSES" />
					<xs:enumeration value="ADRESSES_ENVOI" />
					<xs:enumeration value="FORS_FISCAUX" />
					<xs:enumeration value="FORS_GESTION" />
					<xs:enumeration value="COMPOSANTS_MENAGE" />
					<xs:enumeration value="ASSUJETTISSEMENTS" />
					<xs:enumeration value="PERIODE_IMPOSITION" />
					<xs:enumeration value="RAPPORTS_ENTRE_TIERS" />
					<xs:enumeration value="SITUATIONS_FAMILLE" />
					<xs:enumeration value="DECLARATIONS" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeRapportEntreTiers">
				<xs:restriction base="xs:string">
					<xs:enumeration value="TUTELLE" />
					<xs:enumeration value="CURATELLE" />
					<xs:enumeration value="CONSEIL_LEGAL" />
					<xs:enumeration value="PRESTATION_IMPOSABLE" />
					<xs:enumeration value="APPARTENANCE_MENAGE" />
					<xs:enumeration value="REPRESENTATION" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeActivite">
				<xs:restriction base="xs:string">
					<xs:enumeration value="PRINCIPALE" />
					<xs:enumeration value="ACCESSOIRE" />
					<xs:enumeration value="COMPLEMENTAIRE" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="GenreImpot">
				<xs:restriction base="xs:string">
					<xs:enumeration value="REVENU_FORTUNE" />
					<xs:enumeration value="GAIN_IMMOBILIER" />
					<xs:enumeration value="DROIT_MUTATION" />
					<xs:enumeration value="PRESTATION_CAPITAL" />
					<xs:enumeration value="SUCCESSION" />
					<xs:enumeration value="FONCIER" />
					<xs:enumeration value="DEBITEUR_PRESTATION_IMPOSABLE" />
					<xs:enumeration value="DONATION" />
					<xs:enumeration value="CHIENS" />
					<xs:enumeration value="PATENTE_TABAC" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeAutoriteFiscale">
				<xs:restriction base="xs:string">
					<xs:enumeration value="COMMUNE_OU_FRACTION_VD" />
					<xs:enumeration value="COMMUNE_HC" />
					<xs:enumeration value="PAYS_HS" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="MotifRattachement">
				<xs:restriction base="xs:string">
					<xs:enumeration value="DOMICILE" />
					<xs:enumeration value="IMMEUBLE_PRIVE" />
					<xs:enumeration value="DIPLOMATE_SUISSE" />
					<xs:enumeration value="ACTIVITE_INDEPENDANTE" />
					<xs:enumeration value="SEJOUR_SAISONNIER" />
					<xs:enumeration value="DIRIGEANT_SOCIETE" />
					<xs:enumeration value="ACTIVITE_LUCRATIVE_CAS" />
					<xs:enumeration value="ADMINISTRATEUR" />
					<xs:enumeration value="CREANCIER_HYPOTHECAIRE" />
					<xs:enumeration value="PRESTATION_PREVOYANCE" />
					<xs:enumeration value="DIPLOMATE_ETRANGER" />
					<xs:enumeration value="LOI_TRAVAIL_AU_NOIR" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="MotifFor">
				<xs:restriction base="xs:string">
					<xs:enumeration value="DEMENAGEMENT_VD" />
					<xs:enumeration value="VEUVAGE_DECES" />
					<xs:enumeration value="MARIAGE_ENREGISTREMENT_PARTENARIAT_RECONCILIATION" />
					<xs:enumeration value="SEPARATION_DIVORCE_DISSOLUTION_PARTENARIAT" />
					<xs:enumeration value="PERMIS_C_SUISSE" />
					<xs:enumeration value="MAJORITE" />
					<xs:enumeration value="ARRIVEE_HS" />
					<xs:enumeration value="ARRIVEE_HC" />
					<xs:enumeration value="FUSION_COMMUNES" />
					<xs:enumeration value="ACHAT_IMMOBILIER" />
					<xs:enumeration value="VENTE_IMMOBILIER" />
					<xs:enumeration value="DEBUT_EXPLOITATION" />
					<xs:enumeration value="FIN_EXPLOITATION" />
					<xs:enumeration value="DEPART_HS" />
					<xs:enumeration value="DEPART_HC" />
					<xs:enumeration value="INDETERMINE" />
					<xs:enumeration value="SEJOUR_SAISONNIER" />
					<xs:enumeration value="CHGT_MODE_IMPOSITION" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="ModeImposition">
				<xs:restriction base="xs:string">
					<xs:enumeration value="ORDINAIRE" />
					<xs:enumeration value="SOURCE" />
					<xs:enumeration value="DEPENSE" />
					<xs:enumeration value="MIXTE_137_1" />
					<xs:enumeration value="MIXTE_137_2" />
					<xs:enumeration value="INDIGENT" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeDocument">
				<xs:restriction base="xs:string">
					<xs:enumeration value="DECLARATION_IMPOT_COMPLETE" />
					<xs:enumeration value="DECLARATION_IMPOT_VAUDTAX" />
					<xs:enumeration value="DECLARATION_IMPOT_DEPENSE" />
					<xs:enumeration value="DECLARATION_IMPOT_HC_IMMEUBLE" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeEtatDeclaration">
				<xs:restriction base="xs:string">
					<xs:enumeration value="EMISE" />
					<xs:enumeration value="SOMMEE" />
					<xs:enumeration value="ECHUE" />
					<xs:enumeration value="RETOURNEE" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="PeriodiciteDecompte">
				<xs:restriction base="xs:string">
					<xs:enumeration value="MENSUEL" />
					<xs:enumeration value="ANNUEL" />
					<xs:enumeration value="TRIMESTRIEL" />
					<xs:enumeration value="SEMESTRIEL" />
					<xs:enumeration value="UNIQUE" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="ModeCommunication">
				<xs:restriction base="xs:string">
					<xs:enumeration value="SITE_WEB" />
					<xs:enumeration value="PAPIER" />
					<xs:enumeration value="ELECTRONIQUE" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="FormatNumeroCompte">
				<xs:restriction base="xs:string">
					<xs:enumeration value="SPECIFIQUE_CH" />
					<xs:enumeration value="IBAN" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="Sexe">
				<xs:restriction base="xs:string">
					<xs:enumeration value="FEMININ" />
					<xs:enumeration value="MASCULIN" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="Categorie">
				<xs:restriction base="xs:string">
					<xs:enumeration value="SUISSE" />
					<xs:enumeration value="FONCTIONNAIRE" />
					<xs:enumeration value="_02_PERMIS_SEJOUR_B" />
					<xs:enumeration value="_03_ETABLI_C" />
					<xs:enumeration value="_04_CONJOINT_DIPLOMATE_CI" />
					<xs:enumeration value="_05_ETRANGER_ADMIS_PROVISOIREMENT_F" />
					<xs:enumeration value="_06_FRONTALIER_G" />
					<xs:enumeration value="_07_PERMIS_SEJOUR_COURTE_DUREE_L" />
					<xs:enumeration value="_08_REQUERANT_ASILE_N" />
					<xs:enumeration value="_09_A_PROTEGER_S" />
					<xs:enumeration value="_10_TENUE_DE_S_ANNONCER" />
					<xs:enumeration value="_11_DIPLOMATE" />
					<xs:enumeration value="_12_FONCTIONNAIRE_INTERNATIONAL" />
					<xs:enumeration value="_13_NON_ATTRIBUEE" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="EtatCivil">
				<xs:restriction base="xs:string">
					<xs:enumeration value="CELIBATAIRE" />
					<xs:enumeration value="MARIE" />
					<xs:enumeration value="VEUF" />
					<xs:enumeration value="LIE_PARTENARIAT_ENREGISTRE" />
					<xs:enumeration value="NON_MARIE" />
					<xs:enumeration value="PARTENARIAT_DISSOUS_JUDICIAIREMENT" />
					<xs:enumeration value="DIVORCE" />
					<xs:enumeration value="SEPARE" />
					<xs:enumeration value="PARTENARIAT_DISSOUS_DECES" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TarifImpotSource">
				<xs:restriction base="xs:string">
					<xs:enumeration value="NORMAL" />
					<xs:enumeration value="DOUBLE_GAIN" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeAssujettissement">
				<xs:restriction base="xs:string">
					<xs:enumeration value="NON_ASSUJETTI" />
					<xs:enumeration value="LIMITE" />
					<xs:enumeration value="ILLIMITE" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="CategorieDebiteur">
				<xs:restriction base="xs:string">
					<xs:enumeration value="ADMINISTRATEURS" />
					<xs:enumeration value="CONFERENCIERS_ARTISTES_SPORTIFS" />
					<xs:enumeration value="CREANCIERS_HYPOTHECAIRES" />
					<xs:enumeration value="PRESTATIONS_PREVOYANCE" />
					<xs:enumeration value="REGULIERS" />
					<xs:enumeration value="LOI_TRAVAIL_AU_NOIR" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="PeriodeDecompte">
				<xs:restriction base="xs:string">
					<xs:enumeration value="M01" />
					<xs:enumeration value="M02" />
					<xs:enumeration value="M03" />
					<xs:enumeration value="M04" />
					<xs:enumeration value="M05" />
					<xs:enumeration value="M06" />
					<xs:enumeration value="M07" />
					<xs:enumeration value="M08" />
					<xs:enumeration value="M09" />
					<xs:enumeration value="M10" />
					<xs:enumeration value="M11" />
					<xs:enumeration value="M12" />
					<xs:enumeration value="T1" />
					<xs:enumeration value="T2" />
					<xs:enumeration value="T3" />
					<xs:enumeration value="T4" />
					<xs:enumeration value="S1" />
					<xs:enumeration value="S2" />
					<xs:enumeration value="A" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeTiers">
				<xs:restriction base="xs:string">
					<xs:enumeration value="PERSONNE_PHYSIQUE" />
					<xs:enumeration value="MENAGE_COMMUN" />
					<xs:enumeration value="DEBITEUR" />
					<xs:enumeration value="PERSONNE_MORALE" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeRecherche">
				<xs:restriction base="xs:string">
					<xs:enumeration value="CONTIENT" />
					<xs:enumeration value="PHONETIQUE" />
					<xs:enumeration value="EST_EXACTEMENT" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType final="#all" name="TiersInfoArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:TiersInfo" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="WebServiceException" type="tns:WebServiceException" />
			<xs:complexType name="WebServiceException">
				<xs:sequence />
			</xs:complexType>
			<xs:element name="GetTiersPeriode" nillable="true" type="tns:GetTiersPeriode" />
			<xs:element name="getTiersPeriodeResponse" nillable="true" type="tns:TiersHisto" />
			<xs:element name="GetTiersHisto" nillable="true" type="tns:GetTiersHisto" />
			<xs:element name="getTiersHistoResponse" nillable="true" type="tns:TiersHisto" />
			<xs:element name="SetTiersBlocRembAuto" nillable="true" type="tns:SetTiersBlocRembAuto" />
			<xs:element name="GetTiers" nillable="true" type="tns:GetTiers" />
			<xs:element name="getTiersResponse" nillable="true" type="tns:Tiers" />
			<xs:element name="doNothing" nillable="true" type="tns:AllConcreteTiersClasses" />
			<xs:element name="GetTiersType" nillable="true" type="tns:GetTiersType" />
			<xs:element name="getTiersTypeResponse" nillable="true" type="tns:TypeTiers" />
			<xs:element name="SearchTiers" nillable="true" type="tns:SearchTiers" />
			<xs:element name="searchTiersResponse" nillable="true" type="tns:TiersInfoArray" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="WebServiceException">
		<wsdl:part element="tns:WebServiceException" name="WebServiceException">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getTiersPeriodeResponse">
		<wsdl:part element="tns:getTiersPeriodeResponse" name="getTiersPeriodeResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getTiersHisto">
		<wsdl:part element="tns:GetTiersHisto" name="params">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="setTiersBlocRembAuto">
		<wsdl:part element="tns:SetTiersBlocRembAuto" name="params">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getTiersPeriode">
		<wsdl:part element="tns:GetTiersPeriode" name="params">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getTiersType">
		<wsdl:part element="tns:GetTiersType" name="params">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getTiersTypeResponse">
		<wsdl:part element="tns:getTiersTypeResponse" name="getTiersTypeResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="setTiersBlocRembAutoResponse">
	</wsdl:message>
	<wsdl:message name="getTiers">
		<wsdl:part element="tns:GetTiers" name="params">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="searchTiersResponse">
		<wsdl:part element="tns:searchTiersResponse" name="searchTiersResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getTiersHistoResponse">
		<wsdl:part element="tns:getTiersHistoResponse" name="getTiersHistoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="doNothing">
		<wsdl:part element="tns:doNothing" name="doNothing">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="searchTiers">
		<wsdl:part element="tns:SearchTiers" name="params">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="doNothingResponse">
	</wsdl:message>
	<wsdl:message name="getTiersResponse">
		<wsdl:part element="tns:getTiersResponse" name="getTiersResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TiersPort">
		<wsdl:operation name="getTiersPeriode">
			<wsdl:input message="tns:getTiersPeriode" name="getTiersPeriode">
			</wsdl:input>
			<wsdl:output message="tns:getTiersPeriodeResponse" name="getTiersPeriodeResponse">
			</wsdl:output>
			<wsdl:fault message="tns:WebServiceException" name="WebServiceException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getTiersHisto">
			<wsdl:input message="tns:getTiersHisto" name="getTiersHisto">
			</wsdl:input>
			<wsdl:output message="tns:getTiersHistoResponse" name="getTiersHistoResponse">
			</wsdl:output>
			<wsdl:fault message="tns:WebServiceException" name="WebServiceException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setTiersBlocRembAuto">
			<wsdl:input message="tns:setTiersBlocRembAuto" name="setTiersBlocRembAuto">
			</wsdl:input>
			<wsdl:output message="tns:setTiersBlocRembAutoResponse" name="setTiersBlocRembAutoResponse">
			</wsdl:output>
			<wsdl:fault message="tns:WebServiceException" name="WebServiceException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getTiers">
			<wsdl:input message="tns:getTiers" name="getTiers">
			</wsdl:input>
			<wsdl:output message="tns:getTiersResponse" name="getTiersResponse">
			</wsdl:output>
			<wsdl:fault message="tns:WebServiceException" name="WebServiceException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="doNothing">
			<wsdl:input message="tns:doNothing" name="doNothing">
			</wsdl:input>
			<wsdl:output message="tns:doNothingResponse" name="doNothingResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getTiersType">
			<wsdl:input message="tns:getTiersType" name="getTiersType">
			</wsdl:input>
			<wsdl:output message="tns:getTiersTypeResponse" name="getTiersTypeResponse">
			</wsdl:output>
			<wsdl:fault message="tns:WebServiceException" name="WebServiceException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="searchTiers">
			<wsdl:input message="tns:searchTiers" name="searchTiers">
			</wsdl:input>
			<wsdl:output message="tns:searchTiersResponse" name="searchTiersResponse">
			</wsdl:output>
			<wsdl:fault message="tns:WebServiceException" name="WebServiceException">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TiersServiceSoapBinding" type="tns:TiersPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getTiersPeriode">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getTiersPeriode">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getTiersPeriodeResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="WebServiceException">
				<soap:fault name="WebServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getTiersHisto">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getTiersHisto">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getTiersHistoResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="WebServiceException">
				<soap:fault name="WebServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setTiersBlocRembAuto">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="setTiersBlocRembAuto">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="setTiersBlocRembAutoResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="WebServiceException">
				<soap:fault name="WebServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getTiers">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getTiers">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getTiersResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="WebServiceException">
				<soap:fault name="WebServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="doNothing">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="doNothing">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="doNothingResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getTiersType">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getTiersType">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getTiersTypeResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="WebServiceException">
				<soap:fault name="WebServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="searchTiers">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="searchTiers">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="searchTiersResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="WebServiceException">
				<soap:fault name="WebServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TiersService">
		<wsdl:port binding="tns:TiersServiceSoapBinding" name="TiersPortPort">
			<soap:address location="http://localhost:8080/fiscalite/unireg-ws/ws/tiers" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>