jaxb2/events/src/main/resources/event/dperm/typeSimpleDPerm-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 25.09.2013 version 1.0 (zciedt): Regroupe l'ensemble des types du systeme DPerm -->
<!-- 30.09.2013 version 1.1 (xsijme): Refactoring sur l'utilisation des types communs  -->
<!-- 30.09.2013 version 1.2 (xsijme): renommage des types de taches pour etre en adequation avec la definition des poids numeriques des taches -->
<!-- 09.10.2013 version 1.3 (zciedt): renommage des types de taches avec le préfix de codeEtapeManuelleType -->
<!-- 31.10.2013 version 1.4 (zciedt): Ajout de types énumérés pour les types de tâches, modification des types énumérés pour actionType -->
<!-- 12.11.2013 version 1.5 (zciedt): suppression du type énuméré pour les types de tâches, changement des types pour le segment -->
<!-- 10.12.2013 version 1.6 (zciedt): Ajout code action LECTURE à evtTache -->
<!-- 10.12.2013 version 1.6 (zciedt): Ajout code action MISE_A_JOUR à evtTache -->
<!-- 03.02.2014 version 1.7 (zciedt): Extension de  numeroContribuableType pour prendre en compte les PM -->
<!-- 04.02.2014 version 1.8 (zciedt): Création du type nonEmptyLongTokenType et nonEmptyLongStringType -->
<!-- 07.02.2014 version 1.9 (xcigdt): Ajout de PROCESS  dans categorieOperationType-->
<!-- 19.03.2014 version 1.10 (zciedt): Ajout de RICANT dans DocumentType-->
<!-- 19.03.2014 version 1.11 (zciedt): Ajout de TO-DI dans DocumentType-->
<!-- 03.04.2014 version 1.12 (xsijme) : Ajout de PREST-AI dans DocumentType-->
<!-- 24.04.2014 version 1.13 (xsijme) : Ajout de PREST-AI dans DocumentSousType-->
<!-- 05.05.2014 version 1.14 (xsijme) : Ajout de SPONTANE et DEMANDE dans DocumentSousType-->
<!-- 22.05.2014 version 1.15 (zciedt) : Ajout de REQDES - SUCC,DON,TITO pour les RéquisitionDesignations-->
<!-- 05.06.2014 version 1.16 (xcigdt) : Ajout de REQDES - TITMZ pour les RéquisitionDesignations-->
<!-- 16.06.2014 version 1.17 (zciedt): Ajout codeOfficeType pour la matrice d'attribution des pots -->
<!-- 09.07.2014 version 1.18 (zciedt) Modification du type codeOfficeType de positiveInteger en string -->
<!-- 21.07.2014 version 1.19 (zciedt) Ajout des types et sous-type pour les Acomptes. Suppression Type=RF -->
<!-- 04.08.2014 version 1.20 (zciedt) Ajout des types et sous-type pour les PJ echues -->
<!-- 21.11.2014 version 1.21 (xsijme) : Ajout de SPTO et PREP pour codeSegment -->
<!-- 28.07.2015 version 1.22 (zciedt) : Types et sousTypes documents pour SIPF_BATCH -->
<!-- 29.07.2015 version 1.23 (zciedt) : Types et sousTypes documents pour TO-BA et TACHE_MANUELLE -->
<!-- 31.07.2015 version 1.24 (xsijme) : Ajout de axeType pour SIPF_BATCH -->
<!-- 06.01.2016 version 1.25 (xsijme) : Ajout des types et sous types de document pour les commandes AVS -->
<!-- 01.01.2016 version 1.26 (zciedt) : Types et sousTypes documents pour DI-PM -->
<!-- 11.02.2016 version 1.27 (zciedt) : Revue des types et sous-types TO-BA -->
<!-- 31.03.2016 version 1.28 (zciedt) : Ajout types pour PM -->
<!-- 20.05.2016 version 1.29 (xsijme) : Ajout du type PJ_ECHUE_PM-->
<!-- 16.08.2016 version 1.30 (zciedt) : Ajout du sous-type RICANT et IBC pour les ricant papier-->
<!-- 06.09.2016 version 1.31 (xsijme) : Ajout des types de document pour ceux de la catégorie SORTANT. -->
<!-- 06.09.2016 version 1.32 (xsijme) : Ajout des supports CED et LOCAL pour les documents sortants. -->
<!-- 28.11.2016 version 1.33 (xsijme) : Ajout des types de document pour ceux de la catégorie SORTANT 17R1. -->
<!-- 16.01.2017 version 1.34 (xsijme) : Ajout d'un type de document pour gérer les document lié à la reprise de mémos depuis tao-pp. -->
<!-- 25.01.2017 version 1.35 (xsijme) : Ajout d'un type de document pour gérer les document lié à la reprise de mémos depuis tao-pp. (Accusé de réception dégrevement) -->
<!-- 07.02.2017 version 1.36 (zciedt) : Ajout typeDoc et sousTypeDoc: REFERENDUM_PM DEM_DEGREV COORD_FINAN CONV_SEPAR DEPART_HC EVTS-IMMEUBLES FIN_DROIT_PROPRRIETE CHANGT_EF. Ajout type impot IMPOT_COMPLEMENTAIRE_IMMEUBLE. Ajout typNumeroOfs -->
<!-- 13.02.2017 version 1.37 (xsijme) : Correction du sous type FIN_DROIT_PROPRRIETE en FIN_DROIT_PROPRIETE -->
<!-- 14.02.2017 version 1.38 (xsijme) : Ajout des types TAOPP-ET et TAOPP-SNC. -->
<!-- 23.02.2017 version 1.39 (zciedt) : Ajout sousTYpeDoc MONTANT_INF et MONTANT_SUP -->
<!-- 06.03.2017 version 1.40 (xsijme) : Ajout type TAOFONC-IFONC-DT et TAOFONC-ICI-DT -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.vd.ch/fiscalite/dperm/common/1" targetNamespace="http://www.vd.ch/fiscalite/dperm/common/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="40">
	<xs:complexType name="datePartielleType">
		<xs:annotation>
			<xs:documentation>documentDematPcap-2, evenementSupervisionDPerm-2, </xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="anneeMoisJour" type="xs:date"/>
			<xs:element name="anneeMois" type="xs:gYearMonth"/>
			<xs:element name="annee" type="xs:gYear"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="avancementType">
		<xs:annotation>
			<xs:documentation>elementsAttributionTache-2</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOUBLON"/>
			<xs:enumeration value="VALIDEE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="businessIdType">
		<xs:annotation>
			<xs:documentation>[detectionDoublon-1, detectionDoublon-2]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="categorieOperationType">
		<xs:annotation>
			<xs:documentation>[evenementSupervisionDPerm-1, operationHistorique-1, operationHistorique-2]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCUMENT"/>
			<xs:enumeration value="TACHE"/>
			<xs:enumeration value="PROCESS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codeActionTacheType">
		<xs:annotation>
			<xs:documentation>[evenementSupervisionDPerm-1, evenementSupervisionDPerm-2, evenementSupervisionDPerm-3, tachesHistorique-1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CREATION"/>
			<xs:enumeration value="VALIDATION"/>
			<xs:enumeration value="ABANDON"/>
			<xs:enumeration value="TRAITEMENT"/>
			<xs:enumeration value="TRANSFERT"/>
			<xs:enumeration value="ATTRIBUTION"/>
			<xs:enumeration value="CLOTURE"/>
			<xs:enumeration value="LECTURE"/>
			<xs:enumeration value="MISE_A_JOUR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codeApplicationType">
		<xs:annotation>
			<xs:documentation>[evenementSupervisionDPerm-1, evenementSupervisionDPerm-2, evenementSupervisionDPerm-3, operationHistorique-1, operationHistorique-2]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="TAO-PP"/>
			<xs:enumeration value="TAO-BA"/>
			<xs:enumeration value="TAO-IS"/>
			<xs:enumeration value="COR-IT"/>
			<xs:enumeration value="TAO-ADMIN"/>
			<xs:enumeration value="ACI-COM"/>
			<xs:enumeration value="SIPF"/>
			<xs:enumeration value="ADDI"/>
			<xs:enumeration value="E-PJ"/>
			<xs:enumeration value="E-DIPM"/>
			<xs:enumeration value="E-DEGREV"/>
			<xs:enumeration value="E-ACO"/>
			<xs:enumeration value="UNIREG"/>
			<xs:enumeration value="EMP-ACI"/>
			<xs:enumeration value="FIDOR"/>
			<xs:enumeration value="DPERM-REPELEC"/>
			<xs:enumeration value="DPERM-TASK"/>
			<xs:enumeration value="DPERM-ADMIN"/>
			<xs:enumeration value="BPMS"/>
			<xs:enumeration value="TAO-PM"/>
			<xs:enumeration value="TAO-ICI-IFONC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codeEtapeManuelleType">
		<xs:annotation>
			<xs:documentation>[elementsAttributionTache-1, elementsAttributionTache-2, elementsAttributionTache-3, elementsCalculSeuilAbandon-1, elementsCalculSeuilAbandon-2]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="IDENTIFICATION_CTB_NIV1"/>
			<xs:enumeration value="IDENTIFICATION_CTB_NIV2"/>
			<xs:enumeration value="CONTROLE_ASJ_NIV2"/>
			<xs:enumeration value="TRAITEMENT_METIER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codeSegmentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A"/>
			<xs:enumeration value="SA"/>
			<xs:enumeration value="SM"/>
			<xs:enumeration value="SMC"/>
			<xs:enumeration value="C1"/>
			<xs:enumeration value="C2"/>
			<xs:enumeration value="C3"/>
			<xs:enumeration value="C4"/>
			<xs:enumeration value="SPTO"/>
			<xs:enumeration value="PREP"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codeSupportType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PAPIER"/>
			<xs:enumeration value="ELECTRONIQUE"/>
			<xs:enumeration value="CED"/>
			<xs:enumeration value="LOCAL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="etatTaxationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ENTREE_EN_FORCE"/>
			<xs:enumeration value="VALIDEE"/>
			<xs:enumeration value="EN_COURS"/>
			<xs:enumeration value="A_TAXER"/>
			<xs:enumeration value="TAXEE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="hashcodeType">
		<xs:annotation>
			<xs:documentation>[detectionDoublon-1, detectionDoublon-2]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="512"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="identifiantFoldersType">
		<xs:annotation>
			<xs:documentation>[documentRepElec-1, documentRepElec-2, documentRepElec-3]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="identifiantProcessusType">
		<xs:annotation>
			<xs:documentation>[evenementSupervisionDPerm-1, evenementSupervisionDPerm-2, evenementSupervisionDPerm-3]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="identifiantRepelecType">
		<xs:annotation>
			<xs:documentation>[documentRepElec-1, documentRepElec-2, documentRepElec-3, evenementSupervisionDPerm-1, evenementSupervisionDPerm-2, evenementSupervisionDPerm-3, quittanceRepElec-2, quittanceRepElec]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="identifiantSupervisionType">
		<xs:annotation>
			<xs:documentation>[documentRepElec-1, documentRepElec-2, documentRepElec-3, evenementSupervisionDPerm-1, evenementSupervisionDPerm-2, evenementSupervisionDPerm-3, operationHistorique-1, operationHistorique-2, quittanceIntegrationMetierDi-1, quittanceIntegrationMetierPj-1, tachesHistorique-1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="identifiantTacheType">
		<xs:annotation>
			<xs:documentation>[evenementSupervisionDPerm-1, evenementSupervisionDPerm-2, evenementSupervisionDPerm-3, quittanceIntegrationMetierDi-1, quittanceIntegrationMetierPj-1, tachesActives-1, tachesHistorique-1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codePeriodeImpositionType">
		<xs:restriction base="xs:long">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="mimeType">
		<xs:annotation>
			<xs:documentation>[documentDematPcap-1, documentDematPcap-2]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="application/pdf"/>
			<xs:enumeration value="image/tiff"/>
			<xs:enumeration value="application/zip"/>
			<xs:enumeration value="text/xml"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="montantType">
		<xs:annotation>
			<xs:documentation>[documentDematPcap-1, documentDematPcap-2, documentRepElec-1, documentRepElec-2, documentRepElec-3, evenementSupervisionDPerm-1, evenementSupervisionDPerm-2, evenementSupervisionDPerm-3, tachesHistorique-1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nonEmptyStringType">
		<xs:annotation>
			<xs:documentation>[evenementSupervisionDPerm-1, evenementSupervisionDPerm-2, evenementSupervisionDPerm-3, operationHistorique-1, operationHistorique-2]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nonEmptyLongStringType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nonEmptyTokenType">
		<xs:annotation>
			<xs:documentation>[attributionTache-1, documentDematPcap-1, documentDematPcap-2, documentRepElec-1, documentRepElec-2, documentRepElec-3, evenementSupervisionDPerm-1, evenementSupervisionDPerm-2, evenementSupervisionDPerm-3, operationHistorique-1, operationHistorique-2, quittanceIntegrationMetierCsr-1, quittanceIntegrationMetierDi-1, quittanceIntegrationMetierPcap-1, quittanceIntegrationMetierPcap-2, quittanceIntegrationMetierPcap-3, quittanceIntegrationMetierPj-1, tachesHistorique-1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nonEmptyLongTokenType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numeroAvs11Type">
		<xs:annotation>
			<xs:documentation>[evenementSupervisionDPerm-1, evenementSupervisionDPerm-2, evenementSupervisionDPerm-3, tachesHistorique-1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:pattern value="[0-9]{8}|[0-9]{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numeroAvs13Type">
		<xs:annotation>
			<xs:documentation>[documentDematPcap-1, documentDematPcap-2, evenementSupervisionDPerm-1, evenementSupervisionDPerm-2, evenementSupervisionDPerm-3, tachesHistorique-1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:pattern value="756[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numeroContribuableType">
		<xs:annotation>
			<xs:documentation>[documentRepElec-1, documentRepElec-2, documentRepElec-3, evenementBatchClotureTaxation-1, evenementSupervisionDPerm-1, evenementSupervisionDPerm-2, evenementSupervisionDPerm-3, integrationMetierPcap-1, integrationMetierPcap-2, quittanceIntegrationMetierDi-1, quittanceIntegrationMetierPj-1, tachesHistorique-1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numeroOidType">
		<xs:annotation>
			<xs:documentation>[elementsAttributionTache-1, elementsAttributionTache-2, elementsAttributionTache-3, elementsAttributionTache-4, elementsAttributionTache-5,elementsRechercheTache-1,tachesHistorique-1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numeroIdeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(CHE|ADM)([0-9]{8})([0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="periodeFiscaleType">
		<xs:annotation>
			<xs:documentation>[documentRepElec-1, documentRepElec-2, documentRepElec-3, evenementBatchClotureTaxation-1, evenementSupervisionDPerm-1, evenementSupervisionDPerm-2, evenementSupervisionDPerm-3, integrationMetierPcap-1, integrationMetierPcap-2, quittanceIntegrationMetierDi-1, quittanceIntegrationMetierPj-1, tachesHistorique-1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:pattern value="[1,2]\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sousTypeDocumentType">
		<xs:annotation>
			<xs:documentation>[detectionDoublon-1, detectionDoublon-2, documentDematPcap-1, documentDematPcap-2, documentRepElec-1, documentRepElec-2, documentRepElec-3, elementsAttributionTache-1, elementsAttributionTache-2, elementsAttributionTache-3, elementsAttributionTache-4, elementsAttributionTache-5, elementsCalculSeuilAbandon-1, elementsCalculSeuilAbandon-2, evenementSupervisionDPerm-1, evenementSupervisionDPerm-2, evenementSupervisionDPerm-3, tachesHistorique-1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PCAP_3b"/>
			<xs:enumeration value="PCAP_2-3a"/>
			<xs:enumeration value="PREN_2-3a"/>
			<xs:enumeration value="PREN_3b"/>
			<xs:enumeration value="PREST-AI"/>
			<xs:enumeration value="EPL"/>
			<xs:enumeration value="CSR"/>
			<xs:enumeration value="ARI"/>
			<xs:enumeration value="ORDINAIRE"/>
			<xs:enumeration value="IRF"/>
			<xs:enumeration value="SPONTANE"/>
			<xs:enumeration value="DEMANDE"/>
			<xs:enumeration value="SUCC"/>
			<xs:enumeration value="DON"/>
			<xs:enumeration value="TITO"/>
			<xs:enumeration value="TITMZ"/>
			<xs:enumeration value="DETERMINATION"/>
			<xs:enumeration value="MODIFICATION"/>
			<xs:enumeration value="DP"/>
			<xs:enumeration value="DP_RAPPEL"/>
			<xs:enumeration value="DPIA_RAPPEL"/>
			<xs:enumeration value="DECOMPTE"/>
			<xs:enumeration value="REMBT_BLOQUE"/>
			<xs:enumeration value="PLREC"/>
			<xs:enumeration value="PLREC_ANOMALIE"/>
			<xs:enumeration value="REMBT_SAGEFI_REFUSE"/>
			<xs:enumeration value="TO-BA"/>
			<xs:enumeration value="TACHE_MANUELLE"/>
			<xs:enumeration value="PSA"/>
			<xs:enumeration value="SAL"/>
			<xs:enumeration value="PCI"/>
			<xs:enumeration value="TO-BA-PM"/>
			<xs:enumeration value="APM"/>
			<xs:enumeration value="HORS_CANTON"/>
			<xs:enumeration value="HOLDING-STE_BASE"/>
			<xs:enumeration value="RICANT"/>
			<xs:enumeration value="IBC"/>
			<xs:enumeration value="DEM_DEGREV"/>
			<xs:enumeration value="MONTANT_INF"/>
			<xs:enumeration value="MONTANT_SUP"/>
			<xs:enumeration value="CONV_SEPAR"/>
			<xs:enumeration value="DEPART_HC"/>
			<xs:enumeration value="REFERENDUM_PM"/>
			<xs:enumeration value="FIN_DROIT_PROPRIETE"/>
			<xs:enumeration value="CHANGT_EF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="taxationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ORIGINELLE"/>
			<xs:enumeration value="TAXATION_OFFICE"/>
			<xs:enumeration value="REEXAMEN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="taxationSousType">
		<xs:annotation/>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ORIGINELLE"/>
			<xs:enumeration value="TAXATION_OFFICE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeAssujettissementType">
		<xs:annotation>
			<xs:documentation>[elementsAttributionTache-1, elementsAttributionTache-2, elementsAttributionTache-3, elementsAttributionTache-4, elementsAttributionTache-5]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="VAUDOIS_ORDINAIRE"/>
			<xs:enumeration value="SOURCIER_PUR"/>
			<xs:enumeration value="SOURCIER_MIXTE1"/>
			<xs:enumeration value="SOURCIER_MIXTE2"/>
			<xs:enumeration value="INDIGENT"/>
			<xs:enumeration value="HORS_CANTON"/>
			<xs:enumeration value="HORS_SUISSE"/>
			<xs:enumeration value="VAUDOIS_DEPENSE"/>
			<xs:enumeration value="DIPLOMATE_SUISSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeDocumentType">
		<xs:annotation>
			<xs:documentation>[detectionDoublon-1, detectionDoublon-2, documentDematPcap-1, documentDematPcap-2, documentRepElec-1, documentRepElec-2, documentRepElec-3, elementsAttributionTache-1, elementsAttributionTache-2, elementsAttributionTache-3, elementsCalculSeuilAbandon-1, elementsCalculSeuilAbandon-2, evenementSupervisionDPerm-1, evenementSupervisionDPerm-2, evenementSupervisionDPerm-3, tachesActives-1, tachesHistorique-1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PCAP"/>
			<xs:enumeration value="CSR-ARI"/>
			<xs:enumeration value="PJ"/>
			<xs:enumeration value="DI-PP"/>
			<xs:enumeration value="RICANT"/>
			<xs:enumeration value="TO-DI"/>
			<xs:enumeration value="PREST-AI"/>
			<xs:enumeration value="REQDES"/>
			<xs:enumeration value="ACOMPTES"/>
			<xs:enumeration value="PJ_ECHUE"/>
			<xs:enumeration value="SIPF_BATCH"/>
			<xs:enumeration value="TO-BA"/>
			<xs:enumeration value="TO-BA-PM"/>
			<xs:enumeration value="TACHE_MANUELLE"/>
			<xs:enumeration value="COMMANDE_AVS"/>
			<xs:enumeration value="DI-PM"/>
			<xs:enumeration value="TO-DI-PM"/>
			<xs:enumeration value="PJ-PM"/>
			<xs:enumeration value="PJ_ECHUE_PM"/>
			<xs:enumeration value="TAOPM-DT"/>
			<xs:enumeration value="TAOPM-PSOUS"/>
			<xs:enumeration value="TAOPM-AME"/>
			<xs:enumeration value="TAOPM-ACOR"/>
			<xs:enumeration value="TAOPM-PREC"/>
			<xs:enumeration value="TAOPM-DP"/>
			<xs:enumeration value="TAOPM-REPA"/>
			<xs:enumeration value="AR-DIPM"/>
			<xs:enumeration value="SIPF-ACO"/>
			<xs:enumeration value="SIPF-DECO"/>
			<xs:enumeration value="SIPF-CONT"/>
			<xs:enumeration value="SIPF-REMB"/>
			<xs:enumeration value="SIPF-PAIE"/>
			<xs:enumeration value="SIPF-PLREC"/>
			<xs:enumeration value="UNIREG-ASSUJ-IBC"/>
			<xs:enumeration value="UNIREG-DI"/>
			<xs:enumeration value="UNIREG-DI-CO"/>
			<xs:enumeration value="UNIREG-ASSUJ-ICI"/>
			<xs:enumeration value="UNIREG-ASSUJ-GI"/>
			<xs:enumeration value="UNIREG-EFACTURE"/>
			<xs:enumeration value="UNIREG-LR"/>
			<xs:enumeration value="TAOIS-DT"/>
			<xs:enumeration value="TAOIS-DI"/>
			<xs:enumeration value="TAOPP-DT"/>
			<xs:enumeration value="TAOPP-RECLA"/>
			<xs:enumeration value="TAOPP-INFO-COMP"/>
			<xs:enumeration value="TAOPP-DI"/>
			<xs:enumeration value="TAOPP-DT-DON"/>
			<xs:enumeration value="TAOPP-DT-IFONC"/>
			<xs:enumeration value="TAOPP-DT-GI"/>
			<xs:enumeration value="TAOPP-DT-DIST"/>
			<xs:enumeration value="TAOPP-DT-CHIEN"/>
			<xs:enumeration value="TAOPP-DT-IPF"/>
			<xs:enumeration value="TAOPP-DT-DM"/>
			<xs:enumeration value="TAOPP-DP-GI"/>
			<xs:enumeration value="TAOPP-DP-DM"/>
			<xs:enumeration value="TAOPP-DP-DON"/>
			<xs:enumeration value="TAOPP-DP-SUCC"/>
			<xs:enumeration value="TAOPP-DT-SUCC"/>
			<xs:enumeration value="TAOPP-MEMO"/>
			<xs:enumeration value="TAOBA-ACO"/>
			<xs:enumeration value="AR-DEGREV"/>
			<xs:enumeration value="DEM_DEGREV"/>
			<xs:enumeration value="COORD_FINAN"/>
			<xs:enumeration value="CONV_SEPAR"/>
			<xs:enumeration value="DEPART_HC"/>
			<xs:enumeration value="EVTS_IMMEUBLES"/>
			<xs:enumeration value="TAOPP-ET"/>
			<xs:enumeration value="TAOPP-SNC"/>
			<xs:enumeration value="TAOFONC-IFONC-DT"/>
			<xs:enumeration value="TAOFONC-ICI-DT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeImpositionType">
		<xs:annotation>
			<xs:documentation>[elementsAttributionTache-1, elementsAttributionTache-2, elementsAttributionTache-3, elementsAttributionTache-4, elementsAttributionTache-5, evenementBatchClotureTaxation-1, quittanceIntegrationMetierCsr-1, quittanceIntegrationMetierDi-1, quittanceIntegrationMetierPcap-1, quittanceIntegrationMetierPcap-2, quittanceIntegrationMetierPcap-3, quittanceIntegrationMetierPj-1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ORDINAIRE"/>
			<xs:enumeration value="DISTINCT"/>
			<xs:enumeration value="DEPENSE"/>
			<xs:enumeration value="FORFAITAIRE"/>
			<xs:enumeration value="DROITS_MUTATION"/>
			<xs:enumeration value="DONATION"/>
			<xs:enumeration value="SUCCESSION"/>
			<xs:enumeration value="IMPOT_FONCIER"/>
			<xs:enumeration value="GAIN_IMMOBILIER"/>
			<xs:enumeration value="ORDINAIRE_ET_DEPENSE_SIMPLIFIEE"/>
			<xs:enumeration value="AMENDE_INCITATIVE"/>
			<xs:enumeration value="IMPOT_CHIEN"/>
			<xs:enumeration value="PATENTE_TABAC"/>
			<xs:enumeration value="PERSONNELLE_FIXE"/>
			<xs:enumeration value="BENEFICE_LIQUIDATION"/>
			<xs:enumeration value="IMPOT_BENEFICE_CAPITAL"/>
			<xs:enumeration value="IMPOT_COMPLEMENTAIRE_IMMEUBLE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeTacheType">
		<xs:annotation>
			<xs:documentation>[attributionTache-1, evenementSupervisionDPerm-1, evenementSupervisionDPerm-2, evenementSupervisionDPerm-3, tachesHistorique-1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codeOfficeType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="axeType">
		<xs:annotation>
			<xs:documentation>[elementsAttributionTache-5]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PP"/>
			<xs:enumeration value="IS"/>
			<xs:enumeration value="PM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="formeJuridiqueType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PM"/>
			<xs:enumeration value="APM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="regimeFiscalType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ORDINAIRE"/>
			<xs:enumeration value="EXONEREE"/>
			<xs:enumeration value="HOLDING"/>
			<xs:enumeration value="BASE"/>
			<xs:enumeration value="TRANSPORT_CONCESSIONNE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="expertiseMetierType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EXPERT"/>
			<xs:enumeration value="AUDIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="statutSpecialType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LIASF"/>
			<xs:enumeration value="SERVICE"/>
			<xs:enumeration value="SIORD"/>
			<xs:enumeration value="SISOC"/>
			<xs:enumeration value="SISUB"/>
			<xs:enumeration value="SIAL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="siegeSocialType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ETRANGER"/>
			<xs:enumeration value="ADMIN_EFFECTIVE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typNumeroOfs" final="restriction">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typImmeubleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="B-F"/>
			<xs:enumeration value="PPE"/>
			<xs:enumeration value="COP"/>
			<xs:enumeration value="DDP"/>
			<xs:enumeration value="MINE"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
