unireg-ws-tiers3/src/main/resources/data/adresse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.vd.ch/unireg/webservices/tiers3" elementFormDefault="qualified"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:unireg="http://www.vd.ch/unireg/webservices/tiers3" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/4">
	<xs:include schemaLocation="../common.xsd" />
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/4" schemaLocation="eCH-0010-4-0f.xsd" />
	<xs:simpleType name="typeAffranchissementType">
		<xs:annotation>
			<xs:documentation>Le type d'affranchissement demandé par la poste pour envoyer un courrier à une adresse.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SUISSE" />
			<xs:enumeration value="EUROPE" />
			<xs:enumeration value="MONDE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="adresseType">
		<!-- TODO (msi) utiliser une adresse eCH -->
		<xs:annotation>
			<xs:documentation>Représente une adresse fiscale d'un tiers dans Unireg valide pendant une période déterminée. Généralement, un tiers possède plusieurs adresses en fonction de ses
				changements d'adresses. C'est pourquoi, cette adresse ne contient pas les données du destinataire (= la personne) mais uniquement les données de destination (= le lieu).
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="dateDebut" type="unireg:dateType">
				<xs:annotation>
					<xs:documentation>La date de début de validité de l'adresse. Dans certains cas cette information n'est pas disponible et la date n'est pas renseignée.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="dateFin" type="unireg:dateType">
				<xs:annotation>
					<xs:documentation>La date de fin de validité de l'adresse. Si l'adresse est toujours active, cette date n'est pas renseignée.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="titre" type="xs:string">
				<xs:annotation>
					<xs:documentation>Titre de l'adresse. Exemple : "chez" ou "c/o"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="numeroAppartement" type="xs:string">
				<xs:annotation>
					<xs:documentation>Numéro de l'appartement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="rue" type="xs:string">
				<xs:annotation>
					<xs:documentation>Le nom de la rue (pas le numéro)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="numeroRue" type="xs:string">
				<xs:annotation>
					<xs:documentation>Numéro du bâtiment dans la rue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="casePostale" type="xs:string">
				<xs:annotation>
					<xs:documentation>Case postale + numéro</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="localite" type="xs:string">
				<xs:annotation>
					<xs:documentation>La localité. Exemple : "Lausanne"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="numeroPostal" type="xs:string">
				<xs:annotation>
					<xs:documentation>Le numéro postal de la localité. Exemple : "1001" pour "1001 Lausanne"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="pays" type="xs:string">
				<xs:annotation>
					<xs:documentation>Le pays en toutes lettres (non-renseigné sur les adresses suisse). Exemples : "France", "Albanie", "Japon".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="noOrdrePostal" type="xs:int">
				<xs:annotation>
					<xs:documentation>[Technique] numéro d'ordre postal de l'adresse</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="noRue" type="xs:int">
				<xs:annotation>
					<xs:documentation>[Technique] numéro technique de la rue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="noPays" type="xs:int">
				<xs:annotation>
					<xs:documentation>[Technique] numéro OFS du pays</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="adresseAutreTiersType">
		<xs:annotation>
			<xs:documentation>Spécialisation de l'adresse fiscale pour les adresses de type 'autre tiers' (= lorsque le contribuable possède un représentant autre que lui-même spécifié dans le cas des
				poursuites).
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="unireg:adresseType">
				<xs:sequence>
					<xs:element name="type" type="unireg:typeAdressePoursuiteAutreTiersType">
						<xs:annotation>
							<xs:documentation>la raison pour laquelle il y a une adresse 'autre tiers'.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="adresseFormatteeAutreTiersType">
		<xs:annotation>
			<xs:documentation>Spécialisation de l'adresse d'envoi pour les adresses de type 'autre tiers' (= lorsque le contribuable possède un représentant autre que lui-même spécifié dans le cas des
				poursuites).
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="unireg:adresseFormatteeType">
				<xs:sequence>
					<xs:element name="type" type="unireg:typeAdressePoursuiteAutreTiersType">
						<xs:annotation>
							<xs:documentation>la raison pour laquelle il y a une adresse 'autre tiers'.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="mailAddressType">
		<xs:annotation>
			<xs:documentation>Représente une adresse pour l'envoi d'un lettre ou d'un colis par la poste. Cette adresse est décomposé en deux parties : le destinataire et la destination. De plus, une
				troisième partie qui représente les 6 lignes d'adresses formattées selon les recommandations de la poste suisse est disponible.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="organisation" type="unireg:organisationMailAddressInfoType" />
				<xs:element name="person" type="unireg:personMailAddressInfoType" />
				<xs:element name="couple" type="unireg:coupleMailAddressInfoType" />
			</xs:choice>
			<xs:element name="addressInformation" type="unireg:addressInformationType" minOccurs="0" />
			<xs:element name="formattedAddress" type="unireg:formattedAddressType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mailAddressOtherTiersType">
		<xs:annotation>
			<xs:documentation>Spécialisation de l'adresse d'envoi pour les adresses de type 'autre tiers' (= lorsque le contribuable possède un représentant autre que lui-même spécifié dans le cas des
				poursuites).
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="unireg:mailAddressType">
				<xs:sequence>
					<xs:element name="type" type="unireg:typeAdressePoursuiteAutreTiersType">
						<xs:annotation>
							<xs:documentation>la raison pour laquelle il y a une adresse 'autre tiers'.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="addressInformationType">
		<xs:complexContent>
			<xs:extension base="eCH-0010:addressInformationType">
				<xs:sequence>
					<xs:element minOccurs="0" name="complement" type="xs:string">
						<xs:annotation>
							<xs:documentation>Le complément d'adresse. Par exemple : "chez Huguette Bolomey" ou "c/o Famille Bertholey".
								Attention ! Cette donnée est exposée pour permettre un affichage spécialisé dans les applications fiscales. Elle ne doit pas être utilisé pour reconstruire une adresse
								qui
								serait utilisée pour envoyer du courrier par le poste !
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="pourAdresse" type="xs:string">
						<xs:annotation>
							<xs:documentation>Le 'pour adresse'.
								Attention ! Cette donnée est exposée pour permettre un affichage spécialisé dans les applications fiscales. Elle ne doit pas être utilisé pour reconstruire une adresse
								qui
								serait utilisée pour envoyer du courrier par le poste !
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="typeAffranchissement" type="unireg:typeAffranchissementType">
						<xs:annotation>
							<xs:documentation>Le type d'affranchissement demandé par la poste pour envoyer un courrier à cette adresse.
								Attention ! Cette donnée est exposée pour permettre un affichage spécialisé dans les applications fiscales. Elle ne doit pas être utilisé pour reconstruire une adresse
								qui
								serait utilisée pour envoyer du courrier par le poste !
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="formattedAddressType">
		<xs:sequence>
			<xs:element name="line1" type="xs:string">
				<xs:annotation>
					<xs:documentation>La première ligne d'adresse à utiliser impérativement pour tout envoi de courrier par la poste.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="line2" type="xs:string">
				<xs:annotation>
					<xs:documentation>La deuxième ligne d'adresse à utiliser impérativement pour tout envoi de courrier par la poste.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="line3" type="xs:string">
				<xs:annotation>
					<xs:documentation>La troisième ligne d'adresse à utiliser impérativement pour tout envoi de courrier par la poste.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="line4" type="xs:string">
				<xs:annotation>
					<xs:documentation>La quatrième ligne d'adresse à utiliser impérativement pour tout envoi de courrier par la poste.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="line5" type="xs:string">
				<xs:annotation>
					<xs:documentation>La cinquième ligne d'adresse à utiliser impérativement pour tout envoi de courrier par la poste. Cette ligne n'est pas forcément renseignée.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="line6" type="xs:string">
				<xs:annotation>
					<xs:documentation>La sixième ligne d'adresse à utiliser impérativement pour tout envoi de courrier par la poste. Cette ligne n'est pas forcément renseignée.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="personMailAddressInfoType">
		<xs:complexContent>
			<xs:extension base="eCH-0010:personMailAddressInfoType">
				<xs:sequence>
					<xs:element minOccurs="0" name="salutation" type="xs:string">
						<xs:annotation>
							<xs:documentation>Les salutations selon les us et coutumes de l'ACI. Exemples : 'Monsieur', 'Madame', 'Aux héritiers de', ...
								Attention ! Cette donnée est exposée pour permettre un affichage spécialisé dans les applications fiscales. Elle ne doit pas être utilisé pour reconstruire une adresse
								qui serait utilisée pour envoyer du courrier par le poste !
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="formalGreeting" type="xs:string">
						<xs:annotation>
							<xs:documentation>La formule d'appel stricte. C'est-à-dire les salutations mais sans formule spéciale propre à l'ACI (pas de 'Aux héritiers de'). Exemples : 'Monsieur',
								'Madame', 'Madame, Monsieur', ...
								Attention ! Cette donnée est exposée pour permettre un affichage spécialisé dans les applications fiscales. Elle ne doit pas être utilisé pour reconstruire une adresse
								qui serait utilisée pour envoyer du courrier par le poste !
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="coupleMailAddressInfoType">
		<xs:sequence>
			<xs:element minOccurs="0" name="salutation" type="xs:string">
				<xs:annotation>
					<xs:documentation>Les salutations selon les us et coutumes de l'ACI. Exemples : 'Monsieur', 'Madame', 'Aux héritiers de', ...
						Attention ! Cette donnée est exposée pour permettre un affichage spécialisé dans les applications fiscales. Elle ne doit pas être utilisé pour reconstruire une adresse qui
						serait utilisée pour envoyer du courrier par le poste !
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="formalGreeting" type="xs:string">
				<xs:annotation>
					<xs:documentation>La formule d'appel stricte. C'est-à-dire les salutations mais sans formule spéciale propre à l'ACI (pas de 'Aux héritiers de'). Exemples : 'Monsieur', 'Madame',
						'Madame, Monsieur', ...
						Attention ! Cette donnée est exposée pour permettre un affichage spécialisé dans les applications fiscales. Elle ne doit pas être utilisé pour reconstruire une adresse qui
						serait utilisée pour envoyer du courrier par le poste !
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="names" type="unireg:personNameType" minOccurs="0" maxOccurs="2" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organisationMailAddressInfoType">
		<xs:complexContent>
			<xs:extension base="eCH-0010:organisationMailAddressInfoType">
				<xs:sequence>
					<xs:element minOccurs="0" name="formalGreeting" type="xs:string">
						<xs:annotation>
							<xs:documentation>La formule d'appel stricte. C'est-à-dire les salutations mais sans formule spéciale propre à l'ACI (pas de 'Aux héritiers de'). Exemples : 'Monsieur',
								'Madame', 'Madame, Monsieur', ...
								Attention ! Cette donnée est exposée pour permettre un affichage spécialisé dans les applications fiscales. Elle ne doit pas être utilisé pour reconstruire une adresse
								qui serait utilisée pour envoyer du courrier par le poste !
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="personNameType">
		<xs:sequence>
			<xs:element name="firstName" type="eCH-0010:firstNameType" minOccurs="0" />
			<xs:element name="lastName" type="eCH-0010:lastNameType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="adresseFormatteeType">
		<xs:annotation>
			<xs:documentation>Représente les 6 lignes d'adresses d'un tiers formattées selon les recommandations de la poste suisse + les informations détaillées utilisées pour la construction de ces
				six lignes.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ligne1" type="xs:string">
				<xs:annotation>
					<xs:documentation>La première ligne d'adresse à utiliser impérativement pour tout envoi de courrier par la poste.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ligne2" type="xs:string">
				<xs:annotation>
					<xs:documentation>La deuxième ligne d'adresse à utiliser impérativement pour tout envoi de courrier par la poste.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ligne3" type="xs:string">
				<xs:annotation>
					<xs:documentation>La troisième ligne d'adresse à utiliser impérativement pour tout envoi de courrier par la poste.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ligne4" type="xs:string">
				<xs:annotation>
					<xs:documentation>La quatrième ligne d'adresse à utiliser impérativement pour tout envoi de courrier par la poste.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ligne5" type="xs:string">
				<xs:annotation>
					<xs:documentation>La cinquième ligne d'adresse à utiliser impérativement pour tout envoi de courrier par la poste. Cette ligne n'est pas forcément renseignée.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ligne6" type="xs:string">
				<xs:annotation>
					<xs:documentation>La sixième ligne d'adresse à utiliser impérativement pour tout envoi de courrier par la poste. Cette ligne n'est pas forcément renseignée.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="salutations" type="xs:string">
				<xs:annotation>
					<xs:documentation>Les salutations selon les us et coutumes de l'ACI. Exemples : 'Monsieur', 'Madame', 'Aux héritiers de', ...
						Attention ! Cette donnée est exposée pour permettre un affichage spécialisé dans les applications fiscales. Elle ne doit pas être utilisé pour reconstruire une adresse qui
						serait utilisée pour envoyer du courrier par le poste !
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="formuleAppel" type="xs:string">
				<xs:annotation>
					<xs:documentation>La formule d'appel stricte. C'est-à-dire les salutations mais sans formule spéciale propre à l'ACI (pas de 'Aux héritiers de'). Exemples : 'Monsieur', 'Madame',
						'Madame, Monsieur', ...
						Attention ! Cette donnée est exposée pour permettre un affichage spécialisé dans les applications fiscales. Elle ne doit pas être utilisé pour reconstruire une adresse qui
						serait utilisée pour envoyer du courrier par le poste !
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="2" minOccurs="0" name="nomsPrenoms" type="xs:string">
				<xs:annotation>
					<xs:documentation>Les noms et prénoms (un nom + prénom par ligne, au maximum 2 lignes) pour les personnes physiques/ménages communs, ou les raisons sociales pour les débiteurs/PM.
						Attention ! Cette donnée est exposée pour permettre un affichage spécialisé dans les applications fiscales. Elle ne doit pas être utilisé pour reconstruire une adresse qui
						serait utilisée pour envoyer du courrier par le poste !
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="complement" type="xs:string">
				<xs:annotation>
					<xs:documentation>Le complément d'adresse. Par exemple : "chez Huguette Bolomey" ou "c/o Famille Bertholey".
						Attention ! Cette donnée est exposée pour permettre un affichage spécialisé dans les applications fiscales. Elle ne doit pas être utilisé pour reconstruire une adresse qui
						serait utilisée pour envoyer du courrier par le poste !
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="pourAdresse" type="xs:string">
				<xs:annotation>
					<xs:documentation>Le 'pour adresse'.
						Attention ! Cette donnée est exposée pour permettre un affichage spécialisé dans les applications fiscales. Elle ne doit pas être utilisé pour reconstruire une adresse qui
						serait utilisée pour envoyer du courrier par le poste !
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="rueNumero" type="xs:string">
				<xs:annotation>
					<xs:documentation>La rue et son numéro, dans cet ordre.
						Attention ! Cette donnée est exposée pour permettre un affichage spécialisé dans les applications fiscales. Elle ne doit pas être utilisé pour reconstruire une adresse qui
						serait utilisée pour envoyer du courrier par le poste !
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="casePostale" type="xs:string">
				<xs:annotation>
					<xs:documentation>La case postale et son numéro.
						Attention ! Cette donnée est exposée pour permettre un affichage spécialisé dans les applications fiscales. Elle ne doit pas être utilisé pour reconstruire une adresse qui
						serait utilisée pour envoyer du courrier par le poste !
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="npaLocalite" type="xs:string">
				<xs:annotation>
					<xs:documentation>Le NPA et la localité.
						Attention ! Cette donnée est exposée pour permettre un affichage spécialisé dans les applications fiscales. Elle ne doit pas être utilisé pour reconstruire une adresse qui
						serait utilisée pour envoyer du courrier par le poste !
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="pays" type="xs:string">
				<xs:annotation>
					<xs:documentation>Le pays si hors-Suisse, pas non-renseigné en cas de la Suisse.
						Attention ! Cette donnée est exposée pour permettre un affichage spécialisé dans les applications fiscales. Elle ne doit pas être utilisé pour reconstruire une adresse qui
						serait utilisée pour envoyer du courrier par le poste !
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typeAffranchissement" type="unireg:typeAffranchissementType">
				<xs:annotation>
					<xs:documentation>Le type d'affranchissement demandé par la poste pour envoyer un courrier à cette adresse.
						Attention ! Cette donnée est exposée pour permettre un affichage spécialisé dans les applications fiscales. Elle ne doit pas être utilisé pour reconstruire une adresse qui
						serait utilisée pour envoyer du courrier par le poste !
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="typeAdressePoursuiteAutreTiersType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SPECIFIQUE" />
			<xs:enumeration value="MANDATAIRE" />
			<xs:enumeration value="CURATELLE" />
			<xs:enumeration value="CONSEIL_LEGAL" />
			<xs:enumeration value="TUTELLE" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>