unireg-ws-tiers3/src/main/resources/data/fors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.vd.ch/unireg/webservices/tiers3" elementFormDefault="qualified"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:unireg="http://www.vd.ch/unireg/webservices/tiers3">
	<xs:include schemaLocation="../common.xsd" />
	<xs:complexType name="forFiscalType">
		<xs:annotation>
			<xs:documentation>Un for fiscal détermine la raison pour laquelle un contribuable est soumis à l'impôt.
				De manière générale, un for fiscal possède une date de début et une date de fin (incluse) qui délimitent une période de validité. En dehors de cette période, le for fiscal n’est pas
				valide. Une date de fin de validité nulle indique que le for est toujours actif, et peut être interprétée comme "la fin des temps". Une date de début de validité nulle n’est pas
				autorisée.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateOuverture" type="unireg:dateType">
				<xs:annotation>
					<xs:documentation>La date d'ouverture du for fiscal.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="dateFermeture" type="unireg:dateType">
				<xs:annotation>
					<xs:documentation>La date de fermeture du for fiscal. Si le for est toujours actif, cette date n'est pas renseignée.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="dateAnnulation" type="unireg:dateType">
				<xs:annotation>
					<xs:documentation>Date à laquelle le for fiscal a été annulé, ou null s'il n'est pas annulé.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="genreImpot" type="unireg:genreImpotType">
				<xs:annotation>
					<xs:documentation>Le genre d'impôt (dans 90% des cas égal à REVENU_FORTUNE ou DEBITEUR_PRESTATION_IMPOSABLE).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typeAutoriteFiscale" type="unireg:typeAutoriteFiscaleType">
				<xs:annotation>
					<xs:documentation>Cet enum permet d'interpréter le numéro OFS contenu dans noOfsAutoriteFiscale</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="noOfsAutoriteFiscale" type="xs:int">
				<xs:annotation>
					<xs:documentation>Numéro OFS étendu de la commune, du canton ou du pays de l'autorité fiscale du fors.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="motifRattachement" type="unireg:motifRattachementType">
				<xs:annotation>
					<xs:documentation>Le motif de rattachement est uniquement renseignée sur les fors fiscaux de genre = REVENU_FORTUNE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="motifOuverture" type="unireg:motifForType">
				<xs:annotation>
					<xs:documentation>Le motif d'ouverture est uniquement renseignée sur les fors fiscaux de genre = REVENU_FORTUNE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="motifFermeture" type="unireg:motifForType">
				<xs:annotation>
					<xs:documentation>Le motif de fermeture est uniquement renseignée sur les fors fiscaux de genre = REVENU_FORTUNE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="modeImposition" type="unireg:modeImpositionType">
				<xs:annotation>
					<xs:documentation>Le mode d'imposition est uniquement renseignée sur les fors fiscaux de genre = REVENU_FORTUNE et de rattachement = {DOMICILE; DIPLOMATE}</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="virtuel" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Vrai si le for fiscal n'existe pas en tel que tel, mais est une vue construite en fonction de règles métier.
						Exemple: les fors fiscaux principaux individuels des sourciers appartenant à des ménages-communs sont virtuels, car les fors fiscaux réels sont définis sur les contribuables
						ménages. Voir la part TiersPart.FORS_FISCAUX_VIRTUELS.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="forGestionType">
		<xs:annotation>
			<xs:documentation>Le for de gestion permet de retrouver l’office d’impôt compétent 'ratione loci' du contribuable. Il ne s’agit pas à proprement parler d’une notion fiscale, mais
				uniquement d’une notion propre à l’organisation de l’ACI
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="dateDebut" type="unireg:dateType">
				<xs:annotation>
					<xs:documentation>La date de début de validité du for de gestion.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="dateFin" type="unireg:dateType">
				<xs:annotation>
					<xs:documentation>La date de fin de validité du for de gestion. Si le for est toujours actif, cette date n'est pas renseignée.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="noOfsCommune" type="xs:int">
				<xs:annotation>
					<xs:documentation>Numéro OFS étendu de la commune vaudoise (qui permet de déduire l'office d'impôt compétent)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="genreImpotType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="REVENU_FORTUNE" />
			<xs:enumeration value="GAIN_IMMOBILIER" />
			<xs:enumeration value="DROIT_MUTATION" />
			<xs:enumeration value="PRESTATION_CAPITAL" />
			<xs:enumeration value="SUCCESSION" />
			<xs:enumeration value="FONCIER" />
			<xs:enumeration value="DEBITEUR_PRESTATION_IMPOSABLE" />
			<xs:enumeration value="DONATION" />
			<xs:enumeration value="CHIENS" />
			<xs:enumeration value="PATENTE_TABAC" />
			<xs:enumeration value="BENEFICE_CAPITAL" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeAutoriteFiscaleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="COMMUNE_OU_FRACTION_VD" />
			<xs:enumeration value="COMMUNE_HC" />
			<xs:enumeration value="PAYS_HS" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="motifRattachementType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOMICILE" />
			<xs:enumeration value="IMMEUBLE_PRIVE" />
			<xs:enumeration value="DIPLOMATE_SUISSE" />
			<xs:enumeration value="ACTIVITE_INDEPENDANTE" />
			<xs:enumeration value="SEJOUR_SAISONNIER" />
			<xs:enumeration value="DIRIGEANT_SOCIETE" />
			<xs:enumeration value="ACTIVITE_LUCRATIVE_CAS" />
			<xs:enumeration value="ADMINISTRATEUR" />
			<xs:enumeration value="CREANCIER_HYPOTHECAIRE" />
			<xs:enumeration value="PRESTATION_PREVOYANCE" />
			<xs:enumeration value="DIPLOMATE_ETRANGER" />
			<xs:enumeration value="LOI_TRAVAIL_AU_NOIR" />
			<xs:enumeration value="ETABLISSEMENT_STABLE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="motifForType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DEMENAGEMENT_VD" />
			<xs:enumeration value="VEUVAGE_DECES" />
			<xs:enumeration value="MARIAGE_ENREGISTREMENT_PARTENARIAT_RECONCILIATION" />
			<xs:enumeration value="SEPARATION_DIVORCE_DISSOLUTION_PARTENARIAT" />
			<xs:enumeration value="PERMIS_C_SUISSE" />
			<xs:enumeration value="MAJORITE" />
			<xs:enumeration value="ARRIVEE_HS" />
			<xs:enumeration value="ARRIVEE_HC" />
			<xs:enumeration value="FUSION_COMMUNES" />
			<xs:enumeration value="ACHAT_IMMOBILIER" />
			<xs:enumeration value="VENTE_IMMOBILIER" />
			<xs:enumeration value="DEBUT_EXPLOITATION" />
			<xs:enumeration value="FIN_EXPLOITATION" />
			<xs:enumeration value="DEPART_HS" />
			<xs:enumeration value="DEPART_HC" />
			<xs:enumeration value="INDETERMINE" />
			<xs:enumeration value="SEJOUR_SAISONNIER" />
			<xs:enumeration value="CHGT_MODE_IMPOSITION" />
			<xs:enumeration value="ANNULATION" />
			<xs:enumeration value="REACTIVATION" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="modeImpositionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ORDINAIRE" />
			<xs:enumeration value="SOURCE" />
			<xs:enumeration value="DEPENSE" />
			<xs:enumeration value="MIXTE_137_1" />
			<xs:enumeration value="MIXTE_137_2" />
			<xs:enumeration value="INDIGENT" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="periodeAssujettissementType">
		<xs:annotation>
			<xs:documentation>Cette classe contient les date de début et de fin d'une période d'assujettissement d'un contribuable pour un niveau institutionnel donné (cantonal ou fédéral).
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateDebut" type="unireg:dateType" />
			<xs:element name="dateFin" type="unireg:dateType" />
			<xs:element name="type" type="unireg:typePeriodeAssujettissementType" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="typePeriodeAssujettissementType">
		<xs:annotation>
			<xs:documentation>Défini le type d'assujettissement d'une période d'assujettissement.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="LIMITE">
				<xs:annotation>
					<xs:documentation>Type d'assujettissement pour raisons économiques uniquement (activité indépendante, immeuble, ...).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ILLIMITE">
				<xs:annotation>
					<xs:documentation>Type d'assujettissement à raison de domicile/siège (plus éventuellement pour des raisons économiques).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="periodeImpositionType">
		<xs:annotation>
			<xs:documentation>Cette classe contient les date de début et de fin d'une période d'imposition au rôle ordinaire d'un contribuable.
				Note: une période d'imposition est toujours incluse dans une année fiscale (du 1er janvier au 31 décembre). Elle peut être plus courte ou égale, mais pas plus grande.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateDebut" type="unireg:dateType" />
			<xs:element name="dateFin" type="unireg:dateType" />
			<xs:element minOccurs="0" name="idDI" type="xs:long" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType abstract="true" name="assujettissementType">
		<xs:annotation>
			<xs:documentation>Classe de base des différents types d'assujettissement théoriques d'un contribuable.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateDebut" type="unireg:dateType">
				<xs:annotation>
					<xs:documentation>La date de début de l'assujettissement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateFin" type="unireg:dateType">
				<xs:annotation>
					<xs:documentation>La date de fin de l'assujettissement. Si l'assujettissement est toujours actif, cette date n'est pas renseignée.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="motifDebut" type="unireg:motifForType">
				<xs:annotation>
					<xs:documentation>Le motif de début d'assujettissement. Non-renseigné si le motif est inconnu (pour une raison ou une autre).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="motifFin" type="unireg:motifForType">
				<xs:annotation>
					<xs:documentation>Le motif de fin d'assujettissement. Si l'assujettissement est toujours actif, cette date n'est pas renseignée.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="diplomateSuisseType">
		<xs:annotation>
			<xs:documentation>Assujettissement de type diplomate Suisse; c'est-à-dire pour un diplomate de nationalité Suisse, basé à l'étranger mais rattaché à une commune vaudoise (pour imposition à
				l'IFD).
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="unireg:assujettissementType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="horsCantonType">
		<xs:annotation>
			<xs:documentation>Assujettissement de type hors Canton; c'est-à-dire pour un contribuable domicilié dans un canton autre que le canton de vaud, et possédant un ou plusieurs fors
				secondaires actifs dans une commune vaudoise.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="unireg:assujettissementType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="horsSuisseType">
		<xs:annotation>
			<xs:documentation>Assujettissement de type hors Suisse; c'est-à-dire pour un contribuable domicilié dans un pays étranger, et possédant un ou plusieurs fors secondaires actifs dans une
				commune vaudoise.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="unireg:assujettissementType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="indigentType">
		<xs:annotation>
			<xs:documentation>Assujettissement de type indigent; c'est-à-dire pour un contribuable domicilié dans une commune vaudoise, mais n'ayant pas de revenu ni fortune personnelle et au bénéfice
				d'une décision de l'ACI l'exemptant de déclaration d'impôt.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="unireg:assujettissementType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType abstract="true" name="sourcierType">
		<xs:annotation>
			<xs:documentation>Assujettissement de type sourcier; c'est-à-dire pour un contribuable (non-Suisse et sans permis C) dont l'impôt est directement ponctionné sur son salaire (imposition à
				la source).
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="unireg:assujettissementType">
				<xs:sequence>
					<xs:element minOccurs="0" name="typeAutoriteFiscale" type="unireg:typeAutoriteFiscaleType">
						<xs:annotation>
							<xs:documentation>Le type qui permet de distinguer un sourcier vaudois, d'un hors-canton ou hors-Suisse.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sourcierPurType">
		<xs:annotation>
			<xs:documentation>Assujettissement de type sourcier; c'est-à-dire pour un contribuable (non-Suisse et sans permis C) dont l'impôt est directement ponctionné sur son salaire (imposition à
				la source).
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="unireg:sourcierType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sourcierMixteType">
		<xs:annotation>
			<xs:documentation>Assujettissement de type sourcier mixte; c'est-à-dire pour un contribuable imposé à la source mais qui remplit une déclaration d'impôt car il possède un revenu
				suffisamment élevé, ou il est en ménage avec un contribuable qui possède un permis C.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="unireg:sourcierType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="vaudoisDepenseType">
		<xs:annotation>
			<xs:documentation>Assujettissement à la dépense; c'est-à-dire pour un contribuable étranger, domicilé dans le canton de Vaud mais sans activité lucrative sur territoire Suisse, et qui a
				négocié un forfait d'imposition avec l'ACI.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="unireg:assujettissementType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="vaudoisOrdinaireType">
		<xs:annotation>
			<xs:documentation>Assujettissement de type vaudois ordinaire; c'est-à-dire pour un contribuable Suisse ou permis C, domicilié dans le canton de Vaud et exerçant une activité lucrative
				(dans le canton ou ailleurs). Ce cas représente la majorité des contribuables.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="unireg:assujettissementType" />
		</xs:complexContent>
	</xs:complexType>
</xs:schema>