unireg-wsclient-refinf/src/main/resources/RefInf.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="RefInfService" targetNamespace="http://www.vd.ch/refinf/ws/v3" xmlns:ns1="http://www.vd.ch/refinf/webservices/v3" xmlns:ns2="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vd.ch/refinf/ws/v3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:import location="http://refinf-in.etat-de-vaud.ch/registres/int-refinf/ws/v3?wsdl=RefInfPort.wsdl" namespace="http://www.vd.ch/refinf/webservices/v3">
    </wsdl:import>
  <wsdl:binding name="RefInfServiceSoapBinding" type="ns1:RefInfPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllEtatCivil">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAllEtatCivil">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllEtatCivilResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEtatCivilDesignationByCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getEtatCivilDesignationByCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEtatCivilDesignationByCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAdresseOfficielleByDesignationRue">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAdresseOfficielleByDesignationRue">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAdresseOfficielleByDesignationRueResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceVersion">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceVersion">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getServiceVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isServiceDeprecated">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="isServiceDeprecated">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="isServiceDeprecatedResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAdresseOfficielleByRueLocaliteCourte">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAdresseOfficielleByRueLocaliteCourte">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAdresseOfficielleByRueLocaliteCourteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTousLesDistricts">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTousLesDistricts">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTousLesDistrictsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServerVersion">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServerVersion">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getServerVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCommunesDeLaLocalite">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCommunesDeLaLocalite">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCommunesDeLaLocaliteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRue">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getRue">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRueResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTousLesCantons">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTousLesCantons">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTousLesCantonsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAdressesCompletesByEgid">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAdressesCompletesByEgid">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAdressesCompletesByEgidResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRuesDeLaLocaliteParNoOrdre">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getRuesDeLaLocaliteParNoOrdre">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRuesDeLaLocaliteParNoOrdreResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getToutesLesRues">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getToutesLesRues">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getToutesLesRuesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getToutesLesLocalites">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getToutesLesLocalites">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getToutesLesLocalitesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAdresseCompleteByEgidEwid">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAdresseCompleteByEgidEwid">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAdresseCompleteByEgidEwidResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAdressePostaleByEgidEwid">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAdressePostaleByEgidEwid">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAdressePostaleByEgidEwidResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEtatCivilCompletByEtatCivilDetaille">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getEtatCivilCompletByEtatCivilDetaille">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEtatCivilCompletByEtatCivilDetailleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getToutesLesCommunes">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getToutesLesCommunes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getToutesLesCommunesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdentificationAdresseByEgidEwid">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getIdentificationAdresseByEgidEwid">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getIdentificationAdresseByEgidEwidResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTousLesPays">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTousLesPays">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTousLesPaysResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchAdressesSimilairesPourEgidEwidInexistants">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="searchAdressesSimilairesPourEgidEwidInexistants">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchAdressesSimilairesPourEgidEwidInexistantsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocalitesDeLaCommune">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getLocalitesDeLaCommune">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getLocalitesDeLaCommuneResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RefInfService">
    <wsdl:port binding="tns:RefInfServiceSoapBinding" name="RefInfPortPort">
      <soap:address location="http://refinf-in.etat-de-vaud.ch/registres/int-refinf/ws/v3" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>