jaxb2/rcpers/src/main/resources/eVD-0001-4-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Gabrielle Déal (DIRECTION DES SYSTEMS D'INFORMATION) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://evd.vd.ch/xmlns/eVD-0001/4" elementFormDefault="qualified" attributeFormDefault="unqualified" version="4.0"
		   xmlns:eVD-0001="http://evd.vd.ch/xmlns/eVD-0001/4"
		   xmlns:eVD-0004="http://evd.vd.ch/xmlns/eVD-0004/3"
		   xmlns:eVD-0009="http://evd.vd.ch/xmlns/eVD-0009/1"
		   xmlns:eCH-0006="http://www.ech.ch/xmlns/eCH-0006/2"
		   xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007/4"
		   xmlns:eCH-0008="http://www.ech.ch/xmlns/eCH-0008/2"
		   xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/4"
		   xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011/5"
		   xmlns:eCH-0021="http://www.ech.ch/xmlns/eCH-0021/4"
		   xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/2"
		   xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/2"
		   xmlns:eCH-0084="http://www.ech.ch/xmlns/eCH-0084/1"
		   xmlns:eCH-0090="http://www.ech.ch/xmlns/eCH-0090/1">

	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0006/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0006/2/eCH-0006-2-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0007/4/eCH-0007-4-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0008/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0008/2/eCH-0008-2-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0010/4/eCH-0010-4-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0011/5" schemaLocation="http://www.ech.ch/xmlns/eCH-0011/5/eCH-0011-5-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0021/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0021/4/eCH-0021-4-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0044/2/eCH-0044-2-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0058/2/eCH-0058-2-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0084/1" schemaLocation="http://www.ech.ch/xmlns/eCH-0084/1/eCH-0084-commons-1-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0090/1" schemaLocation="http://www.ech.ch/xmlns/eCH-0090/1/eCH-0090-1-0.xsd"/>
	<xs:import namespace="http://evd.vd.ch/xmlns/eVD-0004/3" schemaLocation="http://evd.vd.ch/xmlns/eVD-0004/3/eVD-0004-3-0.xsd"/>
	<xs:import namespace="http://evd.vd.ch/xmlns/eVD-0009/1" schemaLocation="http://evd.vd.ch/xmlns/eVD-0009/1/eVD-0009-1-0.xsd"/>

	<xs:simpleType name="typeOfRelationshipType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>1 = Est conjoint(e)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>2 = Est partenaire enregistré</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>3 = Est mère</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>4 = Est père</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="101">
				<xs:annotation>
					<xs:documentation>101 = Est fille</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="102">
				<xs:annotation>
					<xs:documentation>102 = Est fils</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="eventTypesType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53"/>
			<xs:enumeration value="54"/>
			<xs:enumeration value="55"/>
			<xs:enumeration value="56"/>
			<xs:enumeration value="57"/>
			<xs:enumeration value="58"/>
			<xs:enumeration value="59"/>
			<xs:enumeration value="1001"/>
			<xs:enumeration value="1002"/>
			<xs:enumeration value="1003"/>
			<xs:enumeration value="1004"/>
			<xs:enumeration value="1005"/>
		</xs:restriction>
		<!-- Ce n'est pas une duplication de celui des eCH -->
		<!-- Un événement eVD-0001 ne renvoie pas tous les types de l'eCH -->
	</xs:simpleType>
	<xs:simpleType name="eventActionType">
		<xs:annotation>
			<xs:documentation>
				Action :
				• 1 = Nouveau,
				• 3 = Annulation,
				• 4 = Correction.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<!-- New -->
			<!-- KeyExchange -->
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="nationalityType">
		<xs:sequence>
			<xs:element name="nationalityStatus" type="eCH-0011:nationalityStatusType">
				<xs:annotation>
					<xs:documentation>Caractère 1.7.1.1 du catalogue officiel des caractères vaudois.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="country" type="eCH-0008:countryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.7.1.2 à 1.7.1.4 du catalogue officiel des caractères vaudois.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="naturalizationSwissDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.7.1.5 du catalogue officiel des caractères vaudois.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="undoSwissDate" type="xs:date" minOccurs="0"/>
			<xs:element name="reportingDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.7.1.6 du catalogue officiel des caractères vaudois.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="processingUnderwayType">
		<xs:sequence>
			<xs:element name="eventType" type="eVD-0001:eventTypesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 2.1 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eventTypeDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>Caractère 2.2 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eventDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 2.3 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="messageDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Caractère 2.4 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="senderId" type="eCH-0058:participantIdType">
				<xs:annotation>
					<xs:documentation>Caractère 2.5 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="personIdentificationType">
		<xs:sequence>
			<xs:element name="localPersonId" type="eCH-0044:namedPersonIdType">
				<xs:annotation>
					<xs:documentation>Caractère 1.1.1.1 du catalogue officiel des caractères vaudois, en fonction des droits de l'utilisateur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherPersonId" type="eCH-0044:namedPersonIdType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Caractère 1.1.2 du catalogue officiel des caractères vaudois, en fonction des droits de l'utilisateur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="officialName" type="eCH-0044:baseNameType">
				<xs:annotation>
					<xs:documentation>Caractère 1.2.1.1 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstNames" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.2.2.1 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfBirth" type="eCH-0044:datePartiallyKnownType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.2.3 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sex" type="eCH-0044:sexType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.2.7 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="currentResidenceType">
		<xs:sequence>
			<xs:element name="typeOfReportingRelationship" type="eVD-0009:typeOfReportingRelationshipCodeType">
				<xs:annotation>
					<xs:documentation>Caractère 1.5.1 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="residenceMunicipality" type="eCH-0007:swissMunicipalityType">
				<xs:annotation>
					<xs:documentation>Caractère 1.5.3 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="address" type="eCH-0010:swissAddressInformationType">
				<xs:annotation>
					<xs:documentation>Caractère 1.5.5 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="identityType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eVD-0001:personIdentificationType"/>
			<xs:element name="originalName" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.2.1.2 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alliancePartnershipName" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.2.1.3 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nameOnPassport" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.2.1.4 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="aliasName" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.2.1.5 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherName" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.2.1.6 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callName" type="eCH-0044:baseNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.2.2.2 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="placeOfBirth" type="eCH-0011:birthplaceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.2.4 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parent" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.2.5 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="mothersName" type="eCH-0084:fullName_Type" minOccurs="0"/>
						<xs:element name="fathersName" type="eCH-0084:fullName_Type" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="origin" type="eCH-0011:placeOfOriginType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Caractère 1.2.6 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="upiPersonType">
		<xs:sequence>
			<xs:element name="vn" type="eCH-0044:vnType">
				<xs:annotation>
					<xs:documentation>Caractère 1.3.1 du Catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="valuesStoredUnderAhvvn" type="eCH-0084:valuesStoredUnderAhvvn_Type">
				<xs:annotation>
					<xs:documentation xml:lang="fr">Caractères 1.3.2 à 1.3.13 du Catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="upiSource" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.3.14 du Catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="sedexIdSource" type="eCH-0090:participantIdType">
							<xs:annotation>
								<xs:documentation xml:lang="en">Caracétère 1.3.14 du catalogue officiel des caractères vaudois</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="sedexIdSourceUndefined">
							<xs:annotation>
								<xs:documentation xml:lang="en">Caractère 1.3.15 du catalogue officiel des caractères</xs:documentation>
							</xs:annotation>
							<xs:complexType/>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="reportingDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.3.15 du Catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="residencePermitType">
		<xs:sequence>
			<xs:element name="residencePermit" type="eCH-0006:residencePermitType">
				<xs:annotation>
					<xs:documentation>Caractère 1.7.2.1 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="residencePermitValidFrom" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.7.2.2 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="residencePermitTill" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.7.2.3 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reportingDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.7.2.4 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="residenceType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="mainResidence">
					<xs:annotation>
						<xs:documentation>Caractère 1.6.1 du catalogue officiel des caractères vaudois</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="secondaryResidence" type="eCH-0007:swissMunicipalityType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Caractère 1.5.9 du catalogue officiel des caractères vaudois</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="secondaryResidence">
					<xs:annotation>
						<xs:documentation>Caractère 1.6.1 du catalogue officiel des caractères vaudois</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="mainResidence" type="eCH-0007:swissMunicipalityType">
								<xs:annotation>
									<xs:documentation>Caractère 1.5.10 du catalogue officiel des caractères vaudois</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="otherResidence">
					<xs:annotation>
						<xs:documentation>Caractère 1.5.1 du catalogue officiel des caractères vaudois</xs:documentation>
					</xs:annotation>
					<xs:complexType/>
				</xs:element>
			</xs:choice>
			<xs:element name="reportingMunicipality" type="eCH-0007:swissMunicipalityType">
				<xs:annotation>
					<xs:documentation>Caractère 1.5.2 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="residenceMunicipality" type="eCH-0007:swissMunicipalityType">
				<xs:annotation>
					<xs:documentation>Caractère 1.5.3 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="arrivalDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.5.4.1 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comesFrom" type="eCH-0011:destinationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractères 1.5.4.2 et 1.5.4.3 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwellingAddress" type="eVD-0001:dwellingAddressType"/>
			<xs:element name="departureDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.5.7.1 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="goesTo" type="eCH-0011:destinationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractères 1.5.7.2 et 1.5.7.3 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dwellingAddressType">
		<xs:sequence>
			<xs:element name="dwelling" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="typeOfHousehold" type="eCH-0011:typeOfHouseholdType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Caractère 1.5.6.3 du catalogue officiel des caractères vaudois</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:choice minOccurs="0">
							<xs:sequence>
								<xs:element name="EGID" type="eCH-0011:EGIDType">
									<xs:annotation>
										<xs:documentation>Caractère 1.5.6.1 du catalogue officiel des caractères vaudois</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:choice minOccurs="0">
									<xs:element name="EWID" type="eCH-0011:EWIDType">
										<xs:annotation>
											<xs:documentation>Caractère 1.5.6.2 du catalogue officiel des caractères vaudois</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="householdID" type="xs:token" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Caractère 1.5.6.4 du catalogue officiel des caractères vaudois</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:choice>
							</xs:sequence>
							<xs:element name="withoutEGID">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="householdID" type="xs:token">
											<xs:annotation>
												<xs:documentation>Caractère 1.5.6.4 du catalogue officiel des caractères vaudois</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="address" type="eCH-0010:swissAddressInformationType">
				<xs:annotation>
					<xs:documentation>Caractère 1.5.5 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="movingDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.5.8 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="householdCompositionType">
		<xs:sequence>
			<xs:element name="parent" type="eVD-0001:personIdentificationType" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Caractère 1.10.1 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="child" type="eVD-0001:personIdentificationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Caractère 1.10.2 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="foundPersonType">
		<xs:sequence>
			<xs:element name="person" type="eVD-0001:personIdentificationType"/>
			<xs:element name="dateOfDeath" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.8 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nationality" type="eVD-0001:nationalityType">
				<xs:annotation>
					<xs:documentation>Caractères 7.1.1 et 7.1.2 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="residencePermit" type="eVD-0001:residencePermitType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractères 7.2 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="residence" type="eVD-0001:currentResidenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractères 1.5 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataLock" type="eCH-0021:dataLockType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.13.1 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contactType">
		<xs:sequence>
			<xs:element name="contactValidFrom" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.4.1.1 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contactValidTill" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.4.1.2 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contact" type="eCH-0010:mailAddressType">
				<xs:annotation>
					<xs:documentation>Caractère 1.4.2, 1.4.3 et 1.4.4 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="personType">
		<xs:sequence>
			<xs:element name="status">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dataLock" type="eCH-0021:dataLockType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Caractère 1.13.1 du catalogue officiel des caractères vaudois</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:choice>
							<xs:element name="canceled">
								<xs:annotation>
									<xs:documentation>Caractère 1.13.2 du catalogue officiel des caractères vaudois</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="replacedBy" type="eCH-0044:personIdentificationPartnerType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Caractère 1.13.3 du catalogue officiel des caractère vaudois</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="active">
								<xs:annotation>
									<xs:documentation>Caractère 1.13.2 du catalogue officiel des caractères vaudois</xs:documentation>
								</xs:annotation>
								<xs:complexType/>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="identity" type="eVD-0001:identityType"/>
			<xs:element name="upiPerson" type="eVD-0001:upiPersonType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractères 1.3 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="currentContact" type="eVD-0001:contactType">
					<xs:annotation>
						<xs:documentation>Caractère 1.4 du catalogue officiel des caractères vaudois. Élément contenant les adresses courantes de la personne qui peuvent être multiples en cas de résidence secondaire.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="contactHistory" type="eVD-0001:contactType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Caractère 1.4 du catalogue officiel des caractères vaudois.Élément retourné via l'utilisation du paramètre "history" du service "persons" : il contient toutes les adresses de résidence connues dans RCPers pour la personne, toute relation d'annonce confondue (principal, secondaire, autre)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice minOccurs="0">
				<xs:element name="currentResidence" type="eVD-0001:residenceType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Caractère 1.5 du catalogue des caractères vaudois. Élément contenant les adresses courantes de la personne qui peuvent être multiples en cas de résidence secondaire.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="residenceHistory" type="eVD-0001:residenceType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Caractère 1.5 du catalogue des caractères vaudois. Élément retourné via l'utilisation du paramètre "history" du service "persons" : il contient toutes les adresses de résidence connues dans RCPers pour la personne, toute relation d'annonce confondue (principal, secondaire, autre)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice>
				<xs:element name="currentMaritalStatus" type="eVD-0001:maritalDataType">
					<xs:annotation>
						<xs:documentation>Caractère 1.7 du catalogue officiel des caractères vaudois. Élément contenant l'état civil courant de la personne.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="maritalStatusHistory" type="eVD-0001:maritalDataType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Caractère 1.7 du catalogue officiel des caractères vaudois. Élément retourné via l'utilisation du paramètre "history" du service persons : il contient tous les états civils connus dans RCPers pour la personne.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="religion" type="eVD-0009:religionCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.9 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="currentNationality" type="eVD-0001:nationalityType">
					<xs:annotation>
						<xs:documentation>Caractère 1.7.1 du catalogue officiel des caractères vaudois. Élément contenant la nationalité courante de la personne.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nationalityHistory" type="eVD-0001:nationalityType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Caractère 1.7.1 du catalogue officiel des caractères vaudois. Élément retourné via l'utilisation du paramètre "history" du service persons : il contient toutes les nationalités annoncées dans RCPers pour la personne.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice minOccurs="0">
				<xs:element name="currentResidencePermit" type="eVD-0001:residencePermitType">
					<xs:annotation>
						<xs:documentation>Caractère 1.7.2 du catalogue officiel des caractères vaudois.Élément contenant le permis courant de la personne.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="residencePermitHistory" type="eVD-0001:residencePermitType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Caractère 1.7.2 du catalogue officiel des caractères vaudois. Élément retourné via l'utilisation du paramètre "history" du service persons : il contient tous les permis connus dans RCPers pour la personne.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="dateOfDeath" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.8 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="maritalDataType">
		<xs:sequence>
			<xs:element name="maritalStatus" type="eCH-0011:maritalStatusType">
				<xs:annotation>
					<xs:documentation>Caractère 1.6.1 du catalogue officiel des caractères vaudois.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfMaritalStatus" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.6.2 du catalogue officiel des caractères vaudois.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cancelationReason" type="eCH-0011:partnerShipAbolitionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.6.4 du catalogue officiel des caractères vaudois.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="separation" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Caractère 1.6.3 du catalogue officiel des caractères vaudois.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="separationType" type="eCH-0011:separationType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Caractère 1.6.3.1 du catalogue officiel des caractères vaudois.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="dateOfSeparation" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Caractère 1.6.3.2 du catalogue officiel des caractères vaudois.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="separationTill" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Caractère 1.6.3.3 du catalogue officiel des caractères vaudois.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="relationshipType">
		<xs:sequence>
			<xs:element name="typeOfRelationship" type="eVD-0001:typeOfRelationshipType">
				<xs:annotation>
					<xs:documentation>Caractère 1.12.1 du catalogue officiel des caractères vaudois :
						• 1 = Est conjoint(e),
						• 2 = Est partenaire
						• 3 = Est mère,
						• 4 = Est père,
						• 101 = Est fille,
						• 102 = Est fils.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="personLink" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>URL vers la ressource persons correspondant à cette relation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="personIdentificationPartner" type="eCH-0044:personIdentificationPartnerType">
				<xs:annotation>
					<xs:documentation>Caractères 1.3.1, 1.1.1, 1.1.2, 1.2.1, 1.2.2, 1.2.7 et 1.2.3 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="relationValidFrom" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.12.3 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="relationValidTill" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 1.12.4 du catalogue officiel des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="listOfFoundPersons">
		<xs:annotation>
			<xs:documentation>Résultat de la recherche : Liste des personnes correspondant aux critères de recherche</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="numberOfResults" type="xs:integer">
					<xs:annotation>
						<xs:documentation>Nombre de résultats total de la recherche</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="listOfResults">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="foundPerson" type="eVD-0001:foundPersonType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="nextResults" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Lien vers la suite des résultats</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="treatmentStatusType">
		<xs:choice>
			<xs:element name="processingUnderway" type="eVD-0001:processingUnderwayType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="noTreatmentInProgress">
				<xs:complexType/>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:element name="listOfPersons">
		<xs:annotation>
			<xs:documentation>Détail complet des personnes demandées</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="numberOfResults" type="xs:integer"/>
				<xs:element name="listOfResults">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="result" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="localPersonId" type="eCH-0044:namedPersonIdType">
											<xs:annotation>
												<xs:documentation>Identifiant de la personne pour laquelle la requête a été faite</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice>
											<xs:sequence>
												<xs:element name="person" type="eVD-0001:personType">
													<xs:annotation>
														<xs:documentation>Caractère 1 du catalogue officiel des caractères</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="treatmentStatus" type="eVD-0001:treatmentStatusType">
													<xs:annotation>
														<xs:documentation>Caractère 1.14 du catalogue officiel des caractères</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:element name="notReturnedPersonReason" type="eVD-0004:errorType"/>
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="nextResults" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="eventIdentificationType">
		<xs:sequence>
			<xs:element name="eventType" type="eVD-0001:eventTypesType">
				<xs:annotation>
					<xs:documentation>Caractère 2.1 du catalogue des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eventDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 2.3 du catalogue des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="messageId" type="xs:long">
				<xs:annotation>
					<xs:documentation>Caractère 2.6 du catalogue des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="action" type="eVD-0001:eventActionType">
				<xs:annotation>
					<xs:documentation>Caractère 2.7 du catalogue des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referenceMessageId" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractère 2.8 du catalogue des caractères vaudois</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="household">
		<xs:annotation>
			<xs:documentation>Composition du ménage</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="householdComposition" type="eVD-0001:householdCompositionType">
					<xs:annotation>
						<xs:documentation>Caractère 1.10 du catalogue officiel des caractères vaudois</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="listOfRelations">
		<xs:annotation>
			<xs:documentation>Liste des relations d'une personne</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="numberOfResults" type="xs:integer"/>
				<xs:element name="listOfResults">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="result" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="localPersonId" type="eCH-0044:namedPersonIdType">
											<xs:annotation>
												<xs:documentation>Identifiant de la personne pour laquelle la requête a été faite</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice>
											<xs:sequence>
												<xs:element name="currentRelation" type="eVD-0001:relationshipType" minOccurs="0" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Caractère 1.12 du catalogue des caractères vaudois. Élément contenant les relations courantes de la personne qui peuvent être multiples.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="relationHistory" type="eVD-0001:relationshipType" minOccurs="0" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Caractère 1.12 du catalogue des caractères vaudois. Élément retourné via l'utilisation du paramètre "history" du service : il contient toutes les relations connues dans RCPers pour la personne, toute relation confondue (conjoin, enfant, parent)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:element name="notReturnedRelationReason" type="eVD-0004:errorType">
												<xs:annotation>
													<xs:documentation>La liste des raisons est listée dans le manuel technique "Services d'échanges de données"</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="nextResults" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="event">
		<xs:annotation>
			<xs:documentation>Événement complet incluant l'identification de l'événement ainsi que état complet de la personne après que l'événement soit survenu</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="identification" type="eVD-0001:eventIdentificationType">
					<xs:annotation>
						<xs:documentation>Caractère 2 du catalogue des caractères vaudois</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="personAfterEvent">
					<xs:annotation>
						<xs:documentation>État de la personne juste après que l'événement soit survenu</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="person" type="eVD-0001:personType">
								<xs:annotation>
									<xs:documentation>Caractère 1 du catalogue des caractères vaudois</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="relations" type="eVD-0001:relationshipType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Caractère 1.12 du catalogue des caractères vaudois</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="eventNotification">
		<xs:annotation>
			<xs:documentation>Identification de l'événement.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="identification" type="eVD-0001:eventIdentificationType">
					<xs:annotation>
						<xs:documentation>Caractère 2 du catalogue des caractères vaudois</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="listOfTreatmentStatus">
		<xs:annotation>
			<xs:documentation>États des traitements sur la personne</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="numberOfResults" type="xs:integer"/>
				<xs:element name="listOfResults">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="result" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="localPersonId" type="eCH-0044:namedPersonIdType">
											<xs:annotation>
												<xs:documentation>Identifiant de la personne pour laquelle la requête a été faite</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice>
											<xs:element name="treatmentStatus" type="eVD-0001:treatmentStatusType">
												<xs:annotation>
													<xs:documentation>Caractère 1.14 du catalogue officiel des caractères vaudois</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="notReturnedTreatmentStatusReason" type="eVD-0004:errorType"/>
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="nextResults" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="searchCriteriaType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Critères de recherche. Voir la spécification de la recherche de personnes.</xs:documentation>
			</xs:annotation>
			<xs:element name="officialName" type="xs:string" minOccurs="0"/>
			<xs:element name="originalName" type="xs:string" minOccurs="0" />
			<xs:element name="passportName" type="xs:string" minOccurs="0" />
			<xs:element name="alliancePartnershipName" type="xs:string" minOccurs="0" />
			<xs:element name="aliasName" type="xs:string" minOccurs="0" />
			<xs:element name="otherNames" type="xs:string" minOccurs="0" />
			<xs:element name="firstNames" type="xs:string" minOccurs="0" />
			<xs:element name="dateOfBirth" type="eCH-0044:datePartiallyKnownType" minOccurs="0" />
			<xs:element name="dateOfBirthFrom" type="xs:date" minOccurs="0" />
			<xs:element name="dateOfBirthTo" type="xs:date" minOccurs="0" />
			<xs:element name="dateOfDeath" type="xs:date" minOccurs="0" />
			<xs:element name="dateOfDeathFrom" type="xs:date" minOccurs="0" />
			<xs:element name="dateOfDeathTo" type="xs:date" minOccurs="0" />
			<xs:element name="sex" type="eCH-0044:sexType" minOccurs="0"/>
			<xs:element name="nationalityStatus" type="eCH-0011:nationalityStatusType" minOccurs="0"/>
			<xs:element name="nationalityCountryId" type="xs:integer" minOccurs="0" />
			<xs:element name="town" type="xs:string" minOccurs="0" />
			<xs:element name="swissZipCode" type="xs:integer" minOccurs="0" />
			<xs:element name="municipalityId" type="xs:integer" minOccurs="0" />
			<xs:element name="typeOfReportingRelationship" type="eVD-0009:typeOfReportingRelationshipCodeType" minOccurs="0" />
			<xs:element name="residencePermit" type="eCH-0006:residencePermitType" minOccurs="0"/>
			<xs:element name="street" type="xs:string" minOccurs="0" />
			<xs:element name="searchInDeadPerson" type="xs:boolean" minOccurs="0" />
			<xs:element name="searchInCanceledPerson" type="xs:boolean" minOccurs="0" />
			<xs:element name="dataSource" minOccurs="0" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
					  <xs:enumeration value="ALL"/>
					  <xs:enumeration value="FEDERAL"/>
					  <xs:enumeration value="MUNICIPAL"/>
					</xs:restriction>
  				</xs:simpleType>
 				</xs:element>
			<xs:element name="contains" type="xs:boolean" minOccurs="0" />
			<xs:element name="history" type="xs:boolean" minOccurs="0" />
			<xs:element name="maxHits" type="xs:integer" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="asynchronousSearchRequestType">
		<xs:sequence>
			<xs:element name="criteria" type="eVD-0001:searchCriteriaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Critères de recherche. Renvoie la totalité des personnes si non précisé.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referenceDate" type="xs:date" minOccurs="0" >
				<xs:annotation>
					<xs:documentation>Date de reference pour les données des personnes. Défaut: date du jour de l'extraction</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="outputHistory" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Demande l'historique des personnes. Défaut: false</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maxPersonsByResponse" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nombre maximum de personnes renvoyées par fichier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="asynchronousSearchRequest" type="eVD-0001:asynchronousSearchRequestType"/>

	<xs:element name="asynchronousSearchResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="request" type="eVD-0001:asynchronousSearchRequestType">
					<xs:annotation>
						<xs:documentation>Critères de recherche. Renvoie la totalité des personnes si non précisé.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:sequence>
						<xs:element name="totalResponsesCount" type="xs:integer">
							<xs:annotation>
								<xs:documentation>Nombre total de fichiers renvoyés par cette recherche</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="indexOfThisResponse" type="xs:integer">
							<xs:annotation>
								<xs:documentation>Index du fichier par rapport au total</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="person" type="eVD-0001:personType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Liste des personnes retournées par cette recherche</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:element name="error" type="eVD-0004:errorType">
						<xs:annotation>
							<xs:documentation>Type d'erreur dans la request (membre du criteria en erreur)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
