unireg-wsclient-fiscal/src/main/resources/FiscalService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- version 1.0 -->
<wsdl:definitions name="FiscalService" targetNamespace="http://www.vd.ch/interfaces/Fiscal/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.vd.ch/interfaces/Fiscal/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.vd.ch/interfaces/Fiscal/">
			<xsd:element name="RechercherNoContribuable">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="noAvs" type="xsd:long" />
						<xsd:element name="nom" type="xsd:string"></xsd:element>
						<xsd:element name="prenom" type="xsd:string"></xsd:element>
						<xsd:element name="annee" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RechercherNoContribuableResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nbrOccurence" type="xsd:int"></xsd:element>
						<xsd:element name="noContribuableSeul" type="xsd:long" />
						<xsd:element name="noContribuableCouple" type="xsd:long"></xsd:element>

						<xsd:element name="sourcierPur" type="xsd:boolean"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RechercherNoContribuableRequest">
		<wsdl:part element="tns:RechercherNoContribuable" name="parameters" />
	</wsdl:message>
	<wsdl:message name="RechercherNoContribuableResponse">
		<wsdl:part element="tns:RechercherNoContribuableResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="Fiscal">
		<wsdl:operation name="RechercherNoContribuable">
			<wsdl:input message="tns:RechercherNoContribuableRequest" />
			<wsdl:output message="tns:RechercherNoContribuableResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FiscalServiceSOAP" type="tns:Fiscal">

		<soap:binding style="document"
					  transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="RechercherNoContribuable">

			<soap:operation
					soapAction="http://www.vd.ch/interfaces/Fiscal/RechercherNoContribuable" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FiscalService">
		<wsdl:port binding="tns:FiscalServiceSOAP" name="FiscalServicePort">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
